<div class="">
    <h4> Shortcuts </h4>
    <table class="table table-vmiddle table-condensed shortcut-maps">
        <tbody>
            <tr>
                <td class="col-lg-4">
                    <tr>
                        <th>
                            <b>Entity Setup </b>
                        </th>
                        <th>
                        </th>
                        <th>
                            <b>Entity Configuration </b>
                        </th>
                    </tr>
                    <tr>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> e </div>
                        </td>
                        <td>
                            Entity
                        </td>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> l </div>
                            <div class="key"> c </div>
                        </td>
                        <td>
                            Location Configuration
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> c </div>
                            <div class="key"> l </div>
                        </td>
                        <td>
                            Codelist
                        </td>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> v </div>
                            <div class="key"> c </div>
                        </td>
                        <td>
                            Vendor Configuration
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> t </div>
                        </td>
                        <td>
                            Title
                        </td>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> m </div>
                            <div class="key"> t </div>
                            <div class="key"> o </div>
                            <div class="key"> c </div>
                        </td>
                        <td>
                            MTO Configuration
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> c </div>
                            <div class="key"> n </div>
                        </td>
                        <td>
                            Country
                        </td>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> l </div>
                            <div class="key"> c </div>
                        </td>
                        <td>
                            Item Configuration
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> c </div>
                            <div class="key"> p </div>
                        </td>
                        <td>
                            Company
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> c </div>
                            <div class="key"> t </div>
                        </td>
                        <td>
                            Contacts
                        </td>
                        <th>
                            <b>Entity Maintenance </b>
                        </th>
                    </tr>
                    <tr>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> m </div>
                            <div class="key"> c </div>
                        </td>
                        <td>
                            MTO Collections
                        </td>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> l </div>
                            <div class="key"> m </div>
                        </td>
                        <td>
                            Location Maintenance
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> i </div>
                            <div class="key"> n </div>
                        </td>
                        <td>
                            Individual
                        </td>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> v </div>
                            <div class="key"> m </div>
                        </td>
                        <td>
                            Vendor Maintenance
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> v </div>
                            <div class="key"> p </div>
                        </td>
                        <td>
                            Vendor Purchase
                        </td>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> m </div>
                            <div class="key"> t </div>
                            <div class="key"> o </div>
                            <div class="key"> m </div>
                        </td>
                        <td>
                            MTO Maintenance
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> m </div>
                            <div class="key"> c </div>
                        </td>
                        <td>
                            MTO Family
                        </td>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> i </div>
                            <div class="key"> m </div>
                        </td>
                        <td>
                            Item Maintenance
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> m </div>
                            <div class="key"> p </div>
                        </td>
                        <td>
                            MTO Price Groups
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Workbench</b></td>
                    </tr>
                    <tr>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> a </div>
                        </td>
                        <td>
                            Attributes
                        </td>
                        <td width="10%">
                            <div class="key"> ctrl </div>
                            <div class="key"> shift </div>
                            <div class="key"> 1 </div>
                        </td>
                        <td>
                            Administrator Workbench
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">
                            <div class="key"> g </div>
                            <div class="key"> h </div>
                        </td>
                        <td>
                            Hierarchy
                        </td>
                        <td width="10%">
                            <div class="key"> ctrl </div>
                            <div class="key"> shift </div>
                            <div class="key"> 2 </div>
                        </td>
                        <td>
                            Business Workbench
                        </td>
                    </tr>
                </td>
            </tr>
        </tbody>
    </table>
</div>