                           <div class="col-xs-12 p-10">
                            <div class="col-xs-12 p-10" style="background: #fafafa;border: 1px solid #dadada;">
                                <div class="col-xs-12">
                                    <h5 class="text-primary">Manage Unstructured Data</h5>
                                    <div>
                                        Unstructured data in Retail calculus is maintained logically as
                                        <span class="text-warning underline">Drops</span> in a container or bucket named
                                        <span class="text-warning underline">Datalake</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 p-5 m-t-10">
                                    <div class="text-info f-500 d-flex d-flex-v-center">
                                        <i class="zmdi zmdi-hc-1x zmdi-cloud-outline"></i>
                                        <span class="m-l-5 f-13">
                                            Datalake
                                        </span>
                                    </div>
                                    <div class="p-l-10">
                                        <small>
                                            A data lake is a centralized repository that allows you to store all your unstructured data at scale.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-xs-12 p-5">
                                    <div class="text-info f-500 d-flex d-flex-v-center">
                                        <i class="zmdi zmdi-hc-1x zmdi-long-arrow-tab"></i>
                                        <span class="m-l-5 f-13">
                                            Streams
                                        </span>
                                    </div>
                                    <div class="p-l-10">
                                        <small>
                                            A stream is a channel defined as part of Datalake which controls the in and out flow of elements into the datalake.A stream
                                            can be thought of as conveyor belt attached to lake which controls the flow of
                                            data into datalake.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-xs-12 p-5">
                                    <div class="text-info f-500 d-flex d-flex-v-center">
                                        <i class="zmdi zmdi-hc-1x zmdi-bookmark-outline"></i>
                                        <span class="m-l-5 f-13">
                                            Drops
                                        </span>
                                    </div>
                                    <div class="p-l-10">
                                        <small>
                                            Drop is the actual physical entity you are planning to add to the lake by placing into the streams.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-xs-12 p-5">
                                    <div class="text-info f-500 d-flex d-flex-v-center">
                                        <i class="zmdi zmdi-hc-1x zmdi-upload"></i>
                                        <span class="m-l-5 f-13">
                                            Max File size limit
                                        </span>
                                    </div>
                                    <div class="p-l-10">
                                        <small>
                                            Maximum size supported for file upload is <strong>60 MB</strong>.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>