<div id="rightsidebar" data-ng-class="{'toggled':rrCtrl.isColumnSettingsVisible === true}">
    <div class="m-t-25 d-flex">
        <div class="p-0 cursor-pointer p-absolute" ng-click="rrCtrl.isColumnSettingsVisible = false;">
            <a>
                <i class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x" aria-hidden="true"></i>
            </a>
        </div>
        <div class="p-0 m-auto">
            <label class="editformlabel">Hide/Show
                <strong> Columns</strong>
            </label>
        </div>
    </div>
    <div class="col-xs-12 updatepanel">
        <svg height="130" width="200">
            <svg version="1.1" id="Capa_1" class="sidebar-svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="60px" y="20px" viewBox="0 0 19 19" style="enable-background:new 0 0 19 19;" xml:space="preserve" height="80"
                width="150">
                <g>
                    <circle cx="2.5" cy="16.5" r="2.5" />
                    <circle cx="2.5" cy="9.5" r="2.5" />
                    <circle cx="2.5" cy="2.5" r="2.5" />
                    <circle cx="9.5" cy="16.5" r="2.5" />
                    <circle cx="9.5" cy="9.5" r="2.5" />
                    <circle cx="9.5" cy="2.5" r="2.5" />
                    <circle cx="16.5" cy="16.5" r="2.5" />
                    <circle cx="16.5" cy="9.5" r="2.5" />
                    <circle cx="16.5" cy="2.5" r="2.5" />
                </g>
            </svg>
        </svg>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-12 p-0">
            <div class="checkbox col-xs-12 form-group">
                <label for="id_col">
                    <input id="id_col" type="checkbox" ng-true-value=true ng-false-value=false data-ng-model="rrCtrl.roundingRulesGrid.columns.id.visible"> Id
                    <i class="input-helper"></i>
                </label>
            </div>
            <div class="checkbox col-xs-12 form-group">
                <label for="price_change_reason_id_col">
                    <input id="price_change_reason_id_col" type="checkbox" ng-true-value=true ng-false-value=false data-ng-model="rrCtrl.roundingRulesGrid.columns.priceChangeReason.visible" checked> Price Change Reason
                    <i class="input-helper"></i>
                </label>
            </div>
            <div class="checkbox col-xs-12 form-group">
                <label for="price_type_id_col">
                    <input id="price_type_id_col" type="checkbox" ng-true-value=true ng-false-value=false data-ng-model="rrCtrl.roundingRulesGrid.columns.priceType.visible" checked> Price Type
                    <i class="input-helper"></i>
                </label>
            </div>
            <div class="checkbox col-xs-12 form-group">
                <label for="order_of_apply_col">
                    <input id="order_of_apply_col" type="checkbox" ng-true-value=true ng-false-value=false data-ng-model="rrCtrl.roundingRulesGrid.columns.orderOfApply.visible" checked> Order of Apply
                    <i class="input-helper"></i>
                </label>
            </div>
            <div class="checkbox col-xs-12 form-group">
                <label for="unr_price_col">
                    <input id="unr_price_col" type="checkbox" ng-true-value=true ng-false-value=false data-ng-model="rrCtrl.roundingRulesGrid.columns.unrPrice.visible" checked> UNR Price
                    <i class="input-helper"></i>
                </label>
            </div>
            <div class="checkbox col-xs-12 form-group">
                <label for="unr_price_decimal_col">
                    <input id="unr_price_decimal_col" type="checkbox" ng-true-value=true ng-false-value=false data-ng-model="rrCtrl.roundingRulesGrid.columns.unrPriceDecimal.visible" checked> UNR Price Decimal
                    <i class="input-helper"></i>
                </label>
            </div>
            <div class="checkbox col-xs-12 form-group">
                <label for="rnr_price_col">
                    <input id="rnr_price_col" type="checkbox" ng-true-value=true ng-false-value=false data-ng-model="rrCtrl.roundingRulesGrid.columns.rnrPrice.visible" checked> RNR Price
                    <i class="input-helper"></i>
                </label>
            </div>
        </div>
    </div>
</div>