<div class="visible-lg" data-ng-controller="MynotificationController as notifCtrl" ng-init="activityPage=true">
    <!--<div class="col-lg-12" style="margin: 10px 0px 10px 0px;">
        <div class="col-lg-2" style="margin:inherit; border-bottom: 3px solid #f5f5f6;" ng-click="showUser=true; activityPage=false">
            <a href=""><i class="zmdi zmdi-account" style="color:#5d4565;font-size: 25px;"></i></a>
        </div>
        <div class="col-lg-2" ng-click="showUser=false; activityPage=true" style="margin:inherit">
            <a href=""><i class="zmdi zmdi-view-list-alt zmdi-hc-2x"></i></a>
        </div>
        <div class="col-lg-2" style="margin:inherit">
            <a href=""><i class="zmdi zmdi-time zmdi-hc-2x"></i></a>
        </div>
        <div class="col-lg-2" ng-click="showCalender= true;" style="margin:inherit">
            <a href=""><i class="zmdi zmdi-calendar zmdi-hc-2x"></i></a>
        </div>
        <div class="col-lg-2" style="margin:inherit">
            <a href=""><i class="zmdi zmdi-comments zmdi-hc-2x"></i></a>
        </div>
    </div>-->
    <div data-ng-if="activityPage">
        <div class="col-lg-12">
            <div class="clock">
                <div class="inside">
                    <!--<div class="content">
                        <p class='text'><span id='hours'></span> : <span id='min'></span> : <span id='sec'></span>&nbsp;&nbsp;<span id='time'></span></p>
                    </div>-->
                    <div ng-controller='TimeController'>
                        <div>
                            <span class='clocktext'>{{ clock | FormatTime}}</span>
                        </div>
                        <div>
                            <span class='text'>{{ today_date }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="col-lg-12 col-md-12 col-sm-12 p-0">
            <div class="col-lg-12" style="text-align: center; background-color:#5d4565; color:#fff;    margin-bottom: 4px;    padding: 5px;">
                <label style="font-size: 1.6em;font-family: Roboto Condensed;font-size: 16px;font-weight: normal;">{{notifCtrl.user_info.name}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                <div>
                    <div style="padding: 5px 10px 5px 9px;font-family: 'Roboto Condensed';font-size: 15px;font-weight: 400;color: #5d4565;background:#f2f0f4;">
                        Email : {{notifCtrl.user_info.recovery_email}}
                    </div>
                    <div style="padding: 5px 10px 5px 9px;font-family: 'Roboto Condensed';font-size: 15px;font-weight: 400;color: #5d4565;background:#f2f0f4;">
                        Phone : {{notifCtrl.user_info.phone_number}}
                    </div>
                    <div style="padding: 5px 10px 5px 9px;font-family: 'Roboto Condensed';font-size: 15px;font-weight: 400;color: #5d4565;background:#f2f0f4;">
                        Active Sessions : {{notifCtrl.session_count}}
                    </div>
                </div>
            </div>
        </div>

        <div class="container col-lg-12 p-0">
            <div id="calendar-widget" data-full-calendar></div>
        </div>
    </div>
    <div data-ng-if="showUser">
        <div class="col-lg-12" style="text-align: center;">
            <label style="font-size: 1.6em;padding: 10px 0px 0px 60px;padding: 6px;font-family: Roboto Condensed;font-size: 19px;font-weight: normal;background-color: white;color: #81638c;">Binish John</label>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="" style="margin: 0px 7px 0px 9px;">
                <div>
                    <div style="padding: 5px 10px 5px 9px;font-family: 'Roboto Condensed';font-size: 15px;font-weight: 700;background-color: #81638c;color: #5d4565;margin-top: 12px;background: linear-gradient(90deg, #f6f1f7 87%, #5d4565 16%);">
                        Billing Operator
                    </div>
                    <div style="padding: 5px 10px 5px 9px;font-family: 'Roboto Condensed';font-size: 15px;font-weight: 700;background-color: #81638c;color: #5d4565;margin-top: 12px;background: linear-gradient(90deg, #f6f1f7 87%, #5d4565 16%);">
                        Email : binish.john@rcprime.com
                    </div>
                    <div style="padding: 5px 10px 5px 9px;font-family: 'Roboto Condensed';font-size: 15px;font-weight: 700;background-color: #81638c;color: #5d4565;margin-top: 12px;background: linear-gradient(90deg, #f6f1f7 87%, #5d4565 16%);">
                        Phone : 9663885901
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div>
                <div style="margin-top: 15px;padding: 5px 10px 5px 9px;font-family: 'Roboto Condensed';font-size: 15px;font-weight:700;background-color: #81638c;color: #ffffff;">
                    New Item Created
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--<div ng-init="tab = 3" data-ng-controller="MynotificationController as notifCtrl">
    <div style="width: inherit;height: 70px;">
        <label style="font-size: 18px;font-weight: bold;padding:10px 0px 0px 15px;color: black;">My Notifications</label>
    </div>
    <notification-item items="notifCtrl.items"></notification-item>

</div>-->