<style>
    button#create_new_btn {
    display: none;
    }
    
    button:focus{
        outline: 5px auto #6ecaf6!important
    }
</style>
<div class="col-xs-12 p-0 rcp-scrollbar" data-ng-controller="ContactsController as cntCtrl">
    <div class="col-xs-12 m-t-20 p-0" data-ng-init="cntCtrl.getContactsList(undefined);" data-ng-if="!cntCtrl.isSaveSuccess && !cntCtrl.isUpdateSuccess && !cntCtrl.isDeleteSuccess">
        <div class="col-xs-12 form-group" data-ng-if1="!cntCtrl.isUpdateSuccess">
            <button class="f-500 btn-primal waves-block pull-right"
                ng-click="cntCtrl.displayContactSection();"><span>{{cntCtrl.addBtnLabel}}</span>
            </button>
            <button class="f-500 btn-primal waves-block pull-right m-r-10" ng-click="cntCtrl.getContactsList(true);"
                data-ng-disabled="!cntCtrl.isLoaded"><span>Refresh</span>
            </button>
        </div>
        <div class="col-xs-12" ng-if="cntCtrl.isContactSectionVisisble">
            <ng-form role="form " novalidate="novalidate" name="cntCtrl.contact_form" valdr-type="CONTACT-RULES">
                <div class="form-group" valdr-form-group>
                    <span style="color:red" ng-show="cntCtrl.contact_form.status_id.$invalid">* </span>
                    <span style="color:green" ng-show="cntCtrl.contact_form.status_id.$valid">* </span>
                    <label>Status</label>
                    <select name="status_id" id="status_id"
                        class="form-control select-component input-sm"
                        ng-options="item.code as item.description for item in statuses|filter: {description: '!Discontinued'}"
                        ng-model="cntCtrl.contact_details.status_id"
                        errorvaluechosen="cntCtrl.contact_details.status_id_error"
                        ng-change="cntCtrl.contact_details.status=(statuses|filter:{code:cntCtrl.contact_details.status_id})[0].description"
                        required>
                        <option value="" disabled>Select Status</option>
                    </select>
                </div>
                <div class="form-group" valdr-form-group>
                    <span style="color:red" ng-show="cntCtrl.contact_form.type_id.$invalid">* </span>
                    <span style="color:green" ng-show="cntCtrl.contact_form.type_id.$valid">* </span>
                    <label>Contact Type</label>
                    <select name="type_id" id="type_id"
                        class="form-control select-component input-sm"
                        ng-options="type.id as type.contact_type for type in cntCtrl.contactTypes"
                        ng-model="cntCtrl.contact_details.type_id"
                        ng-change="cntCtrl.contact_details.contact_type=(cntCtrl.contactTypes|filter:{id:cntCtrl.contact_details.type_id})[0].contact_type; cntCtrl.addValidationRules();cntCtrl.contact_details.information = '';"
                        required>
                        <option value="" disabled>Select Type</option>
                    </select>
                </div>
                <div class="form-group" valdr-form-group
                    ng-if="cntCtrl.contactSubTypes.length > 0 && cntCtrl.contact_form.type_id.$valid">
                    <span style="color:red" ng-show="cntCtrl.contact_form.sub_type_id.$invalid">* </span>
                    <span style="color:green" ng-show="cntCtrl.contact_form.sub_type_id.$valid">* </span>
                    <label>Contact Sub Type</label>
                    <select name="sub_type_id" id="sub_type_id"
                        class="form-control select-component input-sm" ng-model="cntCtrl.contact_details.sub_type_id"
                        ng-options="subtype.id as subtype.sub_type for subtype in cntCtrl.contactSubTypes | filter : {type_id : cntCtrl.contact_details.type_id}"
                        required>
                        <option value="" disabled>Select Sub Type</option>
                    </select>
                </div>
                <div class="form-group" ng-if="cntCtrl.contact_details.type_id && cntCtrl.contact_details.type_id === 1"
                    valdr-form-group>
                    <span style="color:red" ng-show="cntCtrl.contact_form.information.$invalid">* </span>
                    <span style="color:green" ng-show="cntCtrl.contact_form.information.$valid">* </span>
                    <label>{{cntCtrl.contact_details.contact_type}}</label>
                    <input id="information" name="information" class="form-control input-sm" type="text"
                        phone-input ng-model="cntCtrl.contact_details.information"
                        placeholder="Enter {{cntCtrl.contact_details.contact_type}}"
                        ng-model-options="{ updateOn: 'blur' }"
                        errorvaluechosen="cntCtrl.contact_details.information_error" required />
                </div>
                <div class="form-group" ng-if="cntCtrl.contact_details.type_id && cntCtrl.contact_details.type_id !== 1"
                    valdr-form-group>
                    <span style="color:red" ng-show="cntCtrl.contact_form.information.$invalid">* </span>
                    <span style="color:green" ng-show="cntCtrl.contact_form.information.$valid">* </span>
                    <label>{{cntCtrl.contact_details.contact_type}}</label>
                    <input id="information" name="information" class="form-control input-sm" type="text"
                        ng-model="cntCtrl.contact_details.information"
                        placeholder="Enter {{cntCtrl.contact_details.contact_type}}"
                        ng-model-options="{ updateOn: 'blur' }"
                        errorvaluechosen="cntCtrl.contact_details.information_error" required />
                </div>
                <div class="form-group">
                    <button type="button" class="btn-block btn-primal btn-lg"
                        ng-click="cntCtrl.save(cntCtrl.contact_details);"
                        ng-class="{'btn-danger': cntCtrl.saveBtnError === true}"
                        data-ng-disabled="cntCtrl.contact_form.$invalid || !cntCtrl.isLoaded">
                        <strong>{{cntCtrl.saveBtnText}}</strong>
                    </button>
                </div>
            </ng-form>
            <div class="col-xs-12 p-0 m-b-10 d-flex justify-content-between align-items-center"
                data-ng-if="cntCtrl.showLinkContactsection">
                <div class="col-xs-12 p-0 d-flex align-items-center">
                    <div class="col-xs-12 rc-alert rc-alert-info flex-column">
                        <div class="col-xs-12 d-flex m-b-5 p-0">
                            <div class="rc-alert-icon m-r-10">
                                <span class="zmdi zmdi-alert-polygon" style="font-size:35px;color: #ff6c3c;">
                                </span>
                            </div>
                            <div style="flex:1;">
                                <div>
                                    <div class="f-15 f-700 text-info m-b-5">Contact exist!</div>
                                    <div>
                                        <span class="f-14">
                                            Contact detail is already in use.
                                            Do you want to<strong> link the existing contact?</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 p-0 m-t-10 d-flex justify-content-between align-item-center">
                                    <div class="col-xs-12 m-r-5 p-0">
                                        <div class="alert alert-success alert-dismissable m-b-0 p-t-5 p-b-5"
                                            data-ng-show="cntCtrl.responseLinkContactMessage">
                                            <a class="close" data-ng-click="cntCtrl.responseLinkContactMessage = null"
                                                aria-hidden="true">&times;</a>
                                            {{cntCtrl.responseLinkContactMessage}}
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <button type="button" class="btn cloudcart-admin-button-white m-r-5"
                                            id="show_link_contact_close_btn"
                                            data-ng-click="cntCtrl.showLinkContactsection = false;cntCtrl.isLoaded = true "
                                            data-ng-disabled="cntCtrl.isLinkingContact">
                                            <strong>Cancel</strong>
                                        </button>
                                        <button type="button" class="btn cloudcart-admin-button-blue m-r-5"
                                            id="show_link_contact_btn"
                                            data-ng-click="cntCtrl.saveContactLink(cntCtrl.contact_details);">
                                            <span data-ng-if="cntCtrl.isLinkingContact">
                                                <i class="fa fa-spinner fa-spin m-r-5"></i>
                                            </span>
                                            <strong>Link Contact</strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 m-t-10">
            <div data-ng-show="cntCtrl.message && !cntCtrl.errorMessage" class="alert alert-success p-10">
                <button type="button" class="close" data-ng-click="cntCtrl.message = null"
                    aria-hidden="true">&times;</button>
                {{cntCtrl.message}}
            </div>
                <div data-ng-show="cntCtrl.errorMessage && !cntCtrl.message"
                    class="alert alert-danger alert-dismissable p-5">
                    <button type="button" class="close" data-ng-click="cntCtrl.errorMessage = null"
                        aria-hidden="true">&times;</button> {{cntCtrl.errorMessage}}
            </div>
        </div>
        <div class="col-xs-12 m-t-10 o-auto" data-ng-if1="!cntCtrl.isUpdateSuccess" ng-class1="{'pre-scrollable':cntCtrl.isContactSectionVisisble === true}">
            <div class="col-xs-12 form-group d-flex p-0" style="justify-content:space-around;">
                <div class="d-flex p-0">
                    <div class="m-r-5"
                        style="background: rgba(0, 128, 0, 0.47);height: 15px;width: 15px;border-radius: 1px;">
                    </div>
                    Active
                </div>
                <div class="d-flex">
                    <div class="m-r-5"
                        style="background: rgba(255, 165, 0, 0.47);height: 15px;width: 15px;border-radius: 1px;">
                    </div>
                    Pending Active
                </div>
                <div class="d-flex">
                    <div class="m-r-5"
                        style="background: rgba(255, 0, 0, 0.47);height: 15px;width: 15px;border-radius: 1px;">
                    </div>
                    Inactive
                </div>
                <div class="d-flex">
                    <div class="m-r-5"
                        style="background: rgba(33, 150, 243, 0.47);height: 15px;width: 15px;border-radius: 1px;">
                    </div> Pending Inactive
                </div>
            </div>
            <div class="col-xs-12 m-b-10 p-10" style="border: 1px solid lightgrey;box-shadow: 2px 2px 5px lightgrey;"
                ng-repeat="contact in cntCtrl.contactsList track by $index">
                <div class="col-xs-12 p-5 d-flex">
                    <div class="col-xs-10 p-0">
                        <div data-ng-if="contact[$index] && (cntCtrl.currentIndex === $index)"><span
                                class="f-700">Update
                                Contact</span></div>
                        <div class="d-flex" style="align-items:center;"
                            ng-if="!contact[$index] || (cntCtrl.currentIndex !== $index)">
                            <div class="m-r-10 addr-acronym" ng-class="{
                                'active' : contact.status.toLowerCase() === 'active', 
                                'pending' : contact.status.toLowerCase() ==='pending active', 
                                'inactive' : contact.status.toLowerCase() ==='inactive', 
                                'discontinued' : contact.status.toLowerCase() === 'pending inactive'
                            }">
                                {{contact.contact_type |acronym}}
                            </div>
                            <span class="f-300">{{contact.contact_type}} :
                                <span >
                                    <span class="f-700" data-ng-if="contact.type_id === 1">
                                        {{contact.information | telephone}}</span><span clss="f-300" data-ng-if="contact.type_id === 1"> ({{contact.sub_type}})</span>
                                    <span class="f-700" data-ng-if="contact.type_id !== 1" title="{{contact.information}}"
                                        title-direction="bottom">
                                        {{contact.information | truncate: 25}}
                                    </span><span clss="f-300" data-ng-if="contact.type_id !== 1"> ({{contact.sub_type}})</span>
                        </div>
                    </div>
                    <div data-ng-if="!contact.confirmDelete" class="col-xs-2 p-0 d-flex"
                        style="align-items:center;justify-content:flex-end;">
                        <button type="button" data-ng-if="!contact[$index] || (cntCtrl.currentIndex !== $index)"
                            data-ng-click="cntCtrl.displayUpdateForm(contact,true,$index);"
                            class="zmdi zmdi-edit zmdi-hc-fw cursor-pointer f-21 c-green bg-none border-none"></button>
                        <button type="button" data-ng-if="contact[$index] && (cntCtrl.currentIndex === $index)"
                            data-ng-click="cntCtrl.closeUpdateForm(contact,$index);"
                            class="zmdi zmdi-close zmdi-hc-fw cursor-pointer f-21 c-red bg-none border-none"></button>
                        <button type="button" data-ng-if="!contact[$index] || (cntCtrl.currentIndex !== $index)"
                            data-ng-click="contact.confirmDelete = true"
                            class="zmdi zmdi-delete zmdi-hc-fw cursor-pointer f-21 bg-none border-none" style="color:darkred;"></button>
                    </div>
                </div>
                <div data-ng-if="contact.confirmDelete" class="col-xs-12 p-0 d-flex p-t-10"
                    style="align-items:center; justify-content: space-between;border-top: 1px solid #ececec">
                    <span> Are you sure you want to delete contact? </span>
                    <div class="p-0">
                        <button class="btn btn-primal btn-sm m-r-5" type="button"
                            data-ng-click="cntCtrl.delete(contact.contact_id)" aria-hidden="true">
                            Yes
                        </button>
                        <button class="btn btn-secondary btn-sm" type="button"
                            data-ng-click="contact.confirmDelete = false" aria-hidden="true">
                            No
                        </button>
                    </div>
                </div>
                <div class="col-xs-12 p-0 p-t-10" style="border-top: 1px solid #ececec;"
                    data-ng-show="contact[$index] && (cntCtrl.currentIndex === $index)">
                    <ng-form role="form" novalidate="novalidate" name="cntCtrl.contact_update_form"
                        valdr-type="CONTACT-RULES">
                        <div class="col-xs-6 m-b-10 p-l-0" valdr-form-group>
                            <span style="color:red" ng-show="cntCtrl.contact_update_form.status_id.$invalid">* </span>
                            <span style="color:green" ng-show="cntCtrl.contact_update_form.status_id.$valid">* </span>
                            <label>Status</label>
                            <select name="status_id" id="status_id"
                                class="form-control select-component input-sm"
                                ng-options="item.code as item.description disable when (item.code === cntCtrl.statusCodes.Pending.ID && cntCtrl.oldContact.status_id !== cntCtrl.statusCodes.Pending.ID) for item in statuses|filter: {description: '!Discontinued'}"
                                ng-model="cntCtrl.contact_details.status_id"
                                errorvaluechosen="cntCtrl.contact_details.status_id_error"
                                ng-change="cntCtrl.contact_details.status=(statuses|filter:{code:cntCtrl.contact_details.status_id})[0].description;"
                                required>
                                <option value="" disabled>Select Status</option>
                            </select>
                        </div>
                        <div class="col-xs-6 m-b-10 p-r-0" valdr-form-group>
                            <span style="color:red" ng-show="cntCtrl.contact_update_form.type_id.$invalid">* </span>
                            <span style="color:green" ng-show="cntCtrl.contact_update_form.type_id.$valid">* </span>
                            <label>Type</label>
                            <select name="type_id" id="type_id"
                                class="form-control select-component input-sm"
                                ng-options="type.id as type.contact_type for type in cntCtrl.contactTypes"
                                ng-model="cntCtrl.contact_details.type_id"
                                ng-change="cntCtrl.contact_details.contact_type=(cntCtrl.contactTypes|filter:{id:cntCtrl.contact_details.type_id})[0].contact_type; cntCtrl.contact_details.information = '';cntCtrl.addValidationRules();"
                                required>
                                <option value="" disabled>Select Type</option>
                            </select>
                        </div>
                        <div class="col-xs-6 m-b-10 p-l-0" valdr-form-group>
                            <span style="color:red" ng-show="cntCtrl.contact_update_form.sub_type_id.$invalid">* </span>
                            <span style="color:green" ng-show="cntCtrl.contact_update_form.sub_type_id.$valid">* </span>
                            <label>Sub Type</label>
                            <select name="sub_type_id" id="sub_type_id"
                                class="form-control select-component input-sm"
                                ng-model="cntCtrl.contact_details.sub_type_id"
                                ng-options="subtype.id as subtype.sub_type for subtype in cntCtrl.contactSubTypes | filter : {type_id : cntCtrl.contact_details.type_id}"
                                required>
                                <option value="" disabled>Select Sub Type</option>
                            </select>
                        </div>
                        <div class="col-xs-12 m-b-10 p-0"
                            ng-if="cntCtrl.contact_details.contact_type.toLowerCase() == 'phone'" valdr-form-group>
                            <span style="color:red" ng-show="cntCtrl.contact_update_form.information.$invalid">* </span>
                            <span style="color:green" ng-show="cntCtrl.contact_update_form.information.$valid">* </span>
                            <label>{{cntCtrl.contact_details.contact_type}}</label>
                            <input id="information" name="information" class="form-control input-sm"
                                type="text" phone-input ng-model="cntCtrl.contact_details.information"
                                placeholder="Enter {{cntCtrl.contact_details.contact_type | telephone}}"
                                ng-model-options="{ updateOn: 'blur' }"
                                errorvaluechosen="cntCtrl.contact_details.information_error" required />
                        </div>
                        <div class="col-xs-12 m-b-10 p-0"
                            ng-if="cntCtrl.contact_details.contact_type.toLowerCase() == 'email'" valdr-form-group>
                            <span style="color:red" ng-show="cntCtrl.contact_update_form.information.$invalid">* </span>
                            <span style="color:green" ng-show="cntCtrl.contact_update_form.information.$valid">* </span>
                            <label>{{cntCtrl.contact_details.contact_type}}</label>
                            <input id="information" name="information" class="form-control input-sm"
                                type="text" ng-model="cntCtrl.contact_details.information"
                                placeholder="Enter {{cntCtrl.contact_details.contact_type}}"
                                ng-model-options="{ updateOn: 'blur' }"
                                errorvaluechosen="cntCtrl.contact_details.information_error" required />
                        </div>
                                <button class="btn-primal waves-block pull-right"
                                    data-ng-click="cntCtrl.update(cntCtrl.contact_details);"
                                    data-ng-disabled="cntCtrl.contact_update_form.$invalid || !cntCtrl.isLoaded">{{cntCtrl.updateBtnText}}</button>
                    </ng-form>
                </div>
            </div>
            <div ng-if="cntCtrl.contactsList.length === 0"
                class="col-xs-12 text-center text-info f-14 f-300 m-t-10 p-t-10">No
                contact exist for this
                {{cntCtrl.entityName | lowercase}}</div>
        </div>
    </div>
    <div class="col-xs-12">
        <rcp-success-form  success-tick="success_tick.svg" data-ng-click="cntCtrl.focusContactTab();"
        save-success="cntCtrl.isSaveSuccess" update-success="cntCtrl.isUpdateSuccess" delete-success="cntCtrl.isDeleteSuccess" close-fn="cntCtrl.closeForm();"></rcp-success-form>
    </div>
</div>