<div class="col-xs-12 p-0 module-content-configuration">
    <div class="col-lg-12 d-flex justify-content-center">
        <div class="access-denied-section col-lg-8">
            <div class="access-icon d-flex justify-content-center" style="min-height:150px"> 
                <img src="./img/access-dark.svg" alt="img">
            </div>
            <div class="access-title d-flex justify-content-center m-t-25 m-b-25">
                <h3 class="m-0">Access Denied</h3>
            </div>
            <div class="access-denied-description d-flex justify-content-center">
                <p class="m-0 text-center m-b-15 c-gray">Sorry, but you don't have permission to access this page.<br>You can submit a request for access Retail Calculus Administrator by filling below form.</p>
            </div>
            <div class="access-denied-request d-flex justify-content-center">
                <div class="col-lg-5 col-sm-10 p-0 d-flex">
                    <textarea class="resize-none p-10 access-denied-text-area c-gray" placeholder="Your request..." rows="1"></textarea>
                    <button class="access-request-btn pull-right">Request Access</button>
                </div>
            </div>
            <div class="d-flex justify-content-center m-t-15">
                <a class="back-to-dashboard" ui-sref="common.dashboard">Back To Dashboard</a>
            </div>
        </div>
    </div> 
</div>
