<style>
    .styled-checkbox {
        position: absolute;
        opacity: 0;
    }

    .styled-checkbox+label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    .styled-checkbox+label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
        width: 20px;
        height: 20px;
        background: #e2e2e2;
    }

    .styled-checkbox:hover+label:before {
        background: #5f99f3;
    }

    .styled-checkbox:checked+label:before {
        background: #5f99f3;
    }

    .styled-checkbox:disabled+label {
        color: #b8b8b8;
        cursor: auto;
    }

    .styled-checkbox:disabled+label:before {
        box-shadow: none;
        background: #ddd;
    }

    .styled-checkbox:checked+label:after {
        content: '';
        position: absolute;
        left: 4px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
<div>
    <div id="rcrightsidebar" class="toggled" data-ng-if="!itemTypeCtrl.showLockedScreen">
        <div>
            <div class="m-t-25" style="display:flex">
                <div class="p-0 p-absolute cursor-pointer">
                    <a class="cursor-pointer" data-ng-click="itemTypeCtrl.isShowClonePanel=false;itemTypeCtrl.isSaveSuccess=false">
                        <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x"></span>
                    </a>
                </div>
                <div class="p-0 m-auto">
                    <label class="rclabel editformlabel" title="UPC">Clone
                        <strong>Item Type</strong>
                    </label>
                </div>
            </div>
            <div class="col-xs-12" data-ng-if="!itemTypeCtrl.isSaveSuccess">
                <div class="d-flex m-b-10 m-t-10">
                    <div class="m-auto updatepanel">
                        <div data-ng-include="'./application/modules/item/type/module.svg'"></div>
                    </div>
                </div>
                <!-- container -->
                <div class="m-5" data-ng-init="itemTypeCtrl.showDetails=true;itemTypeCtrl.showAdvanced=false;" style="display: flex;
                        flex-direction: column;
                        align-items: flex-start;">
                    <span class="f-700 c-orange text-center" ng-bind-html="itemTypeCtrl.type.itemTypePath"></span>
                </div>
                <div>
                </div>
                <ng-form name="clone_form" novalidate="novalidate" role="form" valdr-type="RULES-30">
                <div class="form-group m-t-10" valdr-form-group data-ng-if="itemTypeCtrl.isPrimaryHierarchyLoaded">
                    <span class="c-red" ng-show="!itemTypeCtrl.new_type.item_type_id">* </span>
                    <span class="c-green" ng-show="itemTypeCtrl.new_type.item_type_id">* </span>
                    <label class="maintenance-field-label">Item Type</label>
                    <hierarchy-tree-view primary-hierarchy-id="itemTypeCtrl.productExplorerId" path="head.primary_item_hierarchy_value_path"
                        primary-hierarchy-value-id="" directive-end-fn='end(directiveData)' enable-valdr-validation
                        enable-valdr-message form-data="head" form-header="Item Type" tree-view-fn="itemTypeCtrl.toggleTreeViewPanel(flagData)"
                        clear-path="itemTypeCtrl.clearPath" disable-ids="itemTypeCtrl.itemTypeIds"></hierarchy-tree-view>
                </div>
                <div class="form-group" valdr-form-group>
                    <span class="c-red" ng-show="clone_form.status_id.$invalid">* </span>
                    <span class="c-green" ng-show="clone_form.status_id.$valid">* </span>
                    <label>Status</label>
                    <select id="status_id" name="status_id" class="form-control select-component input-sm"
                        ng-model="itemTypeCtrl.new_type.status_id" ng-options="each.code as each.description for each in statuses"
                        errorvaluechosen="itemTypeCtrl.new_type.status_id_error" required="">
                        <option value="" disabled>Select Status</option>
                    </select>
                </div>
                <div class="m-t-10 p-5">
                    <div>
                        <input class="styled-checkbox" type="checkbox" ng-model="itemTypeCtrl.isCloneUdds" data-ng-init="itemTypeCtrl.isCloneUdds=true"
                            id="clone_drops_checkbox">
                        <label for="clone_drops_checkbox">Include Item Type UDDs</label>
                    </div>
                </div>
                <div data-ng-init="itemTypeCtrl.showCloningForm=true">
                    <hr>
                    <div class="m-10" style="display: flex;justify-content: space-around;align-items: baseline;justify-items: center;flex-direction: row-reverse;">
                        <button type="button" class="btn btn-success btn-block waves-effect" style="display: flex;justify-content: center;flex: 10;"
                            data-ng-disabled="(!itemTypeCtrl.new_type.item_type_id||!itemTypeCtrl.new_type.status_id)||itemTypeCtrl.isCloning" ng-click="itemTypeCtrl.cloneItemType();">
                            <span> Clone </span>
                        </button>
                    </div>
                    <div class="f-12 text-muted">
                        Cloning item type will create a copy of item type details and clone all user defined data
                        linked to it.
                    </div>
                    <hr>
                </div>
                </ng-form>
                <div class="col-xs-12 p-0">
                    <div data-ng-if="itemTypeCtrl.cloneMessage" class="alert alert-success">
                        <button type="button" class="close" data-ng-click="itemTypeCtrl.cloneMessage = null"
                            aria-hidden="true">&times;</button>
                        {{itemTypeCtrl.cloneMessage}}
                    </div>
                    <div data-ng-if="itemTypeCtrl.cloneError" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-ng-click="itemTypeCtrl.cloneError = null" aria-hidden="true">&times;</button>
                        {{itemTypeCtrl.cloneError}}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <rcp-success-form  success-tick="success_tick.svg"
                clone-success="itemTypeCtrl.isSaveSuccess" close-fn="itemTypeCtrl.closeForm();"></rcp-success-form>
            </div>
        </div>
    </div>
    <secondary-authentication feature-code="'item-type-clone'" show-locked-screen="itemTypeCtrl.showLockedScreen"
        close-fn="itemTypeCtrl.isShowClonePanel=false;" data-ng-if="itemTypeCtrl.showLockedScreen">
    </secondary-authentication>
</div>