.sku-list-box {
  z-index: 2;
  width: 600px;
  left: -557px;
  top: 37px;
  background: white;
  box-shadow: 0px 0px 3px #ababab;
  /* transition: all 0.3s;
  animation: 0.3s ease-out 0s 1 slideInFromTop; */
}

.sku-list-box:after {
  content: '';
  position: absolute;
  top: -11px;
  right: 3%;
  filter: drop-shadow(0px -2px 0px #dfdfdf);
  border-bottom: 13px solid #fffdf9;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.sku-list-box .info-description {
  background: #f9f9f9;
  border-bottom: 1px dotted #d2d2d2;
}

.availability-sku-list:after {
    content: '';
    position: absolute;
    top: -11px;
    right: 3%;
    filter: drop-shadow(0px -2px 0px #dfdfdf);
    border-bottom: 13px solid #fffdf9;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
}
.borders{
  border-color: rgb(212, 3, 3) !important;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Ensure it's above everything else */
  background-color: transparent; /* Adjust opacity or color as needed */
}