<style>
    button:focus {
        outline: 5px auto #6ecaf6 !important
    }
</style>
<div id="rcrightsidebar" class="c-overflow"
    data-ng-class="{'toggled':marketingCampaignsCtrl.isShowDetails === true || marketingCampaignsCtrl.isShowDetails === 1,'changeposition': marketingCampaignsCtrl.showErrorDetailsData === true || showhistory === true}">
    <div class="col-xs-12 m-t-25">
        <button type="button" class="close-icon bg-none border-none btn-link p-0"
            data-ng-click="marketingCampaignsCtrl.closeForm(); closeShowHistory();">
            <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x"></span>
        </button>
        <div class="panel-name-section">
            <label class="rclabel editformlabel"
                ng-if="(!marketingCampaignsCtrl.isDeleteSuccess && marketingCampaignsCtrl.isShowAdd && !marketingCampaignsCtrl.isConfirmDelete)"
                title="Promotion">Create <strong>Promotion</strong>
            </label>
            <label class="rclabel editformlabel"
                ng-if="(!marketingCampaignsCtrl.isDeleteSuccess && !marketingCampaignsCtrl.isShowAdd && !marketingCampaignsCtrl.isConfirmDelete)"
                title="Promotion">Update <strong>Promotion</strong>
            </label>
            <label class="rclabel editformlabel"
                ng-if="(marketingCampaignsCtrl.isDeleteSuccess || marketingCampaignsCtrl.isConfirmDelete && !marketingCampaignsCtrl.isShowAdd)"
                title="Promotion">Delete <strong>Promotion</strong>
            </label>
        </div>
    </div>
    <div class="col-xs-12" ng-if="!marketingCampaignsCtrl.isUnauthorized">
        <div class="d-flex m-b-10 m-t-10"
            ng-if="marketingCampaignsCtrl.showErrorDetails || !(marketingCampaignsCtrl.isUpdateSuccess || marketingCampaignsCtrl.isSaveSuccess || marketingCampaignsCtrl.isConfirmDelete || marketingCampaignsCtrl.isDeleteSuccess)">
            <div class="m-auto updatepanel">
                <div data-ng-include="'./img/sidebar-icons/marketing-campaigns-promotions.svg'"></div>
            </div>
        </div>
        <div class="form-group col-xs-12 p-0" ng-if="!marketingCampaignsCtrl.showErrorDetails" valdr-form-group>
            <div
                ng-if="!(marketingCampaignsCtrl.isUpdateSuccess || marketingCampaignsCtrl.isSaveSuccess || marketingCampaignsCtrl.isConfirmDelete || marketingCampaignsCtrl.isDeleteSuccess)">
                <ng-form name="marketingCampaignsCtrl.promotion_form" role="form" novalidate="novalidate"
                    valdr-type="RULES-107">
                    <div data-ng-if="!marketingCampaignsCtrl.isLoading">
                        <div class="form-group" valdr-form-group>
                            <span class="c-red" ng-show="marketingCampaignsCtrl.promotion_form.description.$invalid">*
                            </span>
                            <span class="c-green" ng-show="marketingCampaignsCtrl.promotion_form.description.$valid">*
                            </span>
                            <label>Description</label>
                            <input id="description" name="description" type="text" class="form-control input-sm"
                                data-ng-model="marketingCampaignsCtrl.promotion_details.description"
                                placeholder="Enter Description" required
                                errorvalue="marketingCampaignsCtrl.promotion_details.description_error"
                                data-ng-model-options="{ updateOn: 'blur' }" ng-change="
                                    !marketingCampaignsCtrl.isDeleteSuccess &&
                                    marketingCampaignsCtrl.isShowAdd &&
                                    !marketingCampaignsCtrl.isConfirmDelete &&
                                    !marketingCampaignsCtrl.promotion_details.long_description ?
                                        marketingCampaignsCtrl.promotion_details.long_description = marketingCampaignsCtrl.promotion_details.description :
                                        ''
                                ">
                        </div>
                        <div class="form-group" valdr-form-group>
                            <span class="c-red"
                                ng-show="marketingCampaignsCtrl.promotion_form.long_description.$invalid">*
                            </span>
                            <span class="c-green"
                                ng-show="marketingCampaignsCtrl.promotion_form.long_description.$valid">*
                            </span>
                            <label>Long Description</label>
                            <textarea id="long_description" name="long_description" type="text"
                                class="form-control input-sm"
                                data-ng-model="marketingCampaignsCtrl.promotion_details.long_description"
                                data-ng-model-options="{ updateOn: 'blur' }" placeholder="Enter long description">
                            </textarea>
                        </div>
                        <div class="form-group" valdr-form-group>
                            <span class="c-red" ng-show="
                                marketingCampaignsCtrl.promotion_form.discount_code.$invalid ||
                                marketingCampaignsCtrl.isDiscountCodeExists ||
                                marketingCampaignsCtrl.invalidDiscountCode
                            ">*</span>
                            <span class="c-green" ng-show="
                                marketingCampaignsCtrl.promotion_form.discount_code.$valid &&
                                !marketingCampaignsCtrl.isDiscountCodeExists &&
                                !marketingCampaignsCtrl.invalidDiscountCode
                            ">*</span>
                            <label>Discount Code</label>
                            <input id="discount_code" name="discount_code" type="text" class="form-control input-sm"
                                data-ng-model="marketingCampaignsCtrl.promotion_details.discount_code"
                                placeholder="Enter Discount Code" required maxlength="10" minlength="10"
                                errorvalue="marketingCampaignsCtrl.promotion_details.discount_code_error"
                                data-ng-model-options="{ updateOn: 'blur' }" ng-change="
                                    marketingCampaignsCtrl.promotion_form.discount_code.$valid ?
                                        marketingCampaignsCtrl.validateDiscountCodeCheck(marketingCampaignsCtrl.promotion_details.discount_code) :
                                        ''
                                ">
                            <div data-ng-if="marketingCampaignsCtrl.promotion_form.discount_code.$valid && marketingCampaignsCtrl.isDiscountCodeExists"
                                style="display: block; font-size: 11px; color: #e41708; font-family: 'lato', 'Roboto'; margin: 3px 1px 1px 1px;">
                                Discount Code already exists!
                            </div>
                            <div data-ng-if="marketingCampaignsCtrl.promotion_form.discount_code.$valid && marketingCampaignsCtrl.invalidDiscountCode"
                                style="display: block; font-size: 11px; color: #e41708; font-family: 'lato', 'Roboto'; margin: 3px 1px 1px 1px;">
                                Discount code should be a 10 digit number.
                            </div>
                        </div>
                        <div class="form-group" valdr-form-group>
                            <span class="c-red" ng-show="marketingCampaignsCtrl.promotion_form.discount_type.$invalid">*
                            </span>
                            <span class="c-green" ng-show="marketingCampaignsCtrl.promotion_form.discount_type.$valid">*
                            </span>
                            <label>Discount Type</label>
                            <div class="d-flex align-items-center">
                                <label class="align-items-center d-flex m-r-15">
                                    <input type="radio" id="percentage" name="discount_type" value="Percentage"
                                        data-ng-model="marketingCampaignsCtrl.promotion_details.discount_type">
                                    <i class="input-helper"></i> Percentage
                                </label>
                                <label class="align-items-center d-flex m-r-15">
                                    <input type="radio" id="dollar_amount" name="discount_type" value="Dollar Amount"
                                        data-ng-model="marketingCampaignsCtrl.promotion_details.discount_type">
                                    <i class="input-helper"></i> Dollar Amount
                                </label>
                                <label class="align-items-center d-flex m-r-15">
                                    <input type="radio" id="dollar_amount" name="discount_type" value="Sale Tax"
                                        data-ng-model="marketingCampaignsCtrl.promotion_details.discount_type"
                                        data-ng-click="marketingCampaignsCtrl.promotion_details.discount_type_value = null">
                                    <i class="input-helper"></i> Sale Tax
                                </label>
                            </div>
                        </div>
                        <div class="form-group" valdr-form-group
                            data-ng-if="marketingCampaignsCtrl.promotion_details.discount_type && marketingCampaignsCtrl.discountTypeValueValidation[marketingCampaignsCtrl.promotion_details.discount_type].isValueRequired">
                            <span class="c-red"
                                ng-show="marketingCampaignsCtrl.promotion_form.discount_type_value.$invalid">*
                            </span>
                            <span class="c-green"
                                ng-show="marketingCampaignsCtrl.promotion_form.discount_type_value.$valid">*
                            </span>
                            <label>{{ marketingCampaignsCtrl.promotion_details.discount_type }}</label>
                            <div class="d-flex">
                                <input id="discount_type_value" name="discount_type_value" type="number"
                                    class="form-control input-sm"
                                    data-ng-model="marketingCampaignsCtrl.promotion_details.discount_type_value"
                                    placeholder="Enter Discount {{ marketingCampaignsCtrl.promotion_details.discount_type }}"
                                    data-ng-required="marketingCampaignsCtrl.discountTypeValueValidation[marketingCampaignsCtrl.promotion_details.discount_type].isValueRequired"
                                    errorvalue="marketingCampaignsCtrl.promotion_details.discount_type_value_error"
                                    data-ng-model-options="{ updateOn: 'blur' }"
                                    min="{{marketingCampaignsCtrl.discountTypeValueValidation[marketingCampaignsCtrl.promotion_details.discount_type].min}}"
                                    max="{{marketingCampaignsCtrl.discountTypeValueValidation[marketingCampaignsCtrl.promotion_details.discount_type].max}}"
                                    data-ng-change="marketingCampaignsCtrl.validateDiscountType()">
                                <div class="input-group-append"
                                    data-ng-if="marketingCampaignsCtrl.promotion_details.discount_type == 'Percentage'">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                            <div data-ng-if="marketingCampaignsCtrl.promotion_form.discount_type_value.$invalid && marketingCampaignsCtrl.promotion_form.discount_type_value.$viewValue"
                                style="display: block; font-size: 11px; color: #e41708; font-family: 'lato', 'Roboto'; margin: 3px 1px 1px 1px;">
                                {{ marketingCampaignsCtrl.promotion_details.discount_type }}
                                Range (
                                minimum:{{ marketingCampaignsCtrl.discountTypeValueValidation[marketingCampaignsCtrl.promotion_details.discount_type].min }}
                                &
                                maximum:{{ marketingCampaignsCtrl.discountTypeValueValidation[marketingCampaignsCtrl.promotion_details.discount_type].max }}
                                )
                            </div>
                        </div>
                        <div class="form-group" valdr-form-group>
                            <span class="c-red"
                                ng-show="marketingCampaignsCtrl.promotion_form.effective_start_date.$invalid">*
                            </span>
                            <span class="c-green"
                                ng-show="marketingCampaignsCtrl.promotion_form.effective_start_date.$valid">*
                            </span>
                            <label class="maintenance-field-label">Effective Start Date</label>
                            <div class="form-group">
                                <input type="text" id="effective_start_date" name="effective_start_date" required
                                    class="form-control input-sm rcp-mydatepicker" is-effective-date="false"
                                    ng-model="marketingCampaignsCtrl.promotion_details.effective_start_date"
                                    ui-mask="{{ui_date_mask}}" mydatepicker ng-model-options="{ updateOn: 'blur' }"
                                    model-view-value="true" data-ng-change="marketingCampaignsCtrl.determineStatus();"
                                    data-ng-class="{'error-field-validation': marketingCampaignsCtrl.promotion_form.effective_start_date.$invalid && marketingCampaignsCtrl.isInvalidForm}">
                            </div>
                        </div>
                        <div class="form-group" valdr-form-group>
                            <span class="c-red"
                                ng-show="marketingCampaignsCtrl.promotion_form.effective_end_date.$invalid">*
                            </span>
                            <span class="c-green"
                                ng-show="marketingCampaignsCtrl.promotion_form.effective_end_date.$valid">*
                            </span>
                            <label class="panel-body-label">Effective End Date</label>
                            <input type="text" id="effective_end_date" name="effective_end_date"
                                class="form-control input-sm rcp-mydatepicker" is-effective-date="false"
                                ng-model="marketingCampaignsCtrl.promotion_details.effective_end_date"
                                ui-mask="{{ui_date_mask}}" mydatepicker ng-model-options="{ updateOn: 'blur' }"
                                model-view-value="true" data-ng-change="marketingCampaignsCtrl.determineStatus();"
                                start-date="marketingCampaignsCtrl.promotion_details.effective_start_date"
                                data-ng-class="{'error-field-validation': marketingCampaignsCtrl.promotion_form.effective_end_date.$invalid && marketingCampaignsCtrl.isInvalidForm}">
                        </div>
                        <div class="form-group" valdr-form-group>
                            <span class="c-red" ng-show="marketingCampaignsCtrl.promotion_form.status_id.$invalid">*
                            </span>
                            <span class="c-green" ng-show="marketingCampaignsCtrl.promotion_form.status_id.$valid">*
                            </span>
                            <label>Status</label>
                            <select id="status_id" name="status_id" class="form-control select-component input-sm"
                                ng-model="marketingCampaignsCtrl.promotion_details.status_id"
                                errorvaluechosen="marketingCampaignsCtrl.promotion_details.status_id_error"
                                ng-options="each.code as each.description for each in marketingCampaignsCtrl.statuses"
                                disabled>
                                <option value="" disabled>Select Status</option>
                            </select>
                        </div>
                        <rcp-edit-form-btns new-form="marketingCampaignsCtrl.isShowAdd"
                            save-fn="marketingCampaignsCtrl.save(marketingCampaignsCtrl.promotion_details, 'Promotion');"
                            save-btn-text="marketingCampaignsCtrl.saveBtnText"
                            save-btn-error="marketingCampaignsCtrl.saveBtnError"
                            update-fn="marketingCampaignsCtrl.update(marketingCampaignsCtrl.promotion_details, 'Promotion'); closeShowHistory();"
                            update-btn-text="marketingCampaignsCtrl.updateBtnText"
                            update-btn-error="marketingCampaignsCtrl.updateBtnError"
                            confirm-fn="marketingCampaignsCtrl.showconfirm('Promotion'); closeShowHistory();"
                            confirm-delete="marketingCampaignsCtrl.isConfirmDelete"
                            update-success="marketingCampaignsCtrl.isUpdateSuccess"
                            entity-id="marketingCampaignsCtrl.promotion_details.id"
                            enable-button="marketingCampaignsCtrl.promotion_form.$invalid || marketingCampaignsCtrl.isDiscountCodeExists || marketingCampaignsCtrl.invalidDiscountCode || marketingCampaignsCtrl.isProcessing"
                            access-permissions="permissionsMap">
                        </rcp-edit-form-btns>
                    </div>
                </ng-form>
            </div>
            <rcp-delete-form data-ng-if="marketingCampaignsCtrl.isConfirmDelete"
                image-name="marketing-campaigns-promotions.svg"
                close-fn="marketingCampaignsCtrl.isConfirmDelete = false; marketingCampaignsCtrl.isShowHistory = true;"
                delete-fn="marketingCampaignsCtrl.delete(marketingCampaignsCtrl.promotion_details, 'Promotion');"
                confirm-delete="marketingCampaignsCtrl.isConfirmDelete">
            </rcp-delete-form>
            <rcp-success-form success-tick="success_tick.svg"
                create-new-fn="marketingCampaignsCtrl.createAnotherForm('Promotion');"
                close-fn="marketingCampaignsCtrl.closeForm();" update-success="marketingCampaignsCtrl.isUpdateSuccess"
                save-success="marketingCampaignsCtrl.isSaveSuccess"
                delete-success="marketingCampaignsCtrl.isDeleteSuccess">
            </rcp-success-form>
            <div
                ng-if="isMaintenance !== true && !marketingCampaignsCtrl.isUpdateSuccess && !marketingCampaignsCtrl.isSaveSuccess && !marketingCampaignsCtrl.isDeleteSuccess && !marketingCampaignsCtrl.isConfirmDelete && !marketingCampaignsCtrl.isShowAdd">
                <button class="f-700 btn-link btn-block m-b-30 tabfocus-btn" data-ng-click="loadHistory('Promotion');"
                    data-ng-if="!showhistoryloading" data-ng-disabled="showhistory">
                    View History
                </button>
                <div class="col-xs-12 text-center text-info f-500" data-ng-if="showhistoryloading">
                    Loading history...
                </div>
            </div>
        </div>
        <div class="col-xs-12" ng-if="marketingCampaignsCtrl.showErrorDetails">
            <div>
                <h4 class="aligncenter dependency-errorMessage">Cannot be deleted!</h4>
            </div>
            <div class="col-xs-12 p-0"
                ng-repeat="($groupName,$dependencyMain) in ( marketingCampaignsCtrl.dependencyList | groupBy : 'dependent_entity')">
                <div class="rcpscrollbar dependency-entityBox">
                    <h4> Dependent Entities - {{ $groupName }} </h4>
                    <div class="col-xs-12 p-0" data-ng-repeat="dependency in $dependencyMain">
                        <div data-ng-if="$groupName.toLowerCase() === 'promotions'" class="dependency-entityList"
                            ng-click="marketingCampaignsCtrl.showDependencyListDetails(dependency);">
                            <span
                                title="{{ dependency.description }}">{{ dependency.description | truncate : 50 }}</span>
                            <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw pull-right zmdi-hc-border-circle"></span>
                        </div>
                        <div data-ng-if="$groupName.toLowerCase() === 'cart items'" class="dependency-entityList"
                            ng-click="marketingCampaignsCtrl.showDependencyListDetails(dependency);">
                            <span
                                title="{{ dependency.description }}">{{ dependency.description | truncate : 50 }}</span>
                            <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw pull-right zmdi-hc-border-circle"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group pull-right m-r-5 m-t-15">
                <button class="btn-secondary waves-effect" ng-click="marketingCampaignsCtrl.closeDependencyList();">
                    <span><b>Cancel</b></span>
                </button>
            </div>
        </div>
        <div class="col-xs-12">
            <div data-ng-if="marketingCampaignsCtrl.message" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-ng-click="marketingCampaignsCtrl.message = null"
                    aria-hidden="true">&times;</button>
                {{ marketingCampaignsCtrl.message }}
            </div>
        </div>
    </div>
    <div ng-if="marketingCampaignsCtrl.isUnauthorized && (marketingCampaignsCtrl.isShowAdd || !marketingCampaignsCtrl.isShowAdd || marketingCampaignsCtrl.isConfirmDelete)"
        data-ng-include="'./application/templates/restricted.access.compact.html'">
    </div>
</div>
<div class="col-xs-12" ng-if="!marketingCampaignsCtrl.isShowAdd && marketingCampaignsCtrl.isShowHistory"
    data-ng-include="'./application/templates/history.html'">
</div>