<div id="rcrightsidebar" data-ng-show="templateCtrl.isShowParameterDetails" data-ng-class="{'toggled':templateCtrl.isShowParameterDetails === true ,'changeposition': templateCtrl.showErrorDetailsData === true || templateCtrl.showhistory}">
    <div class="col-xs-12 side-panel-name m-t-25">
        <div class="close-icon">
            <a data-ng-click="templateCtrl.closeForm();" class="cursor-pointer">
                <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x"></span>
            </a>
        </div>
        <div class="panel-name-section">
            <label class="rclabel editformlabel" ng-if="(!templateCtrl.isDeleteSuccess && !templateCtrl.isConfirmDelete && templateCtrl.isShowAdd)"
                title="Template Parameter">Create
                <strong>Template Parameter</strong>
            </label>
            <label class="rclabel editformlabel" ng-if="(!templateCtrl.isDeleteSuccess && !templateCtrl.isConfirmDelete && !templateCtrl.isShowAdd)"
                title="Template Parameter">Update
                <strong>Template Parameter</strong>
            </label>
            <label class="rclabel editformlabel" ng-if="(templateCtrl.isDeleteSuccess || templateCtrl.isConfirmDelete && !templateCtrl.isShowAdd)"
                title="Template Parameter">Delete
                <strong>Template Parameter</strong>
            </label>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="d-flex m-b-10 m-t-10" ng-if="!(templateCtrl.isUpdateSuccess || templateCtrl.isSaveSuccess || templateCtrl.isConfirmDelete || templateCtrl.isDeleteSuccess)">
            <div class="m-auto updatepanel">
                <div data-ng-include="'./img/sidebar-icons/template.svg'"></div>
            </div>
        </div>
        <div class="form-group col-xs-12 p-0">
            <div ng-if="!(templateCtrl.isUpdateSuccess || templateCtrl.isSaveSuccess || templateCtrl.isConfirmDelete || templateCtrl.isDeleteSuccess)">
                <ng-form name="templateCtrl.templateParameterForm" novalidate="novalidate" novalidate="novalidate">
                    <div class="form-group" valdr-form-group>
                        <span class="c-red" ng-show="templateCtrl.templateParameterForm.parameter_name.$invalid">*
                        </span>
                        <span class="c-green" ng-show="templateCtrl.templateParameterForm.parameter_name.$valid">*
                        </span>
                        <label>Name</label>
                        <input id="parameter_name" name="parameter_name" type="text" class="form-control input-sm"
                            ng-model="templateCtrl.templateParameterDetails.parameter_name" placeholder="Enter Name"
                            ng-minlength="3" ng-maxlength="40" ng-model-options="{ updateOn: 'blur' }" required>
                    </div>
                    <rcp-edit-form-btns new-form="templateCtrl.isShowAdd" save-fn="templateCtrl.saveTemplateParameterBySKU(templateCtrl.templateParameterDetails);"
                        save-btn-text="templateCtrl.saveBtnText" save-btn-error="templateCtrl.saveBtnError" update-fn="templateCtrl.updateTemplateParameterBySKU(templateCtrl.templateParameterDetails);"
                        update-btn-text="templateCtrl.updateBtnText" update-btn-error="templateCtrl.updateBtnError"
                        confirm-fn="templateCtrl.showconfirm(); closeShowHistory();" confirm-delete="templateCtrl.isConfirmDelete"
                        update-success="templateCtrl.isUpdateSuccess" entity-id="templateCtrl.templateParameterDetails.id"
                        enable-button="templateCtrl.templateParameterForm.$invalid || templateCtrl.isProcessing">
                    </rcp-edit-form-btns>
                </ng-form>
            </div>
        </div>
        <rcp-delete-form data-ng-if="templateCtrl.isConfirmDelete" image-name="template.svg" close-fn="templateCtrl.closeForm(); "
            delete-fn="templateCtrl.deleteTemplateParameterBySKU(templateCtrl.templateParameterDetails);"
            confirm-delete="templateCtrl.isConfirmDelete">
        </rcp-delete-form>
        <rcp-success-form success-tick="success_tick.svg" create-new-fn="templateCtrl.openCreateForm('Template Parameter');"
            close-fn="templateCtrl.closeForm();" save-success="templateCtrl.isSaveSuccess" update-success="templateCtrl.isUpdateSuccess"
            delete-success="templateCtrl.isDeleteSuccess">
        </rcp-success-form>
        <div class="col-xs-12" ng-if="!templateCtrl.isShowAdd && templateCtrl.isShowHistory" data-ng-include="'./application/modules/template/history.html'">
        </div>
    </div>
</div>