<div class="container col-lg-12 p-0" data-ng-controller="CountryController as ctryCtrl" ui-view>
    <!--list panel-->

    <div class="rc-module-header d-flex">
        <div class="col-xs-12 p-0 d-flex" style="justify-content: space-between;">
            <div class="d-flex" style="padding: 0px 10px;box-shadow: 3px 0px 4px -1px #f7f7f7;">
                <div class="p-relative">
                    <div class="image-module p-absolute top-10">
                        <img src="./img/sidebar-icons/submenu_country.svg" />
                    </div>
                    <div class="label-module top-10">
                        <a class="p-l-40" href="javascript:void(0)">Countries</a>
                    </div>
                </div>
            </div>
            <div class="d-flex" style="flex: 5;">
                <div class="d-flex d-flex-v-center p-l-20">
                    <div class="record-count-section tableheader-btn">
                        <span data-ng-if="!ctryCtrl.search"> {{ctryCtrl.rowsInfo}} </span>
                        <span data-ng-if="ctryCtrl.search"> Displaying
                            {{(ctryCtrl.countryList|filterBy:['id','name','calling_codes','iso2_code','iso3_code','currencies','language_code']:ctryCtrl.search).length}}
                            of {{ctryCtrl.countryList.length}}
                            Records
                        </span>
                    </div>
                </div>
            </div>


            <div class="d-flex">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="d-flex nav navbar-nav navbar-right">
                        <li>
                            <a>
                                <div class="search-section tableheader-btn pull-right"
                                    ng-if="ctryCtrl.countryList.length > 0">
                                    <div class="input-group full-width">
                                        <input class="form-control input-sm" type="text" ng-model="ctryCtrl.search"
                                            id="inlineSearch" name="inlineSearch" data-ng-init="ctryCtrl.focusSearchField()"
                                            indicate-quick-search placeholder="Quick Search"
                                            data-ng-disabled="!ctryCtrl.isLoaded" />
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="non-collapsed-link" ng-if="ctryCtrl.countryList.length > 0">
                            <a>
                                <button type="button" ng-click="ctryCtrl.ShowHideColumnSettings()"
                                    class="btn-primal btn-block waves-effect btn-brd-none"
                                    data-ng-disabled="!ctryCtrl.isLoaded">
                                    <span class="f-700 ng-binding">Columns</span>
                                </button>
                            </a>
                        </li>
                        <li class="non-collapsed-link" ng-if="ctryCtrl.countryList.length > 0">
                            <a>
                                <button type="button" ng-click="ctryCtrl.reload(true);"
                                    class="btn-primal btn-block waves-effect btn-brd-none"
                                    data-ng-disabled="!ctryCtrl.isLoaded">
                                    <span class="f-700 ng-binding">Refresh</span>
                                </button>
                            </a>
                        </li>
                        <!-- <li class="add-btn non-collapsed-link">
                            <a>
                                <button type="button" class="btn btn-success waves-effect f-700"
                                    data-ng-click="ctryCtrl.openForm();">Create Country</button>
                            </a>
                        </li> -->
                        <li class="dropdown collapsed-link" uib-dropdown>
                            <button type="button" uib-dropdown-toggle class="full-height bg-none p-15" style="border-left:3px solid #e8e8e8" href="">
                                <i class="tm-icon zmdi zmdi-more-vert f-25"></i>
                            </button>
                            <ul class="dropdown-menu dm-icon pull-right">
                                <!-- <li class="cursor-pointer">
                                    <a data-ng-click="ctryCtrl.openForm();">
                                        <i class="zmdi zmdi-plus text-success"></i> Create Country </a>
                                </li> -->
                                <li ng-if="ctryCtrl.countryList.length > 0">
                                    <a data-ng-click="ctryCtrl.isLoaded ? ctryCtrl.ShowHideColumnSettings() : '' "
                                        data-ng-class="{'cursor-not-allowed': !ctryCtrl.isLoaded}" href="">
                                        <i class="zmdi zmdi-view-week text-info"></i> Columns </a>
                                </li>
                                <li ng-if="ctryCtrl.countryList.length > 0">
                                    <a data-ng-click="ctryCtrl.isLoaded ? ctryCtrl.reload(true) : '' "
                                        data-ng-class="{'cursor-not-allowed': !ctryCtrl.isLoaded}" href="">
                                        <i class="zmdi zmdi-refresh text-warning"></i> Refresh </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 p-0 module-content-configuration">
        <div class="col-lg-12 text-center m-t-25" data-ng-if="!ctryCtrl.rowsCount && !ctryCtrl.isLoaded">
            <span class="f-17 f-700 c-black">Loading</span>
            <span class="f-700" style="letter-spacing: 3px;">....</span>
        </div>
        <div data-ng-if="ctryCtrl.rowsCount && ctryCtrl.rowsCount !== 0 && ctryCtrl.isLoaded">
            <div class="rcp-table-container">
                <div class="col-xs-12 p-0" data-ng-if="ctryCtrl.isLoaded">
                    <script type="text/javascript">
                        $(function () {
                            var pressed = false;
                            var start = undefined;
                            var startX, startWidth;


                            $("table th").dblclick(function (e) {
                                start = $(this);
                                pressed = true;
                                startX = e.pageX;
                                startWidth = $(this).width();
                                $(start).addClass("resizing");
                            });

                            $(document).mousemove(function (e) {
                                if (pressed) {
                                    $(start).width(parseInt(startWidth + (e.pageX - startX)));
                                }
                            });

                            $(document).mouseup(function () {
                                if (pressed) {
                                    $(start).removeClass("resizing");
                                    pressed = false;
                                }
                            });
                        });
                    </script>
                    <div data-ng-include="'./application/modules/country/hideShowColumns.html'"></div>
                    <div class="table-responsive">
                        <div class="col-xs-12 p-0 o-auto sticky-head-container">
                            <table
                                class="table table-hover table-vmiddle table-condensed table-bordered grid sticky-head-table">
                                <thead data-ng-show="ctryCtrl.isLoaded">
                                    <tr>
                                        <th class="text-center" id="id_col_head" drag-me drop-me data-handle=".handle"
                                            ng-click="ctryCtrl.sortType = 'id'; sortReverse = !sortReverse"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.id.visible == 0">
                                            <span class="handle">Id</span>
                                            <span ng-show="ctryCtrl.sortType == 'id' && !sortReverse"
                                                class="zmdi zmdi-caret-down pull-right"></span>
                                            <span ng-show="ctryCtrl.sortType == 'id' && sortReverse"
                                                class="zmdi zmdi-caret-up pull-right"></span>
                                        </th>
                                        <th class="text-center" id="name_col_head" drag-me drop-me data-handle=".handle"
                                            ng-click="ctryCtrl.sortType = 'name'; sortReverse = !sortReverse"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.name.visible == 0">
                                            <span class="handle">Name</span>
                                            <span ng-show="ctryCtrl.sortType == 'name' && !sortReverse"
                                                class="zmdi zmdi-caret-down pull-right"></span>
                                            <span ng-show="ctryCtrl.sortType == 'name' && sortReverse"
                                                class="zmdi zmdi-caret-up pull-right"></span>
                                        </th>
                                        <th class="text-center" id="timezones_col_head" drag-me drop-me
                                            data-handle=".handle"
                                            ng-click="ctryCtrl.sortType = 'timezones'; sortReverse = !sortReverse"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.timezones.visible == 0">
                                            <span class="handle">Timezone</span>
                                            <span ng-show="ctryCtrl.sortType == 'timezones' && !sortReverse"
                                                class="zmdi zmdi-caret-down pull-right"></span>
                                            <span ng-show="ctryCtrl.sortType == 'timezones' && sortReverse"
                                                class="zmdi zmdi-caret-up pull-right"></span>
                                        </th>
                                        <th class="text-center" id="calling_codes_col_head" drag-me drop-me
                                            data-handle=".handle"
                                            ng-click="ctryCtrl.sortType = 'calling_codes'; sortReverse = !sortReverse"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.calling_codes.visible == 0">
                                            <span class="handle">Calling Code</span>
                                            <span ng-show="ctryCtrl.sortType == 'calling_codes' && !sortReverse"
                                                class="zmdi zmdi-caret-down pull-right"></span>
                                            <span ng-show="ctryCtrl.sortType == 'calling_codes' && sortReverse"
                                                class="zmdi zmdi-caret-up pull-right"></span>
                                        </th>
                                        <th class="text-center" id="iso2_code_col_head" drag-me drop-me
                                            data-handle=".handle"
                                            ng-click="ctryCtrl.sortType = 'iso2_code'; sortReverse = !sortReverse"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.iso2_code.visible == 0">
                                            <span class="handle">ISO2 Code</span>
                                            <span ng-show="ctryCtrl.sortType == 'iso2_code' && !sortReverse"
                                                class="zmdi zmdi-caret-down pull-right"></span>
                                            <span ng-show="ctryCtrl.sortType == 'iso2_code' && sortReverse"
                                                class="zmdi zmdi-caret-up pull-right"></span>
                                        </th>
                                        <th class="text-center" id="iso3_code_col_head" drag-me drop-me
                                            data-handle=".handle"
                                            ng-click="ctryCtrl.sortType = 'iso3_code'; sortReverse = !sortReverse"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.iso3_code.visible == 0">
                                            <span class="handle">ISO3 Code</span>
                                            <span ng-show="ctryCtrl.sortType == 'iso3_code' && !sortReverse"
                                                class="zmdi zmdi-caret-down pull-right"></span>
                                            <span ng-show="ctryCtrl.sortType == 'iso3_code' && sortReverse"
                                                class="zmdi zmdi-caret-up pull-right"></span>
                                        </th>
                                        <th class="text-center" id="currencies_col_head" drag-me drop-me
                                            data-handle=".handle"
                                            ng-click="ctryCtrl.sortType = 'currencies'; sortReverse = !sortReverse"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.currencies.visible == 0">
                                            <span class="handle">Currency</span>
                                            <span ng-show="ctryCtrl.sortType == 'currencies' && !sortReverse"
                                                class="zmdi zmdi-caret-down pull-right"></span>
                                            <span ng-show="ctryCtrl.sortType == 'currencies' && sortReverse"
                                                class="zmdi zmdi-caret-up pull-right"></span>
                                        </th>
                                        <th class="text-center" id="language_code_col_head" drag-me drop-me
                                            data-handle=".handle"
                                            ng-click="ctryCtrl.sortType = 'language_code'; sortReverse = !sortReverse"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.language_code.visible == 0">
                                            <span class="handle">Language Code</span>
                                            <span ng-show="ctryCtrl.sortType == 'language_code' && !sortReverse"
                                                class="zmdi zmdi-caret-down pull-right"></span>
                                            <span ng-show="ctryCtrl.sortType == 'language_code' && sortReverse"
                                                class="zmdi zmdi-caret-up pull-right"></span>
                                        </th>
                                        <th class="text-center" id="states_code_col_head" drag-me drop-me
                                            data-handle=".handle"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.states.visible == 0">
                                            <span class="handle">States</span>
                                        </th>
                                        <th class="text-center iconcolumnwidth" id="datalake_col_head" drag-me drop-me
                                            data-handle=".handle"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.datalake.visible == 0">
                                            <span class="handle">Documents</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="country in ctryCtrl.countryList | orderBy:'name' | orderBy:usaFirst | orderBy:cityCtrl.sortType:sortReverse | filterBy:['id','name','calling_codes','iso2_code','iso3_code','currencies','language_code']:ctryCtrl.search | itemsPerPage:ctryCtrl.pageSize"
                                        ng-class="{'background-hover':$index === selectedRow}"
                                        data-ng-click="ctryCtrl.setClickedRow($index);"
                                        ios-dblclick="ctryCtrl.dblClickAction(country);" selectedrow="{{country}}">
                                        <td class="id_col iconcolumnWidth"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.id.visible == 0">{{country.id}}
                                        </td>
                                        <td class="name_col"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.name.visible == 0">
                                            {{country.name}}</td>
                                        <td class="timezones_col"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.timezones.visible == 0">
                                            {{country.timezones}}</td>
                                        <td class="calling_codes_col"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.calling_codes.visible == 0">
                                            {{country.calling_codes}}</td>
                                        <td class="iso2_code_col"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.iso2_code.visible == 0">
                                            {{country.iso2_code}}</td>
                                        <td class="iso3_code_col"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.iso3_code.visible == 0">
                                            {{country.iso3_code}}</td>
                                        <td class="currencies_col"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.currencies.visible == 0">
                                            {{country.currencies}}</td>
                                        <td class="language_code_col"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.language_code.visible == 0">
                                            {{country.language_code}}</td>
                                        <td class=" text-center"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.states.visible == 0">
                                            <button type="button" class="btn btn-link f-700 ng-scope waves-effect"
                                                ng-click="ctryCtrl.gotoStates(country.id);">
                                                <span>View</span>
                                            </button>
                                        </td>
                                        <td class="datalake_col iconcolumnwidth text-center p-l-5"
                                            data-ng-hide="ctryCtrl.countryGrid.columns.datalake.visible == 0">
                                            <button type="button" class="p-l-5 header-button datalake-button"
                                                ng-click="showMetaData(ctryCtrl.entityInformation,country);"
                                                title="Click here to manage documents" title-direction="right"
                                                fixed-position="true">
                                                <span class="zmdi zmdi-cloud zmdi-hc-fw"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-12 p-15 justify-content-between d-flex align-items-center">
                            <dir-pagination-controls template-url="rc-pagination.html" class="pull-left"
                                boundary-links="true" on-page-change="ctryCtrl.pageChangeHandler(newPageNumber)">
                            </dir-pagination-controls>
                            <div class="btn-group pull-right ng-table-counts m-0">
                                <button type="button" class="btn btn-default f-12 noboxshadow"
                                    ng-click="ctryCtrl.pageSize = 25"
                                    ng-class="{'active':ctryCtrl.pageSize === 25}">25</button>
                                <button type="button" class="btn btn-default f-12 noboxshadow"
                                    ng-click="ctryCtrl.pageSize = 50"
                                    ng-class="{'active':ctryCtrl.pageSize === 50}">50</button>
                                <button type="button" class="btn btn-default f-12 noboxshadow"
                                    ng-click="ctryCtrl.pageSize = 100"
                                    ng-class="{'active':ctryCtrl.pageSize === 100}">100</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!ctryCtrl.isViewAuthorized" data-ng-include="'./application/templates/restricted.access.html'">
        </div>

        <!--Details section for each country data -->
        <meta-data-panel></meta-data-panel>
        <div class="col-lg-12 p-0" data-ng-if="ctryCtrl.isViewAuthorized">
            <div id="refresh-table" class="p-15" data-ng-class="{'toggled':ctryCtrl.isRefreshTable}">
                <div class="col-xs-6 p-0">
                    <span class="f-15 f-300 pull-left">{{ctryCtrl.refreshTableText}}</span>
                </div>
                <div class="col-xs-6 p-0" data-ng-if="ctryCtrl.totalTimeText">
                    <span class="pull-right f-300">
                        <strong>{{ctryCtrl.totalRecords}}</strong>
                        <span class="f-14 c-gray">{{ctryCtrl.totalRecordsText}}</span>
                        <span ng-bind-html="ctryCtrl.totalTimeText"></span>
                    </span>
                </div>
            </div>
        </div>
        <div data-ng-if="ctryCtrl.rowsCount === 0 && ctryCtrl.isLoaded" class="module-content-configuration">
            <div class="col-xs-12 text-center text-info">
                <span class="f-15 f-300">No country exists. Please add country.</span>
            </div>
        </div>
        <div data-ng-include="'./application/modules/country/panel.country.form.html'"></div>
    </div>
</div>