<div class="container col-lg-12 p-0" data-ng-controller="ToolbarTemplateController as templateController">
    <div class="rc-module-header d-flex">
        <div class="col-xs-12 p-0 d-flex" style="justify-content: space-between;">
            <div style="padding: 0px 10px;box-shadow: 3px 0px 4px -1px #f7f7f7;display:grid;">
                <div class="d-flex p-l-5">
                    <span class="image-module align-items-center" style="display: grid">
                        <img src="./img/sidebar-icons/toolbar-quick-access.svg" />
                    </span>
                    <span class="label-module align-items-center"
                        style="font-size: 1em;font-weight: 500;display: grid;">
                        <a href="javascript:void(0)" style="width:auto;line-height: inherit;">Quick Access Toolbar</a>
                    </span>
                </div>
            </div>

            <div class="d-flex">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="d-flex nav navbar-nav navbar-right">
                        <li data-ng-if="permissionsMap.view">
                            <a>
                                <div class="search-section tableheader-btn pull-right">
                                    <input class="form-control input-sm" type="text"
                                        ng-model="templateController.search" indicate-quick-search
                                        placeholder="Quick Search "/>
                                </div>
                            </a>
                        </li>
                        <li data-ng-if="permissionsMap.view">
                            <a>
                                <button type="button" ng-click="templateController.getTemplates(true);"
                                    class="btn-primal btn-block  waves-effect">
                                    <span class="f-700 ng-binding">Refresh</span>
                                </button>
                            </a>
                        </li>
                        <li class="m-r-10">
                            <a>
                                <button type="button" class="btn btn-success f-700 waves-effect"
                                    data-ng-click="templateController.openTemplatePanel();"
                                    data-ng-disabled="!permissionsMap.create">
                                    <span title="{{!permissionsMap.create ? 'Access denied' : ''}}">Create Quick Access
                                        Toolbar</span>
                                </button>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center module-content-configuration"
        data-ng-if="!templateController.rowsCount  && !templateController.isLoaded">
        <span class="f-17 f-700 c-black">Loading</span>
        <span class="f-700" style="letter-spacing: 3px;">....</span>
    </div>
    <div data-ng-if="templateController.rowsCount && templateController.rowsCount !== 0 && templateController.isLoaded">
        <div class="rcp-table-container" data-ng-if="permissionsMap.view">
            <div class="col-xs-12 p-0">
                <div class="table-responsive module-content-configuration">
                    <div class="col-xs-12 p-0 o-auto sticky-head-container">
                        <table
                            class="table table-hover table-vmiddle table-condensed table-bordered grid sticky-head-table">
                            <thead>
                                <tr role="row">
                                    <th class="text-center" id="template_name_col_head" drag-me drop-me
                                        data-handle=".handle"
                                        ng-click="templateController.sortType = 'template_name'; sortReverse = !sortReverse">
                                        <span class="handle">Location</span>
                                        <span ng-show="templateController.sortType == 'template_name' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="templateController.sortType == 'template_name' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" id="status_col_head" drag-me drop-me data-handle=".handle"
                                        ng-click="templateController.sortType = 'status'; sortReverse = !sortReverse"
                                        style="width: 10%">
                                        <span class="handle">Status</span>
                                        <span ng-show="templateController.sortType == 'status' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="templateController.sortType == 'status' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" style="width: 10%">
                                        <span class="handle">Action</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-ng-repeat="(templateName, templateValues) in templates = (
                                templateController.templates |
                                filter : templateController.search |
                                orderBy : templateController.sortType : sortReverse |
                                groupBy : 'template_name'
                            )">
                                <tr ios-dblclick="templateController.dblClickAction(templateValues[0], 'Toolbar')"
                                    ng-dblclick="templateController.dblClickAction(templateValues[0], 'Toolbar')">
                                    <td colspan="3"
                                        style="background: #292929; color: #fff68f; padding: 7px; font-weight: 700; font-family: lato;">
                                        {{ templateName }} - {{ templateValues[0].active_from | FormatDate }}
                                        <a class="pull-right p-r-30"
                                            ng-click="templateController.viewTemplateTabsForTemplate(templateValues[0]);">Configure</a>
                                    </td>
                                </tr>
                                <tr data-ng-repeat="templateValue in templateValues">
                                    <td style="cursor: default;">{{ templateValue.location }}</td>
                                    <td class="text-center" style="cursor: default;">
                                        <span class="text-success" data-ng-if="templateValue.status==1">
                                            Active
                                        </span>
                                        <span class="text-danger" data-ng-if="templateValue.status==0">
                                            Inactive
                                        </span>
                                    </td>
                                    <td class="text-center" style="width:10%; font-weight: 700;">
                                        <span data-ng-if="templateValue.status==1">
                                            <a style="color: #592688" href="" class="p-l-20"
                                                data-ng-click="templateController.updateStatus(templateValue)">Disable</a>
                                        </span>
                                        <span data-ng-if="templateValue.status==0">
                                            <a style="color: #592688" href="" class="p-l-20"
                                                data-ng-click="templateController.updateStatus(templateValue)">Enable</a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div data-ng-include="'./application/modules/pe.settings/panel.pe.template.tabs.html'"></div>
        </div>
        <div class="col-lg-12 p-0" data-ng-if="permissionsMap.view">
            <div id="refresh-table" class="p-15" data-ng-class="{'toggled':templateController.isRefreshTable}">
                <div class="col-xs-6 p-0">
                    <span class="f-15 f-300 pull-left">{{templateController.refreshTableText}}</span>
                </div>
                <div class="col-xs-6 p-0" data-ng-if="templateController.totalTimeText">
                    <span class="pull-right f-300">
                        <strong>{{templateController.totalRecords}}</strong>
                        <span class="f-14 c-gray">{{templateController.totalRecordsText}}</span>
                        <span ng-bind-html="templateController.totalTimeText"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="permissionsMap && !permissionsMap.view && templateController.rowsCount"
        data-ng-include="'./application/templates/restricted.access.html'"></div>
    <div data-ng-if="templateController.rowsCount === 0 && templateController.isLoaded"
        class="module-content-configuration">
        <div class="col-xs-12 text-center text-info">
            <span class="f-15 f-300">No toolbar exists. Please add new toolbar.</span>
        </div>
    </div>
    <div data-ng-include="'./application/modules/pe.settings/panel.pe.template.html'"></div>
</div>