<style>
    .styled-checkbox {
        position: absolute;
        opacity: 0;
    }

    .styled-checkbox+label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    .styled-checkbox+label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
        width: 20px;
        height: 20px;
        background: #e2e2e2;
    }

    .styled-checkbox:hover+label:before {
        background: #5f99f3;
    }

    .styled-checkbox:checked+label:before {
        background: #5f99f3;
    }

    .styled-checkbox:disabled+label {
        color: #b8b8b8;
        cursor: auto;
    }

    .styled-checkbox:disabled+label:before {
        box-shadow: none;
        background: #ddd;
    }

    .styled-checkbox:checked+label:after {
        content: '';
        position: absolute;
        left: 4px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
<div data-ng-controller="ItemCloneController as clonectrl">
    <div id="rcrightsidebar" class="toggled" data-ng-if="!clonectrl.showLockedScreen">
        <div class="m-t-25" style="display:flex">
            <button type="button" class="p-0 p-absolute cursor-pointer bg-none border-none btn-link" ng-click="clonectrl.exit();clonectrl.focusCloneItem();">
                <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x"></span>
            </button>
            <button type="button" class="p-0 p-absolute cursor-pointer bg-none border-none btn-link" data-ng-if="itemMaintCtrl.isCloneItemcreate"
                ng-click="itemMaintCtrl.isCloneItemcreate = false;itemMaintCtrl.focusCloneItemPublish();">
                <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x"></span>
            </button>
            <div class="p-0 m-auto">
                <label class="rclabel editformlabel" title="UPC">Clone
                    <strong>Item</strong>
                </label>
            </div>
        </div>
        <div class="col-xs-12" data-ng-if="!clonectrl.isSaveSuccess">
            <div class="d-flex m-b-10 m-t-10">
                <div class="m-auto updatepanel">
                    <div data-ng-include="'./img/clone/module.svg'"></div>
                </div>
            </div>
            <!-- container -->
            <div class="m-5" data-ng-init="clonectrl.showDetails = true; clonectrl.showAdvanced = false; clonectrl.showSKUs = false;clonectrl.showNewProperties = false;"
                style="display: flex; flex-direction: column; align-items: flex-start;">
                <span class="f-700 c-orange text-center">{{clonectrl.item_description}}</span>
                <div data-ng-if="clonectrl.item_description">
                    <button type="button" id="item_Detail_clone" name="item_Detail_clone" class="btn btn-link waves-effect p-0 m-r-5" ng-click="clonectrl.showDetails = !clonectrl.showDetails">Item Details</button>
                    <button type="button" class="btn btn-link waves-effect p-0 m-l-5" ng-click="clonectrl.showSKUs = !clonectrl.showSKUs;" data-ng-if=" clonectrl.skus.length > 0">| &nbsp; SKUs</button>
                    <button type="button" class="btn btn-link waves-effect p-0 m-l-5" ng-click="clonectrl.showAdvanced = !clonectrl.showAdvanced;">| &nbsp Advanced</button>
                    <button type="button" class="btn btn-link waves-effect p-0 m-l-5" ng-click="clonectrl.showNewProperties = !clonectrl.showNewProperties;">| &nbsp New Properties</button>
                </div>
            </div>
            <div data-ng-if="clonectrl.showDetails">
                <hr />
                <div class="m-10">
                    <div class="text-center text-info f-15 p-b-10 underlineGreen">Item Details</div>
                    <div data-ng-repeat="data in clonectrl.ItemDetails" style="display: flex;
                justify-content: space-between;">
                        <span class="f-300 m-b-5 c-gray">{{data[0] | replace: '_':' ' |titleCase }}
                            <span class="f-400 text-info"> : {{data[1]}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div data-ng-if="clonectrl.showSKUs">
                <hr />
                <div class="text-center text-info f-15 p-b-10 underlineGreen">SKUs</div>
                <table class="table table-condensed table-bordered table-vmiddle">
                    <thead>
                        <tr>
                            <th>Clone</th>
                            <th class="text-center">Item Id</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="sku in clonectrl.skus">
                            <td class="text-center p-0" title="{{clonectrl.skuAllowedToolTip}}">
                                <input type="checkbox" ng-model="sku.checked" ng-disabled="!clonectrl.isSKUCloneAllowed" />
                            </td>
                            <td class="f-700 text-center f-11">{{sku.id}}</td>
                            <td class="f-11">{{sku.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="m-t-10 p-5" data-ng-if="clonectrl.showAdvanced">
                <hr />
                <div class="text-center text-info f-15 p-b-10 underlineGreen">Advanced Cloning Options</div>
                <div>
                    <input class="styled-checkbox" type="checkbox" ng-model="clonectrl.isCloneDrops" data-ng-init="clonectrl.isCloneDrops=false"
                        id="clone_drops_checkbox">
                    <label for="clone_drops_checkbox">Include Item Drops ( Images/Documents etc )</label>
                </div>

                <div data-ng-if="clonectrl.skus.length > 0">
                    <input class="styled-checkbox" type="checkbox" ng-model="clonectrl.isCloneSKUDrops" data-ng-init="clonectrl.isCloneSKUDrops=false"
                        id="clone_sku_drops_checkbox">
                    <label for="clone_sku_drops_checkbox">Include SKU Drops ( Images/Documents etc )</label>
                </div>

                <div>
                    <input class="styled-checkbox" type="checkbox" ng-model="clonectrl.isCloneUddValues" data-ng-init="clonectrl.isCloneUddValues=false"
                        id="clone_udd_values_checkbox">
                    <label for="clone_udd_values_checkbox">Include User Defined Data Values</label>
                </div>

            </div>

            <div class="m-t-10 p-5" ng-if="clonectrl.showNewProperties">
                <hr />
                <div class="text-center text-info f-15 p-b-10 underlineGreen">New Properties</div>
                <div>
                    <input class="styled-checkbox" type="checkbox" ng-model="clonectrl.isNewDescription" data-ng-init="clonectrl.isNewDescription=false"
                        id="new_description">
                    <label for="new_description">Description for new item</label>
                </div>
                <div ng-if="clonectrl.isNewDescription" class="m-t-10">
                    <textarea class="input-sm description-text-area rc-text-area" rows="4" cols="50" name="description" id="description" ng-model="clonectrl.new_description"
                        placeholder="Enter Description"></textarea>
                </div>

            </div>


            <div class="m-t-20" data-ng-init="clonectrl.showCloningForm=true" data-ng-if="clonectrl.showCloningForm == true">
                <hr>
                <div style="display: flex;justify-content: space-around;align-items: baseline;justify-items: center;flex-direction: row-reverse;">
                    <!-- <button type="button" class="btn btn-success btn-block waves-effect" style="display: flex;justify-content: center;flex: 10;"
                        data-ng-disabled="clonectrl.clones.length > 0 || clonectrl.isProcessing===true;" ng-click="clonectrl.startCloning();">
                        <span data-ng-bind-html="clonectrl.cloneBtnLabel"></span>
                    </button> -->
                    <rcp-edit-form-btns data-ng-disabled="clonectrl.clones.length > 0 || clonectrl.isProcessing===true;" new-form="true" save-fn="clonectrl.startCloning();"
                        save-btn-text="clonectrl.cloneBtnLabel">
                    </rcp-edit-form-btns>
                </div>
                <div class="m-t-5 f-12 text-muted">
                    Cloning item will create a copy of item master details, user defined data and clone all skus linked to it.
                </div>
            </div>
            <hr>
            <div class="col-xs-12 p-0">
                <div class="m-b-0 pull-left alert alert-success alert-dismissable" data-ng-show="clonectrl.message">
                    <button type="button" class="close" data-ng-click="clonectrl.message = null" aria-hidden="true">&times;</button>{{clonectrl.message}}
                </div>
                <div data-ng-if="clonectrl.error" class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-ng-click="clonectrl.error = null" aria-hidden="true">&times;</button> {{clonectrl.error}}
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <rcp-success-form success-tick="success_tick.svg" clone-success="clonectrl.isSaveSuccess" close-fn="clonectrl.closeForm();"></rcp-success-form>
        </div>
    </div>
    <secondary-authentication feature-code="'item-clone'" show-locked-screen="clonectrl.showLockedScreen" close-fn="clonectrl.exit();"
        data-ng-if="clonectrl.showLockedScreen">
    </secondary-authentication>
</div>
