<div id="rightsidebar" data-ng-class="{'toggled':taxCtrl.isColumnSettingsVisible === true}">
    <div class="m-t-25 d-flex">
        <div class="p-0 cursor-pointer p-absolute" ng-click="taxCtrl.isColumnSettingsVisible = false;">
            <a>
                <i class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x" aria-hidden="true"></i>
            </a>
        </div>
        <div class="m-auto p-0 text-center">
            <label class="editformlabel">Hide/Show
                <strong> Columns</strong>
            </label>
        </div>
    </div>
    <div class="col-xs-12 updatepanel">
        <svg height="130" width="200">
            <svg version="1.1" id="Capa_1" class="sidebar-svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="60px" y="20px" viewBox="0 0 19 19" style="enable-background:new 0 0 19 19;" xml:space="preserve" height="80"
                width="150">
                <g>
                    <circle cx="2.5" cy="16.5" r="2.5" />
                    <circle cx="2.5" cy="9.5" r="2.5" />
                    <circle cx="2.5" cy="2.5" r="2.5" />
                    <circle cx="9.5" cy="16.5" r="2.5" />
                    <circle cx="9.5" cy="9.5" r="2.5" />
                    <circle cx="9.5" cy="2.5" r="2.5" />
                    <circle cx="16.5" cy="16.5" r="2.5" />
                    <circle cx="16.5" cy="9.5" r="2.5" />
                    <circle cx="16.5" cy="2.5" r="2.5" />
                </g>
            </svg>
        </svg>
    </div>
    <div class="col-lg-12">
        <div id="columns_container" class="col-lg-12 p-0">
            <div class="checkbox col-xs-12 form-group">
                <label for="id_col">
                    <input id="id_col" type="checkbox" ng-true-value=true ng-false-value=false data-ng-model="taxCtrl.taxRegionsGrid.columns.id.visible">                    Id
                    <i class="input-helper"></i>
                </label>
            </div>
            <div class="checkbox col-xs-12 form-group">
                <label for="region_name_col">
                    <input id="region_name_col" type="checkbox" ng-true-value=true ng-false-value=false data-ng-model="taxCtrl.taxRegionsGrid.columns.region_name.visible"
                        checked> Region
                    <i class="input-helper"></i>
                </label>
            </div>
            <div class="checkbox col-xs-12 form-group">
                <label for="nexus_col">
                    <input id="nexus_col" type="checkbox" ng-true-value=true ng-false-value=false data-ng-model="taxCtrl.taxRegionsGrid.columns.nexus.visible"
                        checked> Nexus
                    <i class="input-helper"></i>
                </label>
            </div>
            <div class="checkbox col-xs-12 form-group">
                <label for="tax_method_col">
                    <input id="tax_method_col" type="checkbox" ng-true-value=true ng-false-value=false data-ng-model="taxCtrl.taxRegionsGrid.columns.tax_method.visible"
                        checked> Tax Method
                    <i class="input-helper"></i>
                </label>
            </div>
            <div class="checkbox col-xs-12 form-group">
                <label for="search_col">
                    <input id="search_col" type="checkbox" ng-true-value=true ng-false-value=false data-ng-model="taxCtrl.taxRegionsGrid.columns.search.visible"
                        checked> Search
                    <i class="input-helper"></i>
                </label>
            </div>
        </div>
    </div>
</div>