<div id="rightsidebar" class="c-overflow" data-ng-class="{'toggled':usrCtrl.$showPassRstDetails === true || usrCtrl.$showPassRstDetails === 1}">
    <div class="col-xs-12 m-t-25">
        <div class="col-xs-3 p-0">
            <a data-ng-click="usrCtrl.closeForm();" class="cursor-pointer">
                <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x"></span>
            </a>
        </div>
        <div class="col-xs-9 p-0">
            <label class="rclabel editformlabel">Reset <strong> Password</strong></label>
        </div>
    </div>
    <div class="col-xs-12">
        <div ng-if="!usrCtrl.$updatesuccess">
            <div class="m-t-20" style="height: 160px;">
                <img class="img-responsive" src="./img/profile-pics/IMG_0056.jpg" style="border-radius: 50%; padding:15px 28%" />
                <div style="display: inline;text-align: -webkit-center;">
                    <div style="font-size: 24px;color:#6E507A;">{{pctrl.userInfo.name}}</div>
                </div>
            </div>
        </div>
        <div class="form-group col-xs-12 p-r-0 m-t-20">
            <div ng-if="!usrCtrl.$updatesuccess">
                <ng-form role="form" novalidate="novalidate" name="password_reset_form">
                    <div class="form-group">
                        <label>Current Password</label>
                        <input id="old_password" name="old_password" type="{{input_type}}" class="form-control input-sm" ng-model="head.old_password" placeholder="Enter Current Password" errorvalue="head.old_password_error" required="" ng-model-options="{ updateOn: 'blur' }"
                        />
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input id="new_password" name="new_password" type="{{input_type}}" class="form-control input-sm" ng-model="head.new_password" placeholder="Enter New Password" errorvalue="head.new_password_error" required="" ng-model-options="{ updateOn: 'blur' }"
                        />
                    </div>
                    <div class="form-group">
                        <label>Retype Password</label>
                        <input id="retype_password" name="retype_password" type="{{input_type}}" class="form-control input-sm" ng-model="head.retype_password" placeholder="Retype New Password" errorvalue="head.retype_password_error" required="" ng-model-options="{ updateOn: 'blur' }"
                        />
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input id="showHidePassword" type="checkbox" ng-checked="all" hidden="hidden" ng-model="showHidePassword" ng-true-value="1" ng-false-value="0" ng-click="hideShowPassword()"><i class="input-helper"></i>Show Password
                            </label>
                        </div>
                    </div>
                    <rcp-edit-form-btns update-fn="reset(pctrl.userInfo);" update-btn-text="usrCtrl.$updateBtnText" update-btn-error="usrCtrl.$updatebtnerror" enable-button="password_reset_form.$invalid || head.new_password !== head.retype_password" ng-class="{'btn-danger': usrCtrl.$updatebtnerror === true}"></rcp-edit-form-btns>
                </ng-form>
            </div>
            <rcp-success-form success-tick="success_tick.svg" close-fn="usrCtrl.closeForm();" update-success="usrCtrl.$updatesuccess"> </rcp-success-form>
        </div>
    </div>
    <div class="col-xs-12">
        <div growl></div>
    </div>
</div>