<div id="rcrightsidebar" class="toggled" data-ng-class="{'changehistorytoggle': locTypeCtrl.showDependencyDetailsData === true}">
    <div class="col-xs-12 m-t-25">
        <div class="col-xs-3 p-0">
            <a data-ng-click="locTypeCtrl.closeForm();" class="cursor-pointer">
                <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x"></span>
            </a>
        </div>
        <div class="col-xs-9 p-0">
            <label class="rclabel editformlabel">Delete <strong>{{locTypeCtrl.entityInformation.name | truncate :30}}</strong></label>
        </div>
    </div>
    <div class="col-xs-12" ng-if="!locTypeCtrl.isUnauthorized">
        <div ng-if="!locTypeCtrl.showDependencyDetails">
            <div class="col-xs-12" ng-if="!locTypeCtrl.isDeleteSuccess">
                <rcp-delete-form image-name="entity-config-location.svg" close-fn="locTypeCtrl.dblClickAction(locTypeCtrl.new_location);" delete-fn="locTypeCtrl.delete(locTypeCtrl.new_location);"></rcp-delete-form>
            </div>
            <div class="col-xs-12">
                <rcp-success-form success-tick="success_tick.svg" close-fn="locTypeCtrl.closeForm(); " update-success="locTypeCtrl.isDeleteSuccess"></rcp-success-form>
            </div>
        </div>
        <div class="col-xs-12" ng-if="locTypeCtrl.showDependencyDetails">
            <div class="d-flex m-b-10 m-t-10" ng-if="!locTypeCtrl.isSaveSuccess">
                <div class="m-auto updatepanel">
                    <div data-ng-include="'./img/sidebar-icons/entity-config-location.svg'"></div>
                </div>
            </div>
            <div>
                <h4 class="aligncenter dependency-errorMessage">Cannot be deleted!</h4>
            </div>
            <div class="col-xs-12 p-0" ng-repeat="($groupName,$dependencyMain) in ( locTypeCtrl.dependencyList | groupBy : 'dependent_entity')">
                <div class="rcpscrollbar dependency-entityBox">
                    <h4> Dependent Entities - {{$groupName}} </h4>
                    <div class="col-xs-12 p-0" data-ng-repeat="dependency in $dependencyMain">
                        <div class="dependency-entityList" ng-click="locTypeCtrl.showDependencyListDetails(dependency);">
                            <span title="{{dependency.name}}">{{dependency.name | truncate:40}}</span>
                            <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw pull-right zmdi-hc-border-circle"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group pull-right m-r-5 m-t-15">
                <button class="btn-secondary waves-effect" ng-click="locTypeCtrl.closeDependencyList();">
                        <span><b>Cancel</b></span>
                    </button>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div data-ng-show="locTypeCtrl.message" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-ng-click="locTypeCtrl.message = null" aria-hidden="true">&times;</button> {{locTypeCtrl.message}}
        </div>
    </div>
    <div ng-if="locTypeCtrl.isUnauthorized" data-ng-include="'./application/templates/restricted.access.compact.html'"></div>
</div>