<div id="rcrightsidebar" class="rcpscrollbar changehistory" data-ng-class="{'toggled':locTypeCtrl.showDependencyDetailsData === true}">
    <div class="col-xs-12 m-t-25">
        <div class="col-xs-3 p-0">
            <a class="cursor-pointer" data-ng-click="locTypeCtrl.closeDependencyDetails()" class="inheritheight">
                <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x"></span>
            </a>
        </div>
        <div class="col-xs-9 p-0">
            <label class="rclabel editformlabel" title="Dependency Details"><strong>Dependency Details</strong></label>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="dependencyMargin">
            <div class="col-xs-12 p-0 m-b-20">
                <h4>Location Type Details</h4>
                <table class="table table-bordered dependency-table">
                    <tr>
                        <td>Name</td>
                        <td class="highlight-text-success" title="{{locTypeCtrl.new_location.short_description}}">{{locTypeCtrl.new_location.short_description | truncate:20}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td title="{{locTypeCtrl.new_location.status}}">{{locTypeCtrl.new_location.status}}</td>
                    </tr>
                </table>
                <h4>Location Dependent Details</h4>
                <table class="table table-bordered dependency-table">
                    <tr>
                        <td>Name</td>
                        <td class="highlight-text-success" title="{{locTypeCtrl.errorDependentData.name}}">{{locTypeCtrl.errorDependentData.name | truncate:20}}</td>
                    </tr>
                    <tr>
                        <td>Short Name</td>
                        <td title="{{locTypeCtrl.errorDependentData.short_name}}">{{locTypeCtrl.errorDependentData.short_name}}</td>
                    </tr>
                    <tr>
                        <td>Next Effective Date</td>
                        <td ng-show="locTypeCtrl.errorDependentData.next_status !== 'None'" title="{{locTypeCtrl.errorDependentData.next_effective_date | FormatDate}}">{{locTypeCtrl.errorDependentData.next_effective_date | FormatDate}}</td>
                        <td ng-show="locTypeCtrl.errorDependentData.next_status === 'None'" title="{{locTypeCtrl.errorDependentData.next_effective_date}}">N/A</td>
                    </tr>
                </table>
                </br>
                <div class="dependency-notifyMessage"> <i class="zmdi zmdi-lamp zmdi-hc-fw zmdi-hc-rotate-180 dependency-notifyIcon"></i><span>{{locTypeCtrl.errorDependentData.message}}</span></div>
                <!-- <button type="button" class="btn btn-view-values m-5 pull-right m-t-10" ng-click=""><bold>Delete Location</bold></button>-->
            </div>
        </div>
    </div>
</div>