<!-- Section to display all the company associates -->
<div data-ng-controller="CompanyAssociateController as assocCtrl">
    <div class="rc-module-header d-flex">
        <div class="col-xs-12 p-0 d-flex" style="justify-content: space-between;">
            <div class="d-flex" style="padding: 0px 10px;box-shadow: 3px 0px 4px -1px #f7f7f7;">
                <div class="p-relative">
                    <div class="image-module p-absolute top-10">
                        <img src="./img/sidebar-icons/inr-users.svg" />
                    </div>
                    <div class="label-module top-10">
                        <a class="p-l-40" href="javascript:void(0)">Associates -
                            {{assocCtrl.selectedDepartment.name}}</a>
                    </div>
                </div>
            </div>
            <div class="d-flex" style="flex: 5;">
                <div class="d-flex d-flex-v-center p-l-20">

                    <div class="record-count-section tableheader-btn">
                        <span data-ng-if="!assocCtrl.search"> {{assocCtrl.rowsInfo}} </span>
                        <span data-ng-if="assocCtrl.search">Displaying
                            {{(assocCtrl.associates|filter:assocCtrl.search).length}} of {{assocCtrl.associates.length}}
                            Records</span>
                    </div>
                </div>
            </div>


            <div class="d-flex">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="d-flex nav navbar-nav navbar-right">
                        <li>
                            <a>
                                <div class="search-section tableheader-btn pull-right"
                                    ng-if="assocCtrl.associates.length > 0">
                                    <input class="form-control input-sm" type="text" id="inlineSearch"  name="inlineSearch" data-ng-init="assocCtrl.focusSearchField()" ng-model="assocCtrl.search"
                                        indicate-quick-search placeholder="Quick Search "
                                        data-ng-disabled="!assocCtrl.isLoaded" />
                                </div>
                            </a>
                        </li>
                        <li class="non-collapsed-link" ng-if="assocCtrl.associates.length > 0">
                            <a>
                                <button type="button" ng-click="assocCtrl.ShowHideColumnSettings()"
                                    class="btn-primal btn-block waves-effect" data-ng-disabled="!assocCtrl.isLoaded">
                                    <span class="f-700 ng-binding">Columns</span>
                                </button>
                            </a>
                        </li>
                        <li class="non-collapsed-link" ng-if="assocCtrl.associates.length > 0">
                            <a>
                                <button type="button" ng-click="assocCtrl.reload(true);"
                                    class="btn-primal btn-block waves-effect" data-ng-disabled="!assocCtrl.isLoaded">
                                    <span class="f-700 ng-binding">Refresh</span>
                                </button>
                            </a>
                        </li>
                        <li class="non-collapsed-link">
                            <a>
                                <button type="button" class="btn btn-cancel waves-effect f-700"
                                    data-ui-sref="common.prime.company.department">Go Back</button>
                            </a>
                        </li>
                        <li class="add-btn">
                            <a>
                                <button type="button" class="btn btn-success f-700 waves-effect"
                                    data-ng-click="assocCtrl.openForm();"
                                    data-ng-disabled="!assocCtrl.associatePermissions.create">
                                    <span
                                        title="{{!assocCtrl.associatePermissions.create ? 'Access denied' : ''}}">Create
                                        Associate</span>
                                </button>
                            </a>
                        </li>
                        <li class="dropdown collapsed-link" uib-dropdown>
                            <button type="button" uib-dropdown-toggle class="full-height bg-none p-15" href="" style="border-left:3px solid #e8e8e8">
                                <i class="tm-icon zmdi zmdi-more-vert f-25"></i>
                            </button>
                            <ul class="dropdown-menu dm-icon pull-right" style="width:200px;">
                                <li class="add-btn cursor-pointer">
                                    <button type="button" data-ng-click="assocCtrl.openForm();" style="padding: 8px 20px"
                                        class="restricted-btn"
                                        title="{{!assocCtrl.associatePermissions.create ? 'Access denied' : ''}}"
                                        data-ng-disabled="!assocCtrl.associatePermissions.create"
                                        data-ng-class="{'opacity50' : !assocCtrl.associatePermissions.create}">
                                        <i class="zmdi zmdi-plus text-success f-17 m-r-15"></i> Create Associate
                                    </button>
                                </li>
                                <li ng-if="assocCtrl.associates.length > 0">
                                    <button type="button" style="padding: 8px 20px"
                                    class="restricted-btn" data-ng-click="assocCtrl.isLoaded ? assocCtrl.ShowHideColumnSettings() : '' "
                                        data-ng-class="{'cursor-not-allowed': !assocCtrl.isLoaded}" href="">
                                        <i class="zmdi zmdi-view-week text-info"></i> Columns </button>
                                </li>
                                <li ng-if="assocCtrl.associates.length > 0">
                                    <button type="button"  style="padding: 8px 20px"
                                    class="restricted-btn" ng-click="assocCtrl.isLoaded ? assocCtrl.reload(true) : '' "
                                        data-ng-class="{'cursor-not-allowed': !assocCtrl.isLoaded}" href="">
                                        <i class="zmdi zmdi-refresh text-warning"></i> Refresh</button>
                                </li>
                                <li>
                                    <a ui-sref="common.prime.company.department" href="">
                                        <i class="zmdi zmdi-long-arrow-left"></i>
                                        Go Back
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center module-content-configuration"
        data-ng-if="!assocCtrl.rowsCount && !assocCtrl.isLoaded && !assocCtrl.isLoadedView">
        <span class="f-17 f-700 c-black">Loading</span>
        <span class="f-700" style="letter-spacing: 3px;">....</span>
    </div>
    <div data-ng-if="assocCtrl.rowsCount === 0 && assocCtrl.isLoaded && assocCtrl.associatePermissions.view"
        class="col-xs-12 text-center module-content-configuration">
        <div class="col-xs-12 text-center text-info">
            <span class="f-15 f-300">No associate exists for selected company department. Please add associate.</span>
        </div>
    </div>
    <div data-ng-if="assocCtrl.rowsCount !== 0 && assocCtrl.isLoaded">
        <div class="rcp-table-container" ng-if="assocCtrl.associatePermissions.view && assocCtrl.isLoaded">
            <div class="col-xs-12 p-0">
                <script type="text/javascript">

                    $(function () {
                        var pressed = false;
                        var start = undefined;
                        var startX, startWidth;

                        $("table th").dblclick(function (e) {
                            start = $(this);
                            pressed = true;
                            startX = e.pageX;
                            startWidth = $(this).width();
                            $(start).addClass("resizing");
                        });

                        $(document).mousemove(function (e) {
                            if (pressed) {
                                $(start).width(parseInt(startWidth + (e.pageX - startX)));
                            }
                        });

                        $(document).mouseup(function () {
                            if (pressed) {
                                $(start).removeClass("resizing");
                                pressed = false;
                            }
                        });
                    });
                </script>
                <div data-ng-include="'./application/modules/company/associate/hideShowColumns.html'"></div>
                <div class="table-responsive module-content-configuration"
                    data-ng-init="assocCtrl.pageChangeHandler(1)">
                    <div class="col-xs-12 p-0 o-auto sticky-head-container">
                        <table
                            class="table table-hover table-vmiddle table-condensed table-bordered grid sticky-head-table">
                            <thead data-ng-show="assocCtrl.isLoaded">
                                <tr>
                                    <th class="text-center" id="id_col_head" drag-me drop-me data-handle=".handle"
                                        ng-click="assocCtrl.sortType = 'id'; sortReverse = !sortReverse"
                                        data-ng-hide="assocCtrl.companyAssociateGrid.columns.id.visible == 0">
                                        <span class="handle">Id</span>
                                        <span ng-show="assocCtrl.sortType == 'id' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="assocCtrl.sortType == 'id' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" id="status_col_head" drag-me drop-me data-handle=".handle"
                                        ng-click="assocCtrl.sortType = 'status'; sortReverse = !sortReverse"
                                        data-ng-hide="assocCtrl.companyAssociateGrid.columns.status.visible == 0">
                                        <span class="handle">Status</span>
                                        <span ng-show="assocCtrl.sortType == 'status' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="assocCtrl.sortType == 'status' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" id="title_col_head" drag-me drop-me data-handle=".handle"
                                        ng-click="assocCtrl.sortType = 'title'; sortReverse = !sortReverse"
                                        data-ng-hide="assocCtrl.companyAssociateGrid.columns.title.visible == 0">
                                        <span class="handle">Job Title</span>
                                        <span ng-show="assocCtrl.sortType == 'title' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="assocCtrl.sortType == 'title' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" id="name_col_head" drag-me drop-me data-handle=".handle"
                                        ng-click="assocCtrl.sortType = 'name'; sortReverse = !sortReverse"
                                        data-ng-hide="assocCtrl.companyAssociateGrid.columns.name.visible == 0">
                                        <span class="handle">Name</span>
                                        <span ng-show="assocCtrl.sortType == 'name' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="assocCtrl.sortType == 'name' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" style="width:7%" id="address_col_head" drag-me drop-me
                                        data-handle=".handle"
                                        data-ng-hide="assocCtrl.companyAssociateGrid.columns.addressContact.visible == 0">
                                        <span class="handle">Address and Contact</span>
                                    </th>
                                    <th class="text-center" id="datalake_col_head" drag-me drop-me data-handle=".handle"
                                        data-ng-hide="assocCtrl.companyAssociateGrid.columns.datalake.visible == 0">
                                        <span class="handle">Documents</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="associate in assocCtrl.associates|filter:assocCtrl.search|orderBy:assocCtrl.sortType:sortReverse|itemsPerPage:assocCtrl.pageSize"
                                    ng-class="{'background-hover':$index === selectedRow}"
                                    data-ng-click="assocCtrl.setClickedRow($index);"
                                    ios-dblclick="assocCtrl.dblClickAction(associate);" selectedrow="{{associate}}">
                                    <td class="id_col"
                                        data-ng-hide="assocCtrl.companyAssociateGrid.columns.id.visible == 0">
                                        {{associate.id}}</td>
                                    <td class="status_col"
                                        ng-class="{'text-success f-500': associate.status==='Active' , 'text-warning f-300': associate.status ==='Pending Active', 'text-primary f-300': associate.status ==='Inactive','text-info f-300': associate.status==='Pending Inactive'}"
                                        data-ng-hide="assocCtrl.companyAssociateGrid.columns.status.visible == 0">
                                        {{associate.status}}</td>
                                    <td class="title_col"
                                        data-ng-hide="assocCtrl.companyAssociateGrid.columns.title.visible == 0">
                                        {{associate.title}}</td>
                                    <td class="name_col"
                                        data-ng-hide="assocCtrl.companyAssociateGrid.columns.name.visible == 0">
                                        {{associate.individual}}</td>
                                    <td class="address_col text-center"
                                        data-ng-class="{'cursor-not-allowed':isShowAddressContactPanel}">
                                        <button type="button" class="f-700 cursor-pointer bg-none border-none btn-link"
                                            data-ng-class="{'disable-pointer':isShowAddressContactPanel}"
                                            ng-click="assocCtrl.openAddressContactPanel();openAddressPanel(associate.id);"
                                            data-ng-hide="assocCtrl.companyAssociateGrid.columns.addressContact.visible == 0">View</button>
                                    </td>
                                    <td class="datalake_col iconcolumnWidth text-center p-l-5"
                                        data-ng-hide="assocCtrl.companyAssociateGrid.columns.datalake.visible == 0">
                                        <button type="button" class="p-l-5 header-button datalake-button"
                                            ng-click="showMetaData(assocCtrl.entityInformation,associate,assocCtrl.associatePermissions);"
                                            data-ng-disabled="!assocCtrl.associatePermissions.drop">
                                            <span class="zmdi zmdi-cloud zmdi-hc-fw"
                                                data-ng-if="assocCtrl.associatePermissions.drop"
                                                title="Click here to manage documents" title-direction="left"
                                                fixed-position="true"></span>
                                            <span class="zmdi zmdi-cloud-off zmdi-hc-fw"
                                                data-ng-if="!assocCtrl.associatePermissions.drop" title="Access denied"
                                                title-direction="left" fixed-position="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12 p-15 align-items-center d-flex justify-content-between">
                        <dir-pagination-controls template-url="rc-pagination.html" class="pull-left"
                            boundary-links="true" on-page-change="assocCtrl.pageChangeHandler(newPageNumber)">
                        </dir-pagination-controls>
                        <div class="btn-group pull-right ng-table-counts m-0">
                            <button type="button" class="btn btn-default f-12 noboxshadow"
                                ng-click="assocCtrl.pageSize = 10"
                                ng-class="{'active':assocCtrl.pageSize === 10}">10</button>
                            <button type="button" class="btn btn-default f-12 noboxshadow"
                                ng-click="assocCtrl.pageSize = 25"
                                ng-class="{'active':assocCtrl.pageSize === 25}">25</button>
                            <button type="button" class="btn btn-default f-12 noboxshadow"
                                ng-click="assocCtrl.pageSize = 50"
                                ng-class="{'active':assocCtrl.pageSize === 50}">50</button>
                            <button type="button" class="btn btn-default f-12 noboxshadow"
                                ng-click="assocCtrl.pageSize = 100"
                                ng-class="{'active':assocCtrl.pageSize === 100}">100</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="assocCtrl.showAddrCnt" data-ng-include="'./application/templates/panel.address.contact.html'"></div>
        <meta-data-panel></meta-data-panel>
    </div>
    <div ng-if="!assocCtrl.associatePermissions.view && assocCtrl.isLoadedView"
        data-ng-include="'./application/templates/restricted.access.html'"></div>
    <div data-ng-include="'./application/modules/company/associate/panel.company.associate.form.html'"></div>
    <div class="col-lg-12 p-0" data-ng-if="assocCtrl.associatePermissions.view">
        <div id="refresh-table" class="p-15" data-ng-class="{'toggled':assocCtrl.isRefreshTable}">
            <div class="col-xs-6 p-0">
                <span class="f-15 f-300 pull-left">{{assocCtrl.refreshTableText}}</span>
            </div>
            <div class="col-xs-6 p-0" data-ng-if="assocCtrl.totalTimeText">
                <span class="pull-right f-300">
                    <strong>{{assocCtrl.totalRecords}}</strong>
                    <span class="f-14 c-gray">{{assocCtrl.totalRecordsText}}</span>
                    <span ng-bind-html="assocCtrl.totalTimeText"></span>
                </span>
            </div>
        </div>
    </div>
</div>