<div id="rcrightsidebar" class="rcpscrollbar changehistory" data-ng-class="{'toggled':choiceCtrl.showDependencyDetails === true}">
    <div class="col-xs-12 m-t-25">
        <div class="col-xs-3 p-0">
            <a data-ng-click="choiceCtrl.closeDependencyDetails();" class="cursor-pointer">
                <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x"></span>
            </a>
        </div>
        <div class="col-xs-9 p-0">
            <label class="rclabel editformlabel" title="Dependency Details"><strong>Dependency Details</strong></label>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="dependencyMargin">
            <div class="col-xs-12 p-0 m-b-20">
                <h4>MTO Choice Details</h4>
                <table class="table table-bordered dependency-table">
                    <tr>
                        <td>Choice Description</td>
                        <td class="highlight-text-success" title="{{choiceHead.choice_description}}">{{choiceHead.choice_description | truncate:50}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td title="{{choiceHead.status}}">{{choiceHead.status}}</td>
                    </tr>
                </table>
                <h4>{{choiceCtrl.errorDependentData.dependent_entity}} - Dependent Details</h4>
                <div ng-if="choiceCtrl.errorDependentData.dependent_entity !== 'Item'">
                    <table class="table table-bordered dependency-table">
                        <tr>
                            <td>Description</td>
                            <td class="highlight-text-success" title="{{choiceCtrl.errorDependentData.description}}">{{choiceCtrl.errorDependentData.description | truncate:50}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td title="{{choiceCtrl.errorDependentData.status}}">{{choiceCtrl.errorDependentData.status | truncate:20}}</td>
                        </tr>
                        <tr>
                            <td>Item Description</td>
                            <td title="{{choiceCtrl.errorDependentData.item_description}}">{{choiceCtrl.errorDependentData.item_description | truncate:50}}</td>
                        </tr>
                        <tr>
                            <td>SKU Type</td>
                            <td title="{{choiceCtrl.errorDependentData.sku_type}}">{{choiceCtrl.errorDependentData.sku_type}}</td>
                        </tr>
                        <tr>
                            <td>Option List Name</td>
                            <td title="{{choiceCtrl.errorDependentData.option_list_name}}">{{choiceCtrl.errorDependentData.option_list_name}}</td>
                        </tr>
                        <tr>
                            <td>Vendor Number</td>
                            <td title="{{choiceCtrl.errorDependentData.vendor_item_number}}">{{choiceCtrl.errorDependentData.vendor_item_number}}</td>
                        </tr>
                        <tr>
                            <td>SKU</td>
                            <td title="{{choiceCtrl.errorDependentData.sku}}">{{choiceCtrl.errorDependentData.sku}}</td>
                        </tr>
                        <tr>
                            <td>Next Effective Date</td>
                            <td ng-show="choiceCtrl.errorDependentData.next_status !== 'None'" title="{{choiceCtrl.errorDependentData.next_effective_date}}">{{choiceCtrl.errorDependentData.next_effective_date | FormatDate}}</td>
                            <td ng-show="choiceCtrl.errorDependentData.next_status === 'None'" title="{{choiceCtrl.errorDependentData.next_effective_date}}">N/A</td>
                        </tr>
                    </table>
                </div>
                <div ng-if="choiceCtrl.errorDependentData.dependent_entity === 'Item'">
                    <table class="table table-bordered dependency-table">
                        <tr>
                            <td>Description</td>
                            <td class="highlight-text-success" title="{{choiceCtrl.errorDependentData.description}}">{{choiceCtrl.errorDependentData.description | truncate:50}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td title="{{choiceCtrl.errorDependentData.status}}">{{choiceCtrl.errorDependentData.status | truncate:20}}</td>
                        </tr>
                        <tr>
                            <td>Item/Set</td>
                            <td title="{{choiceCtrl.errorDependentData.item_sub_type}}">{{choiceCtrl.errorDependentData.item_sub_type}}</td>
                        </tr>
                        <tr>
                            <td>Individual or Company</td>
                            <td title="{{choiceCtrl.errorDependentData.individual_or_company}}">{{choiceCtrl.errorDependentData.individual_or_company}}</td>
                        </tr>
                        <tr>
                            <td>Item Type</td>
                            <td title="{{choiceCtrl.errorDependentData.item_type}}">{{choiceCtrl.errorDependentData.item_type}}</td>
                        </tr>
                        <tr>
                            <td>Next Effective Date</td>
                            <td ng-show="choiceCtrl.errorDependentData.next_status !== 'None'" title="{{choiceCtrl.errorDependentData.next_effective_date}}">{{choiceCtrl.errorDependentData.next_effective_date | FormatDate}}</td>
                            <td ng-show="choiceCtrl.errorDependentData.next_status === 'None'" title="{{choiceCtrl.errorDependentData.next_effective_date}}">N/A</td>
                        </tr>
                    </table>
                </div>
                </br>
                <div class="dependency-notifyMessage"><span>{{choiceCtrl.errorDependentData.message}}</span></div>
                <!-- <button type="button" class="btn btn-view-values m-5 pull-right m-t-10" ng-click=""><bold>Delete Item</bold></button>-->
            </div>
        </div>
    </div>
</div>