<!--Attribute Properties list panel -->
<div class="container col-lg-12 p-0" data-ng-controller="AttributeValueController as ValueCtrl"
    data-ng-init="ValueCtrl.activate();">

    <style>
        .significant-attribute {
            font-weight: 700;
            color: black;
        }
        button:focus{
        outline: 5px auto #6ecaf6!important
    }
    </style>

    <ul style="display:none">
        <li>
            <keybinding on="alt+n" invoke="ValueCtrl.NewAttributeValue()" />
        </li>
        <li>
            <keybinding on="esc" invoke="ValueCtrl.exit();ValueCtrl.isColumnSettingsVisible = false" />
            <keybinding on="ctrl+f" invoke="ValueCtrl.focusSearchField()" />
        </li>
        <li>
            <keybinding on="alt+r" invoke="ValueCtrl.ViewAttributeValues('refresh')" />
        </li>
        <li>
            <keybinding on="alt+shift+1" invoke="ValueCtrl.isColumnSettingsVisible = true" />
        </li>
    </ul>

    <div class="rc-module-header d-flex">
        <div class="col-xs-12 p-0 d-flex" style="justify-content: space-between;">
            <div class="d-flex" style="padding: 0px 10px;box-shadow: 3px 0px 4px -1px #f7f7f7;">
                <div class="p-relative">
                    <div class="image-module p-absolute top-10">
                        <img src="./img/sidebar-icons/package.svg" />
                    </div>
                    <div class="label-module top-10">
                        <a class="p-l-40" href="javascript:void(0)" title="{{ValueCtrl.Attribute.description}}">
                            Attribute Values</a>
                    </div>
                </div>
            </div>
            <div class="d-flex" style="flex: 5;">
                <div class="d-flex d-flex-v-center p-l-20">
                    <div class="record-count-section tableheader-btn">
                        <span data-ng-if="!ValueCtrl.search" class="f-12"> {{ValueCtrl.rowsFound}} </span>
                        <span data-ng-if="ValueCtrl.search" class="f-12"> Displaying
                            {{(ValueCtrl.AttributeValues|filterBy:['status','description','short_description','display_sequence']:ValueCtrl.search).length}}
                            Of {{ValueCtrl.AttributeValues.length}} Records</span>
                    </div>
                </div>
            </div>


            <div class="d-flex">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="d-flex nav navbar-nav navbar-right">
                        <li>
                            <a>
                                <div class="search-section tableheader-btn pull-right"
                                    ng-if="ValueCtrl.AttributeValues.length > 0">
                                    <div class="input-group full-width">
                                        <input class="form-control input-sm" type="text " id="inlineSearch"
                                        name="inlineSearch"
                                            ng-model="ValueCtrl.search" indicate-quick-search placeholder="Quick Search"
                                            data-ng-disabled="!ValueCtrl.isLoaded" />
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="non-collapsed-link" ng-if="ValueCtrl.AttributeValues.length > 0">
                            <a>
                                <button type="button" ng-click="ValueCtrl.ShowHideColumnSettings()"
                                    class="btn-primal btn-block waves-effect btn-brd-none"
                                    data-ng-disabled="!ValueCtrl.isLoaded">
                                    <span class="f-700 ng-binding">Columns</span>
                                </button>
                            </a>
                        </li>
                        <li class="non-collapsed-link" ng-if="ValueCtrl.AttributeValues.length > 0">
                            <a>
                                <button type="button" ng-click="ValueCtrl.ViewAttributeValues(true);"
                                    class="btn-primal btn-block waves-effect btn-brd-none"
                                    data-ng-disabled="!ValueCtrl.isLoaded">
                                    <span class="f-700 ng-binding">Refresh</span>
                                </button>
                            </a>
                        </li>
                        <li class="non-collapsed-link">
                            <a ui-sref="common.prime.attributes">
                                <button type="button" class="btn btn-cancel waves-effect f-700">Go Back</button>
                            </a>
                        </li>
                        <li class="add-btn">
                            <a>
                                <button type="button" id="create_attr" name="create_attr" class="btn btn-success waves-effect f-700"
                                    ui-sref="common.prime.attributes.values.new"
                                    data-ng-disabled="!ValueCtrl.attributeValuePermissions.create">
                                    <span title="{{!ValueCtrl.attributeValuePermissions.create ? 'Access denied' : ''}}">
                                        Create Attribute Value
                                    </span>
                                </button>
                            </a>
                        </li>
                        <li class="dropdown collapsed-link" uib-dropdown>
                            <button type="button" uib-dropdown-toggle class="full-height bg-none p-15" style="border-left:3px solid #e8e8e8" href="">
                                <i class="tm-icon zmdi zmdi-more-vert f-25"></i>
                            </button>
                            <ul class="dropdown-menu dm-icon pull-right" style="width:200px;">
                                <li class="add-btn cursor-pointer">
                                    <button type="button" ui-sref="common.prime.attributes.values.new" style="padding: 8px 20px"
                                        class="restricted-btn w-100 text-left"
                                        title="{{!ValueCtrl.attributeValuePermissions.create ? 'Access denied' : ''}}"
                                        data-ng-disabled="!ValueCtrl.attributeValuePermissions.create"
                                        data-ng-class="{'opacity50' : !ValueCtrl.attributeValuePermissions.create}">
                                        <i class="zmdi zmdi-plus text-success f-17 m-r-15"></i> Create Attribute Value
                                    </button>
                                </li>
                                <li ng-if="ValueCtrl.AttributeValues.length > 0">
                                    <button type="button" data-ng-click="ValueCtrl.isLoaded ? ValueCtrl.ShowHideColumnSettings() : '' " class="restricted-btn w-100 text-left" style="padding: 8px 20px"
                                        data-ng-class="{'cursor-not-allowed': !ValueCtrl.isLoaded}">
                                        <i class="zmdi zmdi-view-week text-info f-17 m-r-15"></i> Columns </button>
                                </li>
                                <li ng-if="ValueCtrl.AttributeValues.length > 0">
                                    <button type="button" data-ng-click="ValueCtrl.isLoaded ? ValueCtrl.ViewAttributeValues(true) : '' " class="restricted-btn w-100 text-left" style="padding: 8px 20px"
                                        data-ng-class="{'cursor-not-allowed': !ValueCtrl.isLoaded}">
                                        <i class="zmdi zmdi-refresh text-warning f-17 m-r-15"></i> Refresh</button>
                                </li>
                                <li>
                                    <button type="button" ui-sref="common.prime.attributes" class="restricted-btn w-100 text-left" style="padding: 8px 20px">
                                        <i class="zmdi zmdi-long-arrow-left f-17 m-r-15"></i>
                                        Go Back
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12 text-center module-content-configuration"
        data-ng-if="!ValueCtrl.AttributeValues && !ValueCtrl.isLoaded">
        <span class="f-17 f-700 c-black">Loading</span>
        <span class="f-700" style="letter-spacing: 3px;">....</span>
    </div>
    <div class="col-xs-12 p-0 m-b-10 module-content-configuration rcp-table-container"
        data-ng-if="ValueCtrl.Attribute && ValueCtrl.attributeValuePermissions.view">
        <span>
            <span class="f-300">Showing values for : </span>
            <span
                style=" background: #e2600d;padding: 3px 7px;color: white;border-radius: 2px;font-weight: 400;">{{ValueCtrl.Attribute.description}}</span>
        </span>
    </div>
    <div data-ng-if="ValueCtrl.rowsCount && ValueCtrl.rowsCount !== 0">
        <div class="rcp-table-container" data-ng-if="ValueCtrl.attributeValuePermissions.view">
            <div>
                <script type="text/javascript">
                    $(function () {
                        var pressed = false;
                        var start = undefined;
                        var startX, startWidth;

                        $("table th").dblclick(function (e) {
                            start = $(this);
                            pressed = true;
                            startX = e.pageX;
                            startWidth = $(this).width();
                            $(start).addClass("resizing");
                        });

                        $(document).mousemove(function (e) {
                            if (pressed) {
                                $(start).width(parseInt(startWidth + (e.pageX - startX)));
                            }
                        });

                        $(document).mouseup(function () {
                            if (pressed) {
                                $(start).removeClass("resizing");
                                pressed = false;
                            }
                        });
                    });
                </script>
                <div data-ng-include="'./application/modules/attributes/values/hideShowColumns.html'"></div>
                <div class="table-responsive module-content-configuration" ng-if="!ValueCtrl.$grid"
                    data-ng-init="ValueCtrl.paginationHandler(1)">
                    <div class="col-xs-12 p-0 o-auto sticky-head-container">
                        <table
                            class="table table-hover table-vmiddle table-condensed table-bordered grid sticky-head-table">
                            <thead data-ng-show="ValueCtrl.isLoaded">
                                <tr>
                                    <th class="text-center" id="status_col_head" drag-me drop-me data-handle=".handle"
                                        ng-click="ValueCtrl.sortType = 'description'; sortReverse = !sortReverse"
                                        data-ng-hide="ValueCtrl.attributeValuesGrid.columns.status.visible == 0">
                                        <span class="handle">Status</span>
                                        <span ng-show="ValueCtrl.sortType == 'status' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="ValueCtrl.sortType == 'status' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" id="description_col_head" drag-me drop-me
                                        data-handle=".handle"
                                        ng-click="ValueCtrl.sortType = 'description'; sortReverse = !sortReverse"
                                        data-ng-hide="ValueCtrl.attributeValuesGrid.columns.description.visible == 0">
                                        <span class="handle">Description</span>
                                        <span ng-show="ValueCtrl.sortType == 'description' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="ValueCtrl.sortType == 'description' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" id="short_description_col_head" drag-me drop-me
                                        data-handle=".handle"
                                        ng-click="ValueCtrl.sortType = 'short_description'; sortReverse = !sortReverse"
                                        data-ng-hide="ValueCtrl.attributeValuesGrid.columns.shortDescription.visible == 0">
                                        <span class="handle">Short Description</span>
                                        <span ng-show="ValueCtrl.sortType == 'short_description' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="ValueCtrl.sortType == 'short_description' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center columnwidth" id="display_sequence_col_head" drag-me drop-me
                                        data-handle=".handle"
                                        ng-click="ValueCtrl.sortType = 'display_sequence'; sortReverse = !sortReverse"
                                        data-ng-hide="ValueCtrl.attributeValuesGrid.columns.displaySequence.visible == 0">
                                        <span class="handle">Display Sequence</span>
                                        <span ng-show="ValueCtrl.sortType == 'display_sequence' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="ValueCtrl.sortType == 'display_sequence' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <!-- <th class="text-center columnwidth-5" id="move_up_down_col_head" drag-me drop-me
                                        data-handle=".handle"
                                        data-ng-if="ValueCtrl.AttributeValues.length>1 && ValueCtrl.attributeValuesGrid.columns.moveUpDown.visible">
                                        <span class="handle">Move Up/Down</span>
                                    </th> -->
                                    <th id="datalake_col_head columnwidth-5" class="text-center" style="width:10%"
                                        drag-me drop-me data-handle=".handle"
                                        data-ng-hide="ValueCtrl.attributeValuesGrid.columns.datalake.visible == 0">
                                        <span class="handle">Documents</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="value in ValueCtrl.AttributeValues|filterBy:['status','description','short_description','display_sequence']:ValueCtrl.search|orderBy:ValueCtrl.sortType:sortReverse|itemsPerPage:ValueCtrl.pageSize"
                                    ios-dblclick="ValueCtrl.PanelUpdateAttributeValue(value.id);"
                                    ng-class="{'selected-table-row':$index == ValueCtrl.selectedRow}"
                                    ng-click="ValueCtrl.setClickedRow($index)">
                                    <td class="status_col"
                                        ng-class="{'text-success f-500': value.status==='Active' , 'text-warning f-300': value.status ==='Pending Active', 'text-primary f-300': value.status ==='Inactive','text-info f-300': value.status==='Pending Inactive'}"
                                        data-ng-hide="ValueCtrl.attributeValuesGrid.columns.status.visible == 0">
                                        {{value.status = ValueCtrl.statusIdsMap[value.status_id].description}}</td>
                                    <td class="description_col"
                                        data-ng-hide="ValueCtrl.attributeValuesGrid.columns.description.visible == 0">
                                        {{value.description}}</td>
                                    <td class="short_description_col"
                                        data-ng-hide="ValueCtrl.attributeValuesGrid.columns.shortDescription.visible == 0">
                                        {{value.short_description}}</td>
                                    <td class="display_sequence_col text-center"
                                        data-ng-hide="ValueCtrl.attributeValuesGrid.columns.displaySequence.visible == 0">
                                        {{value.display_sequence}}</td>
                                    <!-- <td class="move_up_down_col"
                                        data-ng-if="ValueCtrl.AttributeValues.length>1 && ValueCtrl.showmoveupdown && ValueCtrl.attributeValuesGrid.columns.moveUpDown.visible">
                                        <move-up-down-rows load-column-fn="ValueCtrl.toggleColumn(flag)"
                                            filter-values="ValueCtrl.AttributeValues" instance-id="value.id"
                                            display-sequence="value.display_sequence"
                                            api-instance-display-values="apiInstanceDisplayValues"
                                            length="ValueCtrl.AttributeValues.length" update="update"
                                            update-info-fn="getDisplaySequnceUpdateInformation(data);">
                                        </move-up-down-rows>
                                    </td> -->
                                    <td class="move_up_down_col"
                                        data-ng-if="ValueCtrl.AttributeValues.length>1 && !ValueCtrl.showmoveupdown && ValueCtrl.attributeValuesGrid.columns.moveUpDown.visible">
                                        <span>Loading...</span>
                                    </td>
                                    <td class="datalake_col text-center"
                                        data-ng-hide="ValueCtrl.attributeValuesGrid.columns.datalake.visible == 0">
                                        <button type="button" class="p-l-5 header-button datalake-button"
                                            ng-click="showMetaData(ValueCtrl.AttributeValueInformation,value,ValueCtrl.attributeValuePermissions);"
                                            data-ng-disabled="!ValueCtrl.attributeValuePermissions.drop">
                                            <span class="zmdi zmdi-cloud zmdi-hc-fw"
                                                data-ng-if="ValueCtrl.attributeValuePermissions.drop"
                                                title="Click here to manage documents" title-direction="left"
                                                fixed-position="true"></span>
                                            <span class="zmdi zmdi-cloud-off zmdi-hc-fw"
                                                data-ng-if="!ValueCtrl.attributeValuePermissions.drop"
                                                title="Access denied" title-direction="left"
                                                fixed-position="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12 p-15 align-items-center justify-content-between d-flex">
                        <dir-pagination-controls template-url="rc-pagination.html" class="pull-left"
                            boundary-links="true" on-page-change="ValueCtrl.paginationHandler(newPageNumber)">
                        </dir-pagination-controls>
                        <div class="btn-group pull-right ng-table-counts m-0">
                            <button type="button" class="btn btn-default f-12 noboxshadow"
                                ng-click="ValueCtrl.pageSize = 10"
                                ng-class="{'active':ValueCtrl.pageSize === 10}">10</button>
                            <button type="button" class="btn btn-default f-12 noboxshadow"
                                ng-click="ValueCtrl.pageSize = 25"
                                ng-class="{'active':ValueCtrl.pageSize === 25}">25</button>
                            <button type="button" class="btn btn-default f-12 noboxshadow"
                                ng-click="ValueCtrl.pageSize = 50"
                                ng-class="{'active':ValueCtrl.pageSize === 50}">50</button>
                            <button type="button" class="btn btn-default f-12 noboxshadow"
                                ng-click="ValueCtrl.pageSize = 100"
                                ng-class="{'active':ValueCtrl.pageSize === 100}">100</button>
                        </div>
                    </div>
                </div>
            </div>
            <meta-data-panel></meta-data-panel>
        </div>
        <div class="col-lg-12 p-0" data-ng-if="ValueCtrl.attributeValuePermissions.view">
            <div id="refresh-table" class="p-15" data-ng-class="{'toggled':ValueCtrl.isRefreshTable}">
                <div class="col-xs-6 p-0">
                    <span class="f-15 f-300 pull-left">{{ValueCtrl.refreshTableText}}</span>
                </div>
                <div class="col-xs-6 p-0">
                    <span class="pull-right f-300">
                        <strong>{{ValueCtrl.totalRecords}}</strong>
                        <span class="f-14 c-gray">{{ValueCtrl.totalRecordsText}}</span>
                        <span id="refreshTimeTaken" ng-bind-html="ValueCtrl.totalTimeText"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!ValueCtrl.attributeValuePermissions.view && ValueCtrl.isAccessDenied"
        data-ng-include="'./application/templates/restricted.access.html'"></div>
    <!-- Modal to show dislpay sequence update notification - START-->
    <div data-ng-include="'./template/view.update.display.sequence.html'"></div>
    <!-- Modal to show dislpay sequence update notification - END-->
    <div data-ng-if="ValueCtrl.rowsCount === 0 && ValueCtrl.attributeValuePermissions.view"
        class="module-content-configuration">
        <div class="col-xs-12 text-center text-info">
            <span class="f-15 f-300">No value exists for selected attribute. Please add value.</span>
        </div>
    </div>
    <ui-view></ui-view>
</div>
<!-- END -- ATTRIBUTE PROPERTIES -->