<div id="rightsidebar" class="toggled">
    <div class="col-xs-12 m-t-25">
        <div class="col-xs-3 p-0">
            <a class="cursor-pointer" name="exit_sidebar_link" ui-sref="common.prime.benefits">
                <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x"></span>
            </a>
        </div>
        <div class="col-xs-9 p-0">
            <label class="rclabel editformlabel">Create <strong>Benefit</strong></label>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="d-flex m-b-10 m-t-10">
            <div class="m-auto updatepanel">
                <div data-ng-include="'./img/sidebar-icons/offers.svg'"></div>
            </div>
        </div>
        <div>
            <div class="form-group col-xs-12 p-0">
                <div>
                    <div class="form-group" valdr-form-group data-ng-init="benefitsController.fetchBenefitTypes()">
                        <span class="c-red" ng-show="benefitsController.benefitForm.status_id.$invalid">* </span>
                        <span class="c-green" ng-show="benefitsController.benefitForm.status_id.$valid">* </span>
                        <label>Benefit Type</label>
                        <select name="status_id" class="form-control select-component input-sm" id="status_id" ng-options="item.id as item.offer_benefit_type for item in benefitsController.BenefitTypes" ng-model="benefitsController.Benefit.benefit_type_id"
                            errorvaluechosen="indCtrl.individual_details.status_id_error">
                                        <option value="" disabled>Select Benefit Type</option>
                                    </select>
                    </div>
                    <ng-form role="form" novalidate="novalidate" name="benefitsController.benefitForm">
                        <div class="form-group" valdr-form-group>
                            <span style="color:red;" ng-show="benefitsController.benefitForm.name.$invalid">* </span>
                            <span style="color:green;" ng-show="benefitsController.benefitForm.name.$valid">* </span>
                            <label>Value</label>
                            <input id="name" ng-bind="datas" name="name" type="text" class="form-control input-sm" ng-model="benefitsController.Benefit.value" placeholder="Enter Value" ng-model-options="{ updateOn: 'blur',debounce:{default: 100, blur:200}}" required>
                        </div>
                        <button type="button" data-ng-disabled="benefitsController.benefitForm.$invalid || benefitsController.ValidationError || benefitsController.isProcessing" class="btn-primal btn-lg btn-block waves-effect f-700" aria-hidden="true" data-ng-click="benefitsController.AddBenefit()">Save</button>
                    </ng-form>
                </div>
            </div>
            <div class="col-xs-12" data-ng-if="benefitsController.message">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-ng-click="benefitsController.message = null" aria-hidden="true">&times;</button> {{benefitsController.message}}
                </div>
            </div>
            <div class="col-xs-12" data-ng-if="benefitsController.error">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-ng-click="benefitsController.error = null" aria-hidden="true">&times;</button> {{benefitsController.error}}
                </div>
            </div>
        </div>
    </div>
    <div ng-if="benefitsController.isUnauthorized" data-ng-include="'./application/templates/restricted.access.compact.html'">
    </div>
</div>