    .discount-type-header{
        border-bottom: 1px solid #d2d2d2;
        color: #0b82ef;
        font-size: 14px;
        padding: 8px;
        background: linear-gradient(#ffffff, #f5f5f5);
    }
  /*
  * Style for the discount treeview start
  */

  .treeview {
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #ffffff;
  }
  
  .treeview label {
    margin-bottom: 0px;
  }
  
  .treeview ul {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    list-style: none;
    padding-left: 1.2em;
    line-height: 2.2;
    border-bottom: 1px solid #ececec;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0px;
  }

  .treeview ul ul:last-child,
  .treeview div.list-lake-type-container:last-child>ul {
    border-bottom: 0px
  }

    
  .treeview ul:hover input ~ label:before {
    opacity: 1;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-right-color: rgb(63, 63, 63);
    border-bottom-color: rgb(63, 63, 63);
  }

  .treeview ul:hover>li>label.d-flex {
    color: #8e2424;
  }
  
  .treeview ul li span {
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
  }
  
  .treeview input {
    display: none;
  }
  
  .treeview input:checked ~ ul {
    display: none;
  }
  
  .treeview input ~ label {
    cursor: pointer;
    color: #e88f00;
    font-weight: 400;
    font-family: "Lato", "roboto", sans-serif;
  }
  
  .treeview input ~ label:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    margin-left: -1em;
    margin-top: 0.6em;
    border-width: 4px;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: rgba(189, 189, 189, 0.5);
    border-bottom-color: rgba(155, 155, 155, 0.5);
    border-left-color: transparent;
    opacity: 1;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -ms-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
  }
  
  .treeview ul input:checked ~ label:before {
    margin-left: -0.8em;
    border-width: 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: rgba(189, 189, 189, 0.5);
    /* background: url('/images/files.png') no-repeat; */
  }
  
  /* .treeview input[type="checkbox"] + label::after {
    content: "";
  } */
  
  .treeview input:checked ~ label {
    color: black;
  }

  .testdiv {
      height: 100px;
      width: 50%;
      background: #e88f00;
      color: white;
  }


.treeview .tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.treeview .tags li {
  float: left; 
}

.treeview .tag {
  background: linear-gradient(to right, #469a49, #4caf50);
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 18px 0 5px;
  width: 60px;
  position: relative;
  margin: 0px;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.treeview .tag::after {
  background: #fff;
  border-bottom: 12px solid transparent;
  border-left: 10px solid #49a84d;
  border-top: 12px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
