<style>
    .maintenanceworkspace .focus {
        border-left: 3px solid #ffc107;
        border-radius: 0px;
    }

    #hierarchyTreeSideBar .modal-dialog {
        width: 700px !important;
        margin: 30px auto;
    }
</style>
<span ng-click="clickToHierarchyViewOpen(1);">
    <div class="form-control hierarchyfield input-sm tabfocus" style="width:100%;padding: 5px;" data-ng-class="{'focus' : treeview}">
        <span class="text-overflow-desc-auto" title="{{selectedHierarchyProperty[primaryHierarchyId]['path_name']}}" data-ng-if="selectedHierarchyProperty[primaryHierarchyId]['path_name']"
            ng-bind-html="selectedHierarchyProperty[primaryHierarchyId]['path_name']"></span>
        <span data-ng-if="primaryHierarchyValueId && !selectedHierarchyProperty[primaryHierarchyId]['path_name']">
            Loading ... </span>
    </div>
</span>
<div id="hierarchyTreeSideBar{{primaryHierarchyId}}" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="col-xs-12 p-0 modal-content">
            <div class="col-xs-12 d-flex d-flex-v-center p-t-5 p-b-5 hierarchy-modal-header-section">
                <div class="panel-name-section">
                    <label class="editformlabel text-center m-b-0 form-header" title="{{formHeader}}">{{formHeader | truncate : 50}}</label>
                </div>
                <div>
                    <a data-ng-click="clickToHierarchyViewOpen(-1); !selectedHierarchyProperty[primaryHierarchyId] || !selectedHierarchyProperty[primaryHierarchyId]['path_name'] ? resetSelectedHierarchy() : ''"
                        class="cursor-pointer c-wheat">
                        <span class="zmdi zmdi-close zmdi-hc-fw f-15"></span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 p-0">
                <div class="col-xs-12 m-t-5">
                    <div class="d-flex">
                        <div style="flex:3">
                            <input class="form-control hierarchy-tree-search-input" ng-model='treeSearchQuery' type="text" placeholder="{{placeHolder || 'Search in hierarchy...'}}"
                                ng-change="searchResults=null" rc-on-enter="searchHierarchyValue(treeSearchQuery)" />
                        </div>
                        <div style="flex: 1;justify-content: space-evenly;display: flex;">
                            <button class="btn btn-info" ng-click="searchHierarchyValue(treeSearchQuery)">
                                <strong>Search</strong>
                            </button>
                            <button class="btn btn-cancel" ng-click="treeSearchQuery=null;searchHierarchyValue()">
                                <strong>Clear</strong>
                            </button>
                        </div>
                    </div>
                    <span class="text-info" ng-if="searchResults">{{searchResults}} record[s] found.</span>
                    <span class="text-danger" ng-if="treeSearchQuery&&searchResults===0">No records found.</span>
                </div>
                <div class="hierDialog col-xs-12">
                    <div class="col-xs-12 m-t-10 p-l-5 p-r-5 m-b-10 selected-property-container">
                        <label class="m-b-10" style="font-family: 'Roboto';">
                            <span class="c-gray f-400">Selected {{formHeader | truncate:50}} :</span>
                        </label>
                        <div class="d-flex m-b-10">
                            <span class="">
                                <span class="f-500 path-name d-flex align-items-center" ng-show="path_name" ng-bind-html="path_name | truncate : 50"></span>
                            </span>
                        </div>
                        <div class="text-right" data-ng-if="isItemType===true">
                            <span class="fa fa-info-circle f-14 text-info"></span>
                            <span class="text-info">Existing item types cannot be selected.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-info p-relative d-flex align-items-center">
                </div>
                <div class="hierDialog col-lg-12">
                    <div class="tree o-auto rc-scroll-bar col-sm-12" style="max-height:60vh;" id="hierarchyTreeViewScroll">
                        <div id="tree{{primaryHierarchyId}}" data-angular-treeview="true" data-tree-id="hierarchyTree" data-tree-model="hierarchyList"
                            data-node-id="id" data-node-label="short_description" data-node-children="children" data-search-query='treeSearchQuery'>
                        </div>
                    </div>
                    <div class="d-flex d-flex-h-center p-t-10 col-sm-12" style="border-top : 1px solid #e5e5e5;">
                        <button type="button" class="btn btn-success m-b-10 p-l-20 p-r-20" ng-click="clickToHierarchyViewOpen(0);">
                            <strong>Done</strong>
                        </button>
                        <button type="button" class="btn btn-cancel m-b-10 m-l-10 p-l-20 p-r-20 waves-effect" ng-click="resetSelectedHierarchy();">
                            <strong>Reset</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
