<style>
    .checkbox .input-helper:before {
        top: 6px;
        width: 17px;
        height: 17px;
        left: 10px;
    }

    .checkbox input:checked+.input-helper:before {
        left: 10px;
    }

    .checkbox .input-helper:after {
        left: 13px;
        top: 9px;
    }

    /* css for multiselect and select ui for udd screen only*/

    multiselect .btn-group button.btn.btn-default.dropdown-toggle.waves-effect {
        white-space: nowrap;
        width: 0;
        min-width: 100%;
    }

    select+.selectize-control .selectize-input input[type="select-one"] {
        width: 100% !important;
    }
</style>

<div data-ng-include="'./template/immediate.activation.field.labels.html'"></div>
<div class="col-xs-12 text-center m-t-25" data-ng-show="!vmCtrl.isUddLoaded">
    <span class="f-17 f-700 c-black">Loading</span>
    <span class="f-700" style="letter-spacing: 3px;">....</span>
</div>
<div class="col-xs-12 p-10" ng-show="vmCtrl.item_udd_data.length === 0 && vmCtrl.isUddLoaded">
    <span class="f-500 text-muted">No UDDs are configured</span>
</div>
<div class="col-xs-12 p-0 m-t-15" data-ng-class="{'disable-actions':skuMaintCtrl.disableActions}" ng-if="vmCtrl.item_udd_data.length > 0 && vmCtrl.isUddLoaded">
    <ng-form class="udd-screen-form" name="skuMaintCtrl.skuuddForm" novalidate valdr-type="UddRules">
        <div class="form-group" ng-repeat="each in vmCtrl.item_udd_data | orderBy : 'display_sequence'" ng-if="each.maintenance_description != null">
            <div data-ng-if="each.visibility_id.includes(vmCtrl.primeVisibilityId)">
                <script type="text/ng-template" id="itementrylevel.html">
                    <span class="c-bluegray f-12"> {{each.entry_level}} </span>
                </script>
                <div class="col-lg-6 height70 form-group" ng-if="each.has_values ==1 && ( each.format.toLowerCase() === 'list of values' || each.format.toLowerCase() === 'value list' || each.format.toLowerCase() === 'rating' || each.format.toLowerCase() === 'multiselect')">
                    <label class="maintenance-field-label" title="{{each.maintenance_description}}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        data-ng-class="{'f-700' : each.significant ===1,'c-black' : each.significant ===1}">{{each.maintenance_description}}
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon bgm-floralwhite" data-ng-class="{'significant-attr':each.significant ===1}">
                            <div ng-include="each.requiredImgScript"></div>
                        </span>
                        <div class="input-group" style="width:94%;float:left;">
                            <span class="input-group-addon maintenance-entrylevel-label">
                                <div ng-include="'itementrylevel.html'"></div>
                            </span>
                            <select data-ng-if="each.format.toLowerCase() !== 'multiselect'" name="{{each.maintenance_description}}" selectize="selectUddDropDown[each.maintenance_description]"
                                items="each" class="dropdown-to-label" options="each.values" ng-model="each.udd_value_id" data-ng-init="vmCtrl.initDropDown(each)"
                                data-ng-class="{'error-field-validation': skuMaintCtrl.skuuddForm[each.maintenance_description].$invalid && skuMaintCtrl.isInvalidForm}"
                                data-ng-required="each.isRequired">
                            </select>
                            <multiselect data-ng-if="each.format.toLowerCase() === 'multiselect'" name="{{each.maintenance_description}}" ng-model="each.selectedValueIds"
                                options="selecteach.id as selecteach.description for selecteach in each.values"
                                header="Select {{each.maintenance_description}}" selected-header="options selected" data-ng-required="each.isRequired"
                                multiple="true" enable-filter="true" data-ng-class="{'error-field-validation': skuMaintCtrl.skuuddForm[each.maintenance_description].$invalid && skuMaintCtrl.isInvalidForm}">
                        </div>
                        <div class="resetbtn fa fa-times-circle f-16" title="Reset value" style="width:4%;float:right;" data-ng-click="resetUddValue(each);"></div>
                    </div>
                </div>
                <div class="col-lg-12 height70 form-group" ng-if="each.user_defined_data_type.toLowerCase() === 'hierarchy'">
                    <label class="maintenance-field-label" title="{{each.maintenance_description}}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        data-ng-class="{'f-700' : each.significant ===1,'c-black' : each.significant ===1}">{{each.maintenance_description}}
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon bgm-floralwhite" data-ng-class="{'significant-attr':each.significant ===1}">
                            <div ng-include="each.requiredImgScript"></div>
                        </span>
                        <div class="input-group" style="width:97%;float:left;">
                            <span class="input-group-addon maintenance-entrylevel-label">
                                <div ng-include="'itementrylevel.html'"></div>
                            </span>
                            <input type="text" hidden="hidden" for="{{each.map_id}}" data-ng-model="selectedHierarchyProperty[each.map_id].property_id"
                                data-ng-required="each.isRequired">
                            <hierarchy-tree-view-select id="each.map_id" name="{{each.map_id}}" value-id="each.udd_value_id" props="each.props" selected-hierarchy-property="selectedHierarchyProperty"
                                set-property-fn="setPropertyFn(directiveData);" form-header="{{each.maintenance_description}}" disable-ids="disabledIds"
                                data-ng-class="{'error-field-validation': each.isRequired && !selectedHierarchyProperty[each.map_id].property_id && skuMaintCtrl.isInvalidForm}">
                            </hierarchy-tree-view-select>
                        </div>
                        <div class="resetbtn fa fa-times-circle f-16" title="Reset value" style="width:3%;float:right;" data-ng-click="resetUddValue(each);"></div>
                    </div>
                </div>
                <div class="col-lg-6 height70 form-group" ng-if="each.user_defined_data_type.toLowerCase() === 'optiontype'">
                    <label class="maintenance-field-label" title="{{each.maintenance_description}}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        data-ng-class="{'f-700' : each.significant ===1,'c-black' : each.significant ===1}">{{each.maintenance_description}}
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon bgm-floralwhite" data-ng-class="{'significant-attr':each.significant ===1}">
                            <div ng-include="each.requiredImgScript"></div>
                        </span>
                        <div class="input-group" style="width:94%;float:left;">
                            <span class="input-group-addon maintenance-entrylevel-label">
                                <div ng-include="'itementrylevel.html'"></div>
                            </span>
                            <select class="form-control select-component input-sm" name="{{each.maintenance_description}}" ng-model="each.udd_value_id"
                                type="text" ng-options="selecteach.id as selecteach.mto_description + ' : ' + selecteach.status disable when (selecteach.status_id === statusCodes.Inactive.ID) for selecteach in each.values"
                                data-ng-required="each.isRequired" data-ng-class="{'error-field-validation': skuMaintCtrl.skuuddForm[each.maintenance_description].$invalid && skuMaintCtrl.isInvalidForm}">
                                <option value="" disabled>Select MTO Type - Option</option>
                            </select>
                        </div>
                        <div class="resetbtn fa fa-times-circle f-16" title="Reset value" style="width:4%;float:right;" data-ng-click="resetUddValue(each);"></div>
                    </div>
                </div>
                <div class="col-lg-6 height70 form-group" ng-if="each.user_defined_data_type.toLowerCase() === 'option'">
                    <label class="maintenance-field-label" title="{{each.maintenance_description}}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        data-ng-class="{'f-700' : each.significant ===1,'c-black' : each.significant ===1}">{{each.maintenance_description}}
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon bgm-floralwhite" data-ng-class="{'significant-attr':each.significant ===1}">
                            <div ng-include="each.requiredImgScript"></div>
                        </span>
                        <div class="input-group" style="width:94%;float:left;">
                            <span class="input-group-addon maintenance-entrylevel-label">
                                <div ng-include="'itementrylevel.html'"></div>
                            </span>
                            <select class="form-control select-component input-sm" name="{{each.maintenance_description}}" ng-model="each.udd_value_id"
                                type="text" ng-options="selecteach.id as selecteach.choice_description + ' : ' + selecteach.status disable when (selecteach.status_id === statusCodes.Inactive.ID) for selecteach in each.values"
                                data-ng-required="each.isRequired" data-ng-class="{'error-field-validation': skuMaintCtrl.skuuddForm[each.maintenance_description].$invalid && skuMaintCtrl.isInvalidForm}">
                                <option value="" disabled>Select MTO Option - Choice</option>
                            </select>
                        </div>
                        <div class="resetbtn fa fa-times-circle f-16" title="Reset value" style="width:4%;float:right;" data-ng-click="resetUddValue(each);"></div>
                    </div>
                </div>
                <div class="col-lg-6 height70 form-group" ng-if="each.format.toLowerCase() === 'integer' || each.format.toLowerCase() === 'number select' || each.format.toLowerCase() === 'percentage' || each.format.toLowerCase() === 'decimal' || each.format.toLowerCase() === 'dimension' || each.format.toLowerCase() === 'text'"
                    valdr-form-group>
                    <label class="maintenance-field-label" title="{{each.maintenance_description}}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        data-ng-class="{'f-700' : each.significant ===1,'c-black' : each.significant ===1}">{{each.maintenance_description}}
                    </label>
                    <div class="input-group" style="width:94%;float:left;">
                        <span class="input-group-addon bgm-floralwhite" data-ng-class="{'significant-attr':each.significant ===1}">
                            <div ng-include="each.requiredImgScript"></div>
                        </span>
                        <div class="input-group full-width">
                            <span class="input-group-addon maintenance-entrylevel-label">
                                <div ng-include="'itementrylevel.html'"></div>
                            </span>
                            <input data-ng-if="each.format.toLowerCase() === 'percentage'" class="form-control input-sm" name="{{each.map_id}}" id="each.map_id"
                                ng-model="each.value" data-ng-focus="skuMaintCtrl.uddForm[each.map_id].$touched = true;" type="text"
                                data-ng-required="each.isRequired" data-ng-class="{'error-field-validation': skuMaintCtrl.uddForm[each.map_id].$invalid && skuMaintCtrl.isInvalidForm}"
                            />
                            <span class="input-group-addon percentage-append maintenance-entrylevel-label p-0" data-ng-if="each.format.toLowerCase() === 'percentage'">
                                %
                            </span>
                            <input data-ng-if="each.format.toLowerCase() !== 'text' && each.format.toLowerCase() !== 'percentage'" class="form-control input-sm"
                                name="{{each.map_id}}" id="each.map_id" ng-model="each.value" ng-init="each.value = setValue(each._to_from_val,each.value);"
                                data-ng-focus="skuMaintCtrl.skuuddForm[each.map_id].$touched = true;" type="text" data-ng-required="each.isRequired"
                                data-ng-class="{'error-field-validation': skuMaintCtrl.skuuddForm[each.map_id].$invalid && skuMaintCtrl.isInvalidForm}"
                            />
                            <textarea data-ng-if="each.format.toLowerCase() === 'text'" class="form-control input-sm" name="{{each.map_id}}" id="each.map_id"
                                ng-model="each.value" ng-init="each.value = setValue(each._to_from_val,each.value);" data-ng-focus="skuMaintCtrl.skuuddForm[each.map_id].$touched = true;"
                                type="text" data-ng-required="each.isRequired" data-ng-class="{'error-field-validation': skuMaintCtrl.skuuddForm[each.map_id].$invalid && skuMaintCtrl.isInvalidForm}"
                                style="height: 30px"></textarea>
                        </div>
                    </div>
                    <div class="resetbtn fa fa-times-circle f-16" title="Reset value" style="width:4%;float:right;" data-ng-click="resetUddValue(each);"></div>
                    <div class="col-sm-12 p-0 info-msg text-overflow-desc-auto" style="color: #8f96a9;" data-ng-if="(!Object.keys(skuMaintCtrl.skuuddForm[each.map_id].$error).length && !skuMaintCtrl.skuuddForm[each.map_id].$invalid) || skuMaintCtrl.skuuddForm[each.map_id].$pristine"
                        title="{{each.message}}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{each.message}}</div>
                </div>
                <div class="col-lg-6 height70 form-group checkbox" ng-if="each.format.toLowerCase() === 'yes/no'">
                    <label class="maintenance-field-label p-0 m-b-3" title="{{each.maintenance_description}}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        data-ng-class="{'f-700' : each.significant ===1,'c-black' : each.significant ===1}">{{each.maintenance_description}}
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon bgm-floralwhite" data-ng-class="{'significant-attr':each.significant ===1}">
                            <div ng-include="each.requiredImgScript"></div>
                        </span>
                        <div class="input-group" style="width:94%;float:left;">
                            <span class="input-group-addon input-sm maintenance-entrylevel-label border-right-input p-0">
                                <div ng-include="'itementrylevel.html'"></div>
                            </span>
                            <label class="form-control input-sm" style="border-left:0;">
                                <input type="checkbox" ng-model="each.value" ng-init="each.value = setValue(each._to_from_val,each.value);" ng-true-value="'1'"
                                    ng-false-value="'0'" name="checkbox" data-ng-required="each.isRequired">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                        <div class="resetbtn fa fa-times-circle f-16" title="Reset value" style="width:4%;float:right;" data-ng-click="resetUddValue(each);"></div>
                    </div>
                </div>
                <div class="col-lg-6 height70 form-group" ng-if="each.format.toLowerCase() === 'date'" valdr-form-group ng-init="each.value=setDateValue(each._to_from_val,each.value);">
                    <label class="maintenance-field-label" title="{{each.maintenance_description}}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        data-ng-class="{'f-700' : each.significant ===1,'c-black' : each.significant ===1}">{{each.maintenance_description}}
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon bgm-floralwhite" data-ng-class="{'significant-attr':each.significant ===1}">
                            <div ng-include="each.requiredImgScript"></div>
                        </span>
                        <div class="input-group" style="width:94%;float:left;">
                            <span class="input-group-addon maintenance-entrylevel-label">
                                <div ng-include="'itementrylevel.html'"></div>
                            </span>
                            <input type="text" name="{{each.map_id}}" id="{{each.map_id}}" class="form-control input-sm rcp-mydatepicker" ng-model="each.value"
                                ui-mask="{{ui_date_mask}}" mydatepicker ng-model-options="{ updateOn: 'blur' }" model-view-value="true"
                                data-ng-required="each.isRequired" data-ng-class="{'error-field-validation': skuMaintCtrl.skuuddForm[each.map_id].$invalid && skuMaintCtrl.isInvalidForm}">
                        </div>
                        <div class="resetbtn fa fa-times-circle f-16" title="Reset value" style="width:4%;float:right;" data-ng-click="resetUddValue(each);"></div>
                    </div>
                </div>
                <div class="col-lg-12 height70" ng-if="each.format.toLowerCase() === 'date range'" valdr-form-group>
                    <label class="p-0 maintenance-field-label" title="{{each.maintenance_description}}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        data-ng-class="{'f-700' : each.significant ===1,'c-black' : each.significant ===1}">
                        {{each.maintenance_description}}
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon bgm-floralwhite" data-ng-class="{'significant-attr':each.significant ===1}">
                            <div ng-include="each.requiredImgScript"></div>
                        </span>
                        <div class="input-group" style="width:94%;float:left;">
                            <span class="input-group-addon maintenance-entrylevel-label p-0">
                                <div ng-include="'itementrylevel.html'"></div>
                            </span>
                            <div class="d-flex">
                                <input type="text" name="{{each.map_id}}-1" id="{{each.map_id}}-1" class="form-control input-sm rcp-mydatepicker m-r-5" ng-model="each.from_date_value"
                                    ui-mask="{{ui_date_mask}}" mydatepicker ng-model-options="{ updateOn: 'blur' }" model-view-value="true"
                                    data-ng-required="each.isRequired || each.to_date_value" data-ng-class="{'error-field-validation': skuMaintCtrl.skuuddForm[each.map_id+'-1'].$invalid && skuMaintCtrl.isInvalidForm}"
                                    data-ng-change="vmCtrl.addValidations(each, skuMaintCtrl.skuuddForm)">
                                <input type="text" name="{{each.map_id}}-2" id="{{each.map_id}}-2" class="form-control input-sm rcp-mydatepicker m-l-5" ng-model="each.to_date_value"
                                    ui-mask="{{ui_date_mask}}" mydatepicker ng-model-options="{ updateOn: 'blur' }" model-view-value="true"
                                    data-ng-required="each.isRequired || each.from_date_value" data-ng-class="{'error-field-validation': skuMaintCtrl.skuuddForm[each.map_id+'-2'].$invalid && skuMaintCtrl.isInvalidForm}"
                                    data-ng-change="vmCtrl.addValidations(each, skuMaintCtrl.skuuddForm)">
                            </div>
                        </div>
                        <div class="resetbtn fa fa-times-circle f-16" title="Reset value" style="width:4%;float:right;" data-ng-click="resetUddValue(each);"></div>
                    </div>
                    <div data-ng-if="each.showError">
                        <span style="display: block; font-size: 11px; color: #e41708; font-family: 'lato', 'Roboto'; margin: 3px 1px 1px 1px;">To date must be greater than From date.</span>
                    </div>
                </div>
                <!--URL Attribute UDD Start-->
                <div class="col-lg-12 height70 form-group" ng-if="each.format.toLowerCase() === 'url'" valdr-form-group data-ng-init="vmCtrl.setLinkTextAndUrlPathModel(each)">
                    <label class="p-0 maintenance-field-label" title="{{each.maintenance_description}}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        data-ng-class="{'f-700' : each.significant ===1,'c-black' : each.significant ===1}">{{each.maintenance_description}}</label>
                    <div class="col-xs-12 p-0 input-group">
                        <div style="width:96%;float:left;">
                            <div class="d-flex input-group">
                                <div class="col-xs-6 col-lg-8 p-0 d-flex">
                                    <span class="input-group-addon bgm-floralwhite" ng-class="{'significant-attr':each.significant ===1}">
                                        <div ng-include="each.requiredImgScript"></div>
                                    </span>
                                    <span class="d-flex align-items-center justify-content-center input-group-addon maintenance-entrylevel-label p-0">
                                        <div ng-include="'itementrylevel.html'"></div>
                                    </span>
                                    <span style="border-left: 1px solid #e2e2e2;" class="d-flex align-items-center justify-content-center input-group-addon maintenance-entrylevel-label p-0"
                                        style="border-left: 1px solid #ececec;">
                                        <span class="f-13 c-bluegray">Text</span>
                                    </span>
                                    <div valdr-enabled="false" class="w-100">
                                        <input class="form-control input-sm" name="{{each.map_id}}link_text_value" id="each.map_id" ng-model="each.link_text_value"
                                            ng-pattern="globalRegularExpression" data-ng-change="each.value=each.link_text_value+'::'+each.url_path_value"
                                            data-ng-class="{'error-field-validation': skuMaintCtrl.skuuddForm[each.map_id+'link_text_value'].$invalid}"
                                            type="text" />
                                    </div>
                                </div>
                                <div class="col-xs-1 justify-content-center d-flex">
                                    <div class="d-flex align-items-center">
                                        <img class="m-r-5 m-l-5" src="./img/right-arrow.svg" style="width:35px;height:18px;" alt="">
                                    </div>
                                </div>
                                <div class="col-xs-6 p-0 d-flex">
                                    <div class="d-flex flex-1 input-group">
                                        <span class="d-flex align-items-center justify-content-center input-group-addon maintenance-entrylevel-label p-0">
                                            <span class="f-13 c-bluegray">URL</span>
                                        </span>
                                        <input class="form-control input-sm" name="{{each.map_id}}" id="each.map_id" ng-model="each.url_path_value" data-ng-change="each.value=each.link_text_value+'::'+each.url_path_value"
                                            data-ng-focus="skuMaintCtrl.skuuddForm[each.map_id].$touched = true;" type="text"
                                            data-ng-required="each.isRequired" data-ng-class="{'error-field-validation': skuMaintCtrl.skuuddForm[each.map_id].$invalid && skuMaintCtrl.isInvalidForm}"
                                            style="height: 30px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="resetbtn fa fa-times-circle f-16" style="width:3%;float:right;" title="Reset value" data-ng-click="resetUddValue(each);"></div>
                    </div>
                    <div class="col-sm-12 p-0 info-msg text-overflow-desc-auto" title="{{each.message}}" style="color: #8f96a9;" data-ng-class="{'c-deeporange' : skuMaintCtrl.uddForm[each.map_id+'link_text_value'].$invalid}"
                        data-ng-if="(!Object.keys(skuMaintCtrl.skuuddForm[each.map_id].$error).length && !skuMaintCtrl.skuuddForm[each.map_id].$invalid) || skuMaintCtrl.skuuddForm[each.map_id].$pristine">
                        {{each.message}}</div>
                </div>
                <!--URL Attribute UDD End-->
            </div>
        </div>
    </ng-form>
</div>
<div class="col-xs-12 p-10" ng-show="!vmCtrl.item_udd_data && vmCtrl.isUddLoaded">
    <span class="f-500 text-muted">No configuration details to show</span>
</div>
