<div class="container col-lg-12 p-0" data-ng-controller="CodeListController as codelistCtrl">
    <div class="rc-module-header d-flex">
        <div class="col-xs-12 p-0 d-flex" style="justify-content: space-between;">
            <div class="d-flex" style="padding: 0px 10px;box-shadow: 3px 0px 4px -1px #f7f7f7;">
                <div class="p-relative">
                    <div class="image-module p-absolute top-10">
                        <img src="./img/sidebar-icons/submenu_code.svg" />
                    </div>
                    <div class="label-module top-10">
                        <a class="p-l-40" href="javascript:void(0)">Codes</a>
                    </div>
                </div>
            </div>
            <div class="d-flex" style="flex: 5;">
                <div class="d-flex d-flex-v-center p-l-20">

                    <div class="record-count-section tableheader-btn">
                        <span data-ng-if="!codelistCtrl.search"> {{codelistCtrl.rowsInfo}} </span>
                        <span data-ng-if="codelistCtrl.search"> Displaying
                            {{(codelistCtrl.allCodes|filterBy:['id','entity','field_name','code']:codelistCtrl.search).length}}
                            of {{codelistCtrl.allCodes.length}} Records </span>
                    </div>

                </div>
            </div>


            <div class="d-flex">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="d-flex nav navbar-nav navbar-right">
                        <li>
                            <a>
                                <div class="search-section tableheader-btn pull-right"
                                    ng-if="codelistCtrl.allCodes.length > 0">
                                    <input class="form-control input-sm " type="text" id="inlineSearch" name="inlineSearch" data-ng-init="codelistCtrl.focusSearchField()" ng-model="codelistCtrl.search"
                                        indicate-quick-search placeholder="Quick Search "
                                        data-ng-disabled="!codelistCtrl.isLoaded" />
                                </div>
                            </a>
                        </li>
                        <li class="non-collapsed-link" ng-if="codelistCtrl.allCodes.length > 0">
                            <a>
                                <button type="button" ng-click="codelistCtrl.ShowHideColumnSettings()"
                                    class="btn-primal btn-block  waves-effect"
                                    data-ng-disabled="!codelistCtrl.isLoaded">
                                    <span class="f-700 ng-binding">Columns</span>
                                </button>
                            </a>
                        </li>
                        <li class="non-collapsed-link" ng-if="codelistCtrl.allCodes.length > 0">
                            <a>
                                <button type="button" ng-click="codelistCtrl.reload(true);"
                                    class="btn-primal btn-block waves-effect" data-ng-disabled="!codelistCtrl.isLoaded">
                                    <span class="f-700 ng-binding">Refresh</span>
                                </button>
                            </a>
                        </li>
                        <li class="add-btn">
                            <a>
                                <button type="button" class="btn btn-success f-700 waves-effect"
                                    data-ng-click="codelistCtrl.openForm();" data-ng-disabled="!permissionsMap.create">
                                    <span title="{{!permissionsMap.create ? 'Access denied' : ''}}">Create Code</span>
                                </button>
                            </a>
                        </li>
                        <li class="dropdown collapsed-link" uib-dropdown>
                            <button type="button" uib-dropdown-toggle class="full-height bg-none p-15" href=""
                            style="border-left:3px solid #e8e8e8">
                                <i class="tm-icon zmdi zmdi-more-vert f-25"></i>
                            </button>
                            <ul class="dropdown-menu dm-icon pull-right">
                                <li class="add-btn cursor-pointer">
                                    <button type="button" data-ng-click="codelistCtrl.openForm();" style="padding: 8px 20px"
                                        class="restricted-btn" title="{{!permissionsMap.create ? 'Access denied' : ''}}"
                                        data-ng-disabled="!permissionsMap.create"
                                        data-ng-class="{'opacity50' : !permissionsMap.create}">
                                        <i class="zmdi zmdi-plus text-success f-17 m-r-15"></i> Create Code </button>
                                </li>
                                <li ng-if="codelistCtrl.allCodes.length > 0">
                                    <button type="button" style="padding: 8px 20px" class="restricted-btn" data-ng-click="codelistCtrl.isLoaded ? codelistCtrl.ShowHideColumnSettings() : '' "
                                        data-ng-class="{'cursor-not-allowed': !codelistCtrl.isLoaded}" href="">
                                        <i class="zmdi zmdi-view-week text-info"></i> Columns </button>
                                </li>
                                <li ng-if="codelistCtrl.allCodes.length > 0">
                                    <button type="button" style="padding: 8px 20px" class="restricted-btn" data-ng-click="codelistCtrl.isLoaded ? codelistCtrl.reload(true) : '' "
                                        data-ng-class="{'cursor-not-allowed': !codelistCtrl.isLoaded}" href="">
                                        <i class="zmdi zmdi-refresh text-warning"></i> Refresh </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center module-content-configuration"
        data-ng-if="!codelistCtrl.rowsCount && !codelistCtrl.isLoaded">
        <span class="f-17 f-700 c-black">Loading</span>
        <span class="f-700" style="letter-spacing: 3px;">....</span>
    </div>
    <div data-ng-if="codelistCtrl.rowsCount && codelistCtrl.rowsCount > 0">
        <div class="rcp-table-container" ng-if="permissionsMap.view && codelistCtrl.isLoaded">
            <div class="col-xs-12 p-0" data-ng-if="codelistCtrl.isLoaded">
                <script type="text/javascript">
                    $(function () {
                        var pressed = false;
                        var start = undefined;
                        var startX, startWidth;

                        $("table th").dblclick(function (e) {
                            start = $(this);
                            pressed = true;
                            startX = e.pageX;
                            startWidth = $(this).width();
                            $(start).addClass("resizing");
                        });

                        $(document).mousemove(function (e) {
                            if (pressed) {
                                $(start).width(parseInt(startWidth + (e.pageX - startX)));
                            }
                        });

                        $(document).mouseup(function () {
                            if (pressed) {
                                $(start).removeClass("resizing");
                                pressed = false;
                            }
                        });
                    });
                </script>

                <div data-ng-include="'./application/modules/codelist/hideShowColumns.html'"></div>
                <div class="table-responsive module-content-configuration"
                    data-ng-init="codelistCtrl.paginationHandler(1)">
                    <div class="col-xs-12 p-0 o-auto sticky-head-container">
                        <table class="table table-hover table-vmiddle table-condensed table-bordered sticky-head-table">
                            <thead data-ng-show="codelistCtrl.isLoaded">
                                <tr>
                                    <th class="text-center" id="id_col_head" drag-me drop-me data-handle=".handle"
                                        ng-click="codelistCtrl.sortType = 'id'; sortReverse = !sortReverse"
                                        data-ng-hide="codelistCtrl.codelistGrid.columns.id.visible == 0">
                                        <span class="handle">Id</span>
                                        <span ng-show="codelistCtrl.sortType == 'id' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="codelistCtrl.sortType == 'id' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" id="entity_col_head" drag-me drop-me data-handle=".handle"
                                        ng-click="codelistCtrl.sortType = 'entity'; sortReverse = !sortReverse"
                                        data-ng-hide="codelistCtrl.codelistGrid.columns.entity.visible == 0">
                                        <span class="handle">Entity</span>
                                        <span ng-show="codelistCtrl.sortType == 'entity' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="codelistCtrl.sortType == 'entity' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" id="field_name_col_head" drag-me drop-me
                                        data-handle=".handle"
                                        ng-click="codelistCtrl.sortType = 'field_name'; sortReverse = !sortReverse"
                                        data-ng-hide="codelistCtrl.codelistGrid.columns.fieldname.visible == 0">
                                        <span class="handle">Field Name</span>
                                        <span ng-show="codelistCtrl.sortType == 'field_name' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="codelistCtrl.sortType == 'field_name' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" id="code_col_head" drag-me drop-me data-handle=".handle"
                                        ng-click="codelistCtrl.sortType = 'code'; sortReverse = !sortReverse"
                                        data-ng-hide="codelistCtrl.codelistGrid.columns.code.visible == 0">
                                        <span class="handle">Code</span>
                                        <span ng-show="codelistCtrl.sortType == 'code' && !sortReverse"
                                            class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="codelistCtrl.sortType == 'code' && sortReverse"
                                            class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="code in codelistCtrl.allCodes|filterBy:['id','entity','field_name','code']:codelistCtrl.search|orderBy:codelistCtrl.sortType:sortReverse|itemsPerPage:codelistCtrl.pageSize"
                                    ng-class="{'background-hover':$index === selectedRow}"
                                    data-ng-click="codelistCtrl.setClickedRow($index);"
                                    ios-dblclick="codelistCtrl.dblClickAction(code);" selectedrow="{{code}}">
                                    <td class="id_col iconcolumnWidth"
                                        data-ng-hide="codelistCtrl.codelistGrid.columns.id.visible == 0">{{code.id}}
                                    </td>
                                    <td class="entity_col"
                                        data-ng-hide="codelistCtrl.codelistGrid.columns.entity.visible == 0">
                                        {{code.entity}}</td>
                                    <td class="field_name_col"
                                        data-ng-hide="codelistCtrl.codelistGrid.columns.fieldname.visible == 0">
                                        {{code.field_name}}</td>
                                    <td class="code_col"
                                        data-ng-hide="codelistCtrl.codelistGrid.columns.code.visible == 0">{{code.code}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="align-items-center col-lg-12 d-flex justify-content-between">
                        <dir-pagination-controls template-url="rc-pagination.html" boundary-links="true"
                            on-page-change="codelistCtrl.pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                        <div class="btn-group ng-table-counts">
                            <button type="button" class="btn btn-default f-12 noboxshadow"
                                ng-click="codelistCtrl.pageSize = 10"
                                ng-class="{'active':codelistCtrl.pageSize === 10}">10</button>
                            <button type="button" class="btn btn-default f-12 noboxshadow"
                                ng-click="codelistCtrl.pageSize = 25"
                                ng-class="{'active':codelistCtrl.pageSize === 25}">25</button>
                            <button type="button" class="btn btn-default f-12 noboxshadow"
                                ng-click="codelistCtrl.pageSize = 50"
                                ng-class="{'active':codelistCtrl.pageSize === 50}">50</button>
                            <button type="button" class="btn btn-default f-12 noboxshadow"
                                ng-click="codelistCtrl.pageSize = 100"
                                ng-class="{'active':codelistCtrl.pageSize === 100}">100</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 p-t-10 m-b-15 p-0" data-ng-include="'./application/modules/codelist/status.html'">
            </div>
        </div>
        <!--Details section for each code data -->
        <meta-data-panel></meta-data-panel>
    </div>
    <div ng-if="!permissionsMap.view && codelistCtrl.isLoaded && !codelistCtrl.rowsCount"
        data-ng-include="'./application/templates/restricted.access.html'"></div>
    <div data-ng-if="codelistCtrl.rowsCount === 0 && codelistCtrl.isLoaded && permissionsMap.view"
        class="module-content-configuration">
        <div class="col-xs-12 text-center text-info">
            <span class="f-15 f-300">No code exists. Please add code.</span>
        </div>
    </div>
    <div class="col-lg-12 p-0" ng-if="permissionsMap.view">
        <div id="refresh-table" class="p-15" data-ng-class="{'toggled':codelistCtrl.isRefreshTable}">
            <div class="col-xs-6 p-0">
                <span class="f-15 f-300 pull-left">{{codelistCtrl.refreshTableText}}</span>
            </div>
            <div class="col-xs-6 p-0" data-ng-if="codelistCtrl.totalTimeText">
                <span class="pull-right f-300">
                    <strong>{{codelistCtrl.totalRecords}}</strong>
                    <span class="f-14 c-gray">{{codelistCtrl.totalRecordsText}}</span>
                    <span ng-bind-html="codelistCtrl.totalTimeText"></span>
                </span>
            </div>
        </div>
    </div>
    <div data-ng-include="'./application/modules/codelist/panel.codelist.form.html'"></div>
</div>