<!-- <style>
    .panel-heading .accordion-toggle:after {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        color: grey;
    }
    
    .panel-heading .accordion-toggle.collapsed:after {
        content: "\e080";
    }
    
    .panel-body {
        border: 1px solid #eaeaea;
    }
    
    .status-entity {
        background: white;
    }
    
    .status-entity:hover {
        background: aliceblue;
        cursor: pointer;
    }
</style>
<div class="col-xs-12 bgm-white m-b-5" style="min-height: inherit;box-shadow: 0px 1px 3px #d0d0d0;">
    <span class="navbar-brand" href="javascript:void(0)">Entity Status</span>
</div>
<div class="col-xs-12 p-0">
    <div class="col-xs-2 p-0">
        <div class="col-xs-12 p-10 status-entity" ng-repeat="entity in codelistCtrl.entities" ng-class="{'background-hover c-black':codelistCtrl.selectedRow === $index}" ng-click="codelistCtrl.getStatusForEntity(entity,$index);">
            <span>
                    <span><a ng-class="{'c-black':codelistCtrl.selectedRow === $index}">{{ entity.entity }}</a></span>
            </span>
        </div>
    </div>
    <div class="col-xs-10 p-0">
        <div class="col-lg-5">
            <table class="table table-hover table-bordered table-condensed" style="box-shadow: none !important;">
                <thead>
                    <tr role="row">
                        <th class="iconcolumnwidth" style="width:1%;">Code</th>
                        <th class="iconcolumnwidth">Status</th>
                        <th class="iconcolumnwidth" style="width:2%;">Short Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="status in codelistCtrl.statuses">
                        <td class="text-center">{{status.code}}</td>
                        <td ng-class="{'text-success f-500': status.description==='Active' , 'text-warning f-300': status.description==='Pending', 'text-danger f-300': status.description==='Inactive','text-info f-300': status.description==='Discontinued'}">{{status.description}}</td>
                        <td class="d-flex d-flex-h-center">
                            <div ng-class="{'entity-status-badge success': status.description==='Active' , 'entity-status-badge warning': status.description==='Pending', 'entity-status-badge danger': status.description==='Inactive','entity-status-badge discontinued': status.description==='Discontinued','c-black':status.description ==='None'}">{{status.short_description}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->