<div class="container col-lg-12 p-0" data-ng-controller="InventoryTypeController as invtypeCtrl">
    <div class="rc-module-header d-flex">
        <div class="col-xs-12 p-0 d-flex" style="justify-content: space-between;">
            <div class="d-flex" style="padding: 0px 10px;box-shadow: 3px 0px 4px -1px #f7f7f7;">
                <div class="p-relative">
                    <div class="image-module p-absolute top-10">
                        <img src="./img/sidebar-icons/inventory-type.svg" />
                    </div>
                    <div class="label-module top-10">
                        <a class="p-l-40" href="javascript:void(0)">Inventory Types</a>
                    </div>
                </div>
            </div>
            <div class="d-flex" style="flex: 5;" ng-if="invtypeCtrl.inventoryTypesList.length > 0 && permissionsMap.view">
                <div class="d-flex d-flex-v-center p-l-20">
                    <div class="record-count-section tableheader-btn">
                        <span data-ng-if="!invtypeCtrl.search"> {{ invtypeCtrl.rowsInfo }} </span>
                        <span data-ng-if="invtypeCtrl.search">
                            Displaying {{ (invtypeCtrl.inventoryTypesList | filterBy:['id','code','inventory_type','description','nodescription']:invtypeCtrl.search).length }} of
                            {{ invtypeCtrl.inventoryTypesList.length }} Records
                        </span>
                    </div>

                </div>
            </div>

            <div class="d-flex" ng-if="invtypeCtrl.inventoryTypesList.length > 0 && permissionsMap.view">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="d-flex nav navbar-nav navbar-right">
                        <li>
                            <a>
                                <div class="search-section tableheader-btn pull-right">
                                    <input class="form-control input-sm " type="text " ng-model="invtypeCtrl.search"
                                        indicate-quick-search placeholder="Quick Search " data-ng-disabled="!invtypeCtrl.isLoaded" />
                                </div>
                            </a>
                        </li>
                        <li class="non-collapsed-link">
                            <a>
                                <button type="button" ng-click="invtypeCtrl.ShowHideColumnSettings()"
                                    class="btn-primal btn-block waves-effect" data-ng-disabled="!invtypeCtrl.isLoaded">
                                    <span class="f-700 ng-binding">Columns</span>
                                </button>
                            </a>
                        </li>
                        <li class="non-collapsed-link m-r-10">
                            <a>
                                <button type="button" ng-click="invtypeCtrl.getInventoryTypesList(true);" class="btn-primal btn-block waves-effect"
                                    data-ng-disabled="!invtypeCtrl.isLoaded">
                                    <span class="f-700 ng-binding">Refresh</span>
                                </button>
                            </a>
                        </li>
                        <li class="dropdown collapsed-link" uib-dropdown>
                            <a uib-dropdown-toggle class="full-height" href="">
                                <i class="tm-icon zmdi zmdi-more-vert f-25"></i>
                            </a>
                            <ul class="dropdown-menu dm-icon pull-right">
                                <li>
                                    <a data-ng-click="invtypeCtrl.isLoaded ? invtypeCtrl.ShowHideColumnSettings() : '' "
                                        data-ng-class="{'cursor-not-allowed': !invtypeCtrl.isLoaded}" href="">
                                        <i class="zmdi zmdi-view-week text-info"></i> Columns </a>
                                </li>
                                <li>
                                    <a data-ng-click="invtypeCtrl.isLoaded ? invtypeCtrl.getInventoryTypesList(true) : '' "
                                        data-ng-class="{'cursor-not-allowed': !invtypeCtrl.isLoaded}" href="">
                                        <i class="zmdi zmdi-refresh text-warning"></i> Refresh</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center module-content-configuration" data-ng-if="!invtypeCtrl.rowsCount && !invtypeCtrl.isLoaded && invtypeCtrl.isViewAuthorized">
        <span class="f-17 f-700 c-black">Loading</span>
        <span class="f-700" style="letter-spacing: 3px;">....</span>
    </div>
    <div data-ng-if="invtypeCtrl.rowsCount !== 0 && invtypeCtrl.isLoaded">
        <div class="rcp-table-container" ng-if="permissionsMap.view && invtypeCtrl.isLoaded">
            <div class="col-xs-12 p-0" data-ng-if="invtypeCtrl.isLoaded">
                <script type="text/javascript">

                    $(function () {
                        var pressed = false;
                        var start = undefined;
                        var startX, startWidth;


                        $("table th").dblclick(function (e) {
                            start = $(this);
                            pressed = true;
                            startX = e.pageX;
                            startWidth = $(this).width();
                            $(start).addClass("resizing");
                        });

                        $(document).mousemove(function (e) {
                            if (pressed) {
                                $(start).width(parseInt(startWidth + (e.pageX - startX)));
                            }
                        });

                        $(document).mouseup(function () {
                            if (pressed) {
                                $(start).removeClass("resizing");
                                pressed = false;
                            }
                        });
                    });
                </script>
                <div data-ng-include="'./application/modules/inventory.type/hideShowColumns.html'"></div>
                <div class="table-responsive module-content-configuration" data-ng-init="invtypeCtrl.pageChangeHandler(1)">
                    <div class="col-xs-12 p-0 o-auto sticky-head-container">
                        <table class="table table-hover table-vmiddle table-condensed table-bordered no-icon-table grid sticky-head-table">
                            <thead data-ng-show="invtypeCtrl.isLoaded">
                                <tr>
                                    <th class="text-center" id="id_col_head" drag-me drop-me data-handle=".handle"
                                        data-ng-click="invtypeCtrl.sortType = 'id'; sortReverse = !sortReverse"
                                        data-ng-hide="invtypeCtrl.inventoryTypesGrid.columns.id.visible == 0">
                                        <span class="handle">Id</span>
                                        <span ng-show="invtypeCtrl.sortType == 'id' && !sortReverse" class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="invtypeCtrl.sortType == 'id' && sortReverse" class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" id="code_col_head" drag-me drop-me data-handle=".handle"
                                        ng-click="invtypeCtrl.sortType = 'code'; sortReverse = !sortReverse"
                                        data-ng-hide="invtypeCtrl.inventoryTypesGrid.columns.code.visible == 0">
                                        <span class="handle">Code</span>
                                        <span ng-show="invtypeCtrl.sortType == 'code' && !sortReverse" class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="invtypeCtrl.sortType == 'code' && sortReverse" class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" id="type_col_head" drag-me drop-me data-handle=".handle"
                                        ng-click="invtypeCtrl.sortType = 'type'; sortReverse = !sortReverse"
                                        data-ng-hide="invtypeCtrl.inventoryTypesGrid.columns.type.visible == 0">
                                        <span class="handle">Inventory Type</span>
                                        <span ng-show="invtypeCtrl.sortType == 'type' && !sortReverse" class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="invtypeCtrl.sortType == 'type' && sortReverse" class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                    <th class="text-center" id="description_col_head" drag-me drop-me data-handle=".handle"
                                        ng-click="invtypeCtrl.sortType = 'description'; sortReverse = !sortReverse"
                                        data-ng-hide="invtypeCtrl.inventoryTypesGrid.columns.description.visible == 0">
                                        <span class="handle">Description</span>
                                        <span ng-show="invtypeCtrl.sortType == 'description' && !sortReverse" class="zmdi zmdi-caret-down pull-right"></span>
                                        <span ng-show="invtypeCtrl.sortType == 'description' && sortReverse" class="zmdi zmdi-caret-up pull-right"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="inventoryType in invtypeCtrl.inventoryTypesList|filterBy:['id','code','inventory_type','description','nodescription']:invtypeCtrl.search | orderBy:invtypeCtrl.sortType:sortReverse|itemsPerPage:invtypeCtrl.pageSize"
                                    ng-class="{'background-hover':$index === invtypeCtrl.selectedRow}" data-ng-click="invtypeCtrl.setClickedRow($index);"
                                    ios-dblclick1="invtypeCtrl.dblClickAction(inventoryType);" selectedrow="{{inventoryType}}">
                                    <td class="id_col iconcolumnWidth" data-ng-hide="invtypeCtrl.inventoryTypesGrid.columns.id.visible == 0">
                                        {{inventoryType.id}}
                                    </td>
                                    <td class="code_col" data-ng-hide="invtypeCtrl.inventoryTypesGrid.columns.code.visible == 0">
                                        {{inventoryType.code}}
                                    </td>
                                    <td class="type_col" data-ng-hide="invtypeCtrl.inventoryTypesGrid.columns.type.visible == 0">
                                        {{inventoryType.inventory_type}}
                                    </td>
                                    <td class="description_col" data-ng-hide="invtypeCtrl.inventoryTypesGrid.columns.description.visible == 0">
                                        {{inventoryType.nodescription = inventoryType.description || "Not Available"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="align-items-center col-lg-12 d-flex justify-content-between p-15">
                        <dir-pagination-controls template-url="rc-pagination.html" class="pull-left" boundary-links="true" on-page-change="invtypeCtrl.pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                        <div class="btn-group pull-right ng-table-counts m-0">
                            <button type="button" class="btn btn-default f-12 noboxshadow" ng-click="invtypeCtrl.pageSize = 10"
                                ng-class="{'active':invtypeCtrl.pageSize === 10}">10</button>
                            <button type="button" class="btn btn-default f-12 noboxshadow" ng-click="invtypeCtrl.pageSize = 25"
                                ng-class="{'active':invtypeCtrl.pageSize === 25}">25</button>
                            <button type="button" class="btn btn-default f-12 noboxshadow" ng-click="invtypeCtrl.pageSize = 50"
                                ng-class="{'active':invtypeCtrl.pageSize === 50}">50</button>
                            <button type="button" class="btn btn-default f-12 noboxshadow" ng-click="invtypeCtrl.pageSize = 100"
                                ng-class="{'active':invtypeCtrl.pageSize === 100}">100</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="permissionsMap && !permissionsMap.view && invtypeCtrl.isLoaded"
            ng-include="'./application/templates/restricted.access.html'"></div>
    </div>
    <!--Details section for each inventory type data -->
    <div ng-if="!invtypeCtrl.isViewAuthorized" data-ng-include="'./application/templates/restricted.access.html'"></div>
    <div class="col-lg-12 p-0">
        <div id="refresh-table" class="p-15" data-ng-class="{'toggled':invtypeCtrl.isRefreshTable}">
            <div class="col-xs-6 p-0">
                <span class="f-15 f-300 pull-left">{{invtypeCtrl.refreshTableText}}</span>
            </div>
            <div class="col-xs-6 p-0" data-ng-if="invtypeCtrl.totalTimeText">
                <span class="pull-right f-300">
                    <strong>{{invtypeCtrl.totalRecords}}</strong>
                    <span class="f-14 c-gray">{{invtypeCtrl.totalRecordsText}}</span>
                    <span ng-bind-html="invtypeCtrl.totalTimeText"></span>
                </span>
            </div>
        </div>
    </div>
    <div data-ng-if="invtypeCtrl.rowsCount === 0 && invtypeCtrl.isLoaded" class="module-content-configuration">
        <div class="col-xs-12 text-center text-info">
            <span class="f-15 f-300">No inventory type exists. Please add inventory type.</span>
        </div>
    </div>
    <div data-ng-include="'./application/modules/inventory.type/panel.inventory.type.form.html'"></div>
</div>