<keybinding on="alt+s" invoke="saveFn()" data-ng-if="newForm" />
<keybinding on="alt+s" invoke="updateFn()" data-ng-if="!newForm" />
<keybinding on="alt+d" invoke="deleteFn()" data-ng-if="entityId && !updateSuccess" />
<div class="fg-line form-group" ng-if="!confirmDelete">
    <button type="button" class="btn-block btn-primal btn-lg tabfocus-btn" id="save_btn"
        ng-click="saveFn();" ng-class="{'btn-danger': saveBtnError === true}" data-ng-if="newForm"
        data-ng-disabled="enableButton || disableActions">
        <strong>{{saveBtnText}}</strong>
    </button>
    <button type="button" class="btn-block btn-primal btn-lg tabfocus-btn" id="update_btn"
        ng-click="updateFn();" ng-class="{'btn-danger': updateBtnError === true}" data-ng-if="!newForm"
        data-ng-disabled="enableButton || disableActions || !accessPermissions.update">
        <div title="{{!accessPermissions.update ? 'Access denied' : ''}}">
            <strong>{{updateBtnText}}</strong></div>
    </button>
</div>
<div class="fg-line form-group">
    <button type="button" class="btn-block btn-secondary btn-lg tabfocus-btn"
        id="delete_btn" ng-click="confirmFn();setAnimation('zoomin','zoomEntrancesdel');"
        data-ng-if="entityId && !updateSuccess" data-ng-disabled="enableButton || disableActions || !accessPermissions.delete">
        <div title="{{!accessPermissions.delete ? 'Access denied' : ''}}" title-direction="top" fixed-position="true">
            <strong>Delete</strong></div>
    </button>
    <button type="button"
        class="btn-block btn-secondary btn-inverse btn-lg m-t-10 tabfocus-btn" id="configure_udd_btn"
        ng-click="configureUddFn();" data-ng-if="entityId && !updateSuccess && configureUddFlag"
        data-ng-disabled="disableActions">
        <strong ng-if="!configureUddEntityId">Configure UDD</strong>
        <strong ng-if="configureUddEntityId == 1">Configure Location Type UDD</strong>
        <strong ng-if="configureUddEntityId == 7">Configure Item Type UDD</strong>
        <strong ng-if="configureUddEntityId == 23">Configure Vendor Type UDD</strong>
        <strong ng-if="configureUddEntityId == 314">Configure MTO Type UDD</strong>
    </button>
    <div ng-if="confirmDelete">
        <rcp-delete-form delete-fn="deleteFn();"></rcp-delete-form>
    </div>
</div>
<!--<div data-ng-if="disableActions">
    <p class="text-danger">* Configuration status should be "Active" to create & maintain entities.</p>
</div>-->
