<div data-ng-if="itemTypeUDDCtrl.messagesList && itemTypeUDDCtrl.messagesList.length > 0">
        <div class="col-xs-12">
            <button type="button" class="btn btn-cancel waves-effect f-700 pull-right" data-ng-click="itemTypeUDDCtrl.messagesList = []; itemTypeUDDCtrl.new_type_udd.user_defined_data_id = undefined; itemTypeUDDCtrl.attributeHierarchyModel={}; itemTypeUDDCtrl.resetDefaultValue(itemTypeUDDCtrl.new_type_udd);">Go Back</button>
        </div>
        <div class="col-xs-12" data-ng-repeat="message in itemTypeUDDCtrl.messagesList">
            <div class="rc-alert rc-alert-error m-t-10 col-xs-12" aria-hidden="false" role="alert">
                <div class="col-xs-12 d-flex m-b-5 p-0">
                    <div class="rc-alert-icon-section">
                        <span class="zmdi zmdi-alert-polygon" style="font-size:35px">
                        </span>
                    </div>
                    <div data-ng-if="message.attribute_or_hierarchy">
                        <div class="rc-alert-header">User defined data &lt;{{::message.attribute_or_hierarchy}}&gt; already exists for item type &lt;
                            {{::message.itemType}} &gt;.
                        </div>
                    </div>
                    <div data-ng-if="message.message">
                        <div class="rc-alert-header">{{::message.message}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
