<style>
    button:focus{
        outline: 5px auto #6ecaf6!important
    }
</style>
<div id="rcrightsidebar" class=" toggled"
    data-ng-class="{'changeposition': itemColCtrl.showDependencyDetailsData === true || showhistory === true}">
    <div class="col-xs-12 side-panel-name m-t-25">
        <button type="button" class="close-icon bg-none border-none btn-link p-0" data-ng-click="itemColCtrl.closeForm();closeShowHistory();">
            <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x"></span>
        </button>
        <div class="panel-name-section">
            <label class="rclabel editformlabel" title="{{itemColCtrl.moduleNameCol}}">Create
                <strong>{{itemColCtrl.moduleNameCol | truncate :30}}</strong></label>
        </div>
    </div>
    <div class="col-xs-12" ng-if="!itemColCtrl.isUnauthorized">
        <div class="d-flex m-b-10 m-t-10" ng-if="itemColCtrl.showDependencyDetails || !(itemColCtrl.isSaveSuccess)">
            <div class="m-auto updatepanel">
                <div data-ng-include="'./img/sidebar-icons/itemCollection.svg'"></div>
            </div>
        </div>
        <div class="form-group col-xs-12 p-0" ng-if="!itemColCtrl.showDependencyDetails">
            <div data-ng-if="!itemColCtrl.isSaveSuccess">
                <ng-form name="itemColCtrl.itemCol_form" role="form" novalidate="novalidate" valdr-type="RULES-88">
                    <div class="form-group" valdr-form-group>
                        <span class="c-red" ng-show="itemColCtrl.itemCol_form.short_description.$invalid">* </span>
                        <span class="c-green" ng-show="itemColCtrl.itemCol_form.short_description.$valid">* </span>
                        <label>Short Description</label>
                        <input id="short_description" name="short_description" type="text"
                            class="form-control input-sm" ng-model="itemColCtrl.itemCol_details.short_description"
                            placeholder="Enter Short Description"
                            errorvalue="itemColCtrl.itemCol_details.short_description_error"
                            ng-model-options="{ updateOn: 'blur' }">
                    </div>
                    <div class="form-group" valdr-form-group>
                        <span class="c-red" ng-show="itemColCtrl.itemCol_form.collection_status_id.$invalid">* </span>
                        <span class="c-green" ng-show="itemColCtrl.itemCol_form.collection_status_id.$valid">* </span>
                        <label>Status</label>
                        <select name="collection_status_id"
                            class="form-control select-component input-sm" id="collection_status_id"
                            ng-options="item.code as item.description for item in statuses"
                            ng-model="itemColCtrl.itemCol_details.collection_status_id"
                            errorvaluechosen="itemColCtrl.itemCol_details.collection_status_id_error" data-ng-change="itemColCtrl.itemCol_details.status=(statuses|filter:{code:itemColCtrl.itemCol_details.collection_status_id})[0].description">
                            <option value="" disabled>Select Status</option>
                        </select>
                    </div>
                    <rcp-edit-form-btns new-form="true" save-fn="itemColCtrl.save(itemColCtrl.itemCol_details);"
                        save-btn-text="itemColCtrl.saveBtnText" save-btn-error="itemColCtrl.saveBtnError"
                        enable-button="itemColCtrl.itemCol_form.$invalid || itemColCtrl.isProcessing">
                    </rcp-edit-form-btns>
                </ng-form>
            </div>
            <rcp-success-form success-tick="success_tick.svg" create-new-fn="itemColCtrl.createAnotherForm();"
                close-fn="itemColCtrl.closeForm();" save-success="itemColCtrl.isSaveSuccess">
            </rcp-success-form>
        </div>
        <div class="col-xs-12">
            <div data-ng-show="itemColCtrl.message" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-ng-click="itemColCtrl.message = null"
                    aria-hidden="true">&times;</button> {{itemColCtrl.message}}
            </div>
        </div>
    </div>
    <div ng-if="itemColCtrl.isUnauthorized" data-ng-include="'./application/templates/restricted.access.compact.html'">
    </div>
</div>