<div id="rcrightsidebar" class="rcpscrollbar changehistory" data-ng-class="{'toggled':itemColCtrl.showDependencyDetailsData=== true}">
    <div class="col-xs-12 side-panel-name m-t-25">
        <div class="close-icon">
            <a data-ng-click="itemColCtrl.closeDependencyDetails();" class="cursor-pointer">
                <span class="zmdi zmdi-long-arrow-right zmdi-hc-fw zmdi-hc-3x"></span>
            </a>
        </div>
        <div class="panel-name-section">
            <label class="rclabel editformlabel" title="Dependency Details"><strong>Dependency Details</strong></label>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="dependencyMargin">
            <div class="col-xs-12 p-0 m-b-20">
                <h4>Item Collection Details</h4>
                <table class="table table-bordered dependency-table">
                    <tr>
                        <td>Short Description</td>
                        <td class="highlight-text-success" title="{{itemColCtrl.itemCol_details.short_description}}">{{itemColCtrl.itemCol_details.short_description | truncate:20}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td title="{{itemColCtrl.itemCol_details.status}}">{{itemColCtrl.itemCol_details.status}}</td>
                    </tr>
                </table>
                <h4>Item Dependent Details</h4>
                <table class="table table-bordered dependency-table">
                    <tr>
                        <td>Description</td>
                        <td class="highlight-text-success" title="{{itemColCtrl.errorDependentData.description}}">{{itemColCtrl.errorDependentData.description | truncate:20}}</td>
                    </tr>
                    <tr>
                        <td>Item/Set</td>
                        <td title="{{itemColCtrl.errorDependentData.item_sub_type}}">{{itemColCtrl.errorDependentData.item_sub_type}}</td>
                    </tr>
                    <tr>
                        <td>Qualifier</td>
                        <td title="{{itemColCtrl.errorDependentData.qualifier}}">{{itemColCtrl.errorDependentData.qualifier}}</td>
                    </tr>
                    <tr>
                        <td>Next Effective Date</td>
                        <td ng-show="itemColCtrl.errorDependentData.next_status !== 'None'" title="{{itemColCtrl.errorDependentData.next_effective_date | FormatDate}}">{{itemColCtrl.errorDependentData.next_effective_date | FormatDate}}</td>
                        <td ng-show="itemColCtrl.errorDependentData.next_status === 'None'" title="{{itemColCtrl.errorDependentData.next_effective_date}}">N/A</td>
                    </tr>
                </table>
                </br>
                <div class="dependency-notifyMessage"> <i class="zmdi zmdi-lamp zmdi-hc-fw zmdi-hc-rotate-180 dependency-notifyIcon"></i><span>{{itemColCtrl.errorDependentData.message}}</span></div>
                <!--<button type="button" class="btn btn-view-values m-5 pull-right m-t-10" ng-click=""><bold>Delete Item</bold></button>-->
            </div>
        </div>
    </div>
</div>