<link rel="stylesheet" href="./application/modules/item/sku/retails/sku.retail.css">
<div class="col-lg-12 p-0" data-ng-controller="SkuRetailController as skuRetailCtrl"
    data-ng-init="skuRetailCtrl.showRetailScreen(skuMaintCtrl)">
    <nav class="navbar navbar-toolbar navbar-default fixed-top">
        <div class="bgm-white header-module">
            <div class="navbar-header p-relative" style="min-height: inherit;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="image-module p-absolute">
                    <img src="./img/sidebar-icons/retail.svg" />
                </div>
                <div class="label-module p-absolute text-overflow-desc-auto"
                    title="Retails for {{skuRetailCtrl.sku_detail.description}} - {{skuRetailCtrl.sku_detail.sku}}" title-direction="bottom">
                    <a class="navbar-brand" href="javascript:void(0)">Retails for {{skuRetailCtrl.sku_detail.description | truncate : 40}} - {{skuRetailCtrl.sku_detail.sku}}
                    </a>
                </div>
            </div>
            <div id="navbar" class="col-xs-12 bgm-white pull-right navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <button type="button" class="btn btn-success btn-block waves-effect f-700"
                                ng-click="skuRetailCtrl.toggleCopyRetailSidePanel(true)">Duplicate Retail</button>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <button type="button" class="btn btn-success btn-block waves-effect f-700"
                                ng-click="skuRetailCtrl.toggleRetailSidePanelfalse, (true)">Set Retail</button>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a data-ng-click="skuRetailCtrl.goBack()">
                            <button type="button" class="btn btn-cancel btn-block waves-effect f-700">Go Back</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-4 col-sm-6 col-xs-12 p-20 ng-scope"
        data-ng-repeat="retail in skuRetailCtrl.retails | orderBy:'-effective_date'">
        <div class="col-lg-12 col-md-12 col-sm-12 p-0">
            <div class="col-xs-12 p-0"
                style="background: #fefeff;box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, .08);/* border: 1px solid #ffffff; */">
                <div class="col-xs-12 p-0" style="border-bottom: 2px solid #dcdcdc;background-color: #ffffff;">
                    <div class="col-sm-6 col-xs-12 p-10"
                        style="display: flex;align-items: flex-start;flex-direction: column;">
                        <div>
                            <span class="f-11" style="color: #6b6b6b;">Effective Date </span>
                        </div>
                        <span class="f-14 f-700" style="color: #ef6f6f;"> {{retail.effective_date | FormatDate}}</span>
                    </div>
                    <div class="col-sm-6 col-xs-12 p-10"
                        style="display: flex;align-items: center;justify-content: space-between;border-left: 1px solid #dcdcdc;">
                        <div style="display: flex;align-items: flex-start;flex-direction: column;">
                            <div>
                                <span class="f-11" style="color: #6b6b6b;">Retail Reason </span>
                            </div>
                            <span class="f-14 f-700" style="color: #ef6f6f;">{{retail.reason}} </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" style="background: #fffbf1;padding: 5px;box-shadow: 0px 1px 1px 0px #efefef;">
                    <span class="m-l-15 pull-right p-r-10 p-t-5" style="color: #a99141;">{{retail.price_type}}</span>
                    <button class="btn btn-link pull-left" data-toggle="#detailpricemodal"
                        data-ng-click="skuRetailCtrl.detailPriceType(true,retail);">Detailed price types</button>
                </div>
                <div data-ng-if="skuRetailCtrl.sku_detail.sku_type!=='MTO'" class="col-xs-12 p-5"
                    style="border-bottom: 1px solid #ededed;display: flex;justify-content: space-between;"
                    data-ng-repeat="retail_pg in retail.retails | orderBy:'price_class_udd_line_id'">
                    <span class="" style="color: gray;">{{retail_pg.price_class}}</span>
                    <span class="f-700 pull-right" style="color: #5ac94d;">
                        <input type="text" ng-readonly="{{!retail.isUpdate}}" currency="2" currency-point="."
                            class="form-control retail-text" ng-model="retail_pg.retail"
                            data-ng-init="retail_pg.old_retail=retail_pg.retail"
                            data-ng-blur="(retail.isUpdate && skuRetailCtrl.saveSkuRetailItem(retail_pg,retail))">
                    </span>
                </div>
                <div data-ng-if="skuRetailCtrl.sku_detail.sku_type ==='MTO'" class="col-xs-12">
                    <div class="col-xs-12 p-5"
                        style="border-bottom: 1px solid #ededed;display: flex;justify-content: space-between;overflow:auto;"
                        data-ng-repeat="retail_pg in retail.price_groups | orderBy:'price_class_udd_line_id'">
                        <div class="d-flex">
                            <span class="" style="color: gray;">{{retail_pg.price_class}}</span>
                        </div>
                        <div class="d-flex">
                            <span class="f-700 pull-right" style="color: #5ac94d;">
                                <input type="text" ng-readonly="{{!retail.isUpdate}}" currency="2" currency-point="."
                                    class="form-control retail-text" ng-model="retail_pg.retail"
                                    data-ng-init="retail_pg.old_retail=retail_pg.retail"
                                    data-ng-blur="(retail.isUpdate && skuRetailCtrl.saveMTOSkuRetailItem(retail_pg,retail,null,2))">
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 p-0"
                        style="border-bottom: 1px solid #ededed;display: flex;justify-content: space-between;"
                        data-ng-repeat="mto_type in retail.mto_types">
                        <div class="col-xs-12 p-0">
                            <div class="col-xs-12 p-5 p-l-10 f-15 bgm-darkblue">
                                <span class="c-white f-12 f-700">{{mto_type.type_desc}}</span>
                            </div>
                            <div class="col-xs-12 p-0" data-ng-repeat="price_group in mto_type.subPriceGroups">
                                <div
                                    style="display:flex;align-items:center;justify-content:space-between;background: linear-gradient(#ffffff,#e8e8e8);border-bottom: 1px solid;padding:7px;">
                                    <span class="c-black">{{price_group.mto_description}}</span>
                                    <span class="c-firebrick">{{price_group.price_group_desc}}</span>
                                </div>
                                <div class="col-xs-12 p-0">
                                    <div class="col-lg-12 p-5"
                                        style="border-bottom: 1px solid #ededed;display: flex;justify-content: space-between;"
                                        data-ng-repeat="retail_pg in price_group.price_groups | orderBy:'price_class_udd_line_id'">
                                        <span class="" style="color: gray;">{{retail_pg.price_class}}</span>
                                        <span class="f-700 pull-right" style="color: #5ac94d;">
                                            <input type="text" ng-readonly="{{!retail.isUpdate}}" currency="2"
                                                currency-point="." class="form-control retail-text"
                                                ng-model="retail_pg.retail"
                                                data-ng-init="retail_pg.old_retail=retail_pg.retail"
                                                data-ng-blur="(retail.isUpdate && skuRetailCtrl.saveMTOSkuRetailItem(retail_pg,retail,price_group,1))">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 p-0" data-ng-repeat="choice in mto_type.subByChoices">
                                <div
                                    style="display:flex;align-items:center;justify-content:space-between;background: linear-gradient(#ffffff,#e8e8e8);border-bottom: 1px solid;padding:7px;">
                                    <span class="c-black">{{choice.mto_description}}</span>
                                    <span class="c-firebrick">{{choice.choice_desc}}</span>
                                </div>
                                <div class="col-xs-12 p-0">
                                    <div class="col-xs-12 p-5"
                                        style="border-bottom: 1px solid #ededed;display: flex;justify-content: space-between;"
                                        data-ng-repeat="retail_pg in choice.price_groups | orderBy:'price_class_udd_line_id'">
                                        <span class="" style="color: gray;">{{retail_pg.price_class}}</span>
                                        <span class="f-700 pull-right" style="color: #5ac94d;">
                                            <input type="text" ng-readonly="{{!retail.isUpdate}}" currency="2"
                                                currency-point="." class="form-control retail-text"
                                                ng-model="retail_pg.retail"
                                                data-ng-init="retail_pg.old_retail=retail_pg.retail"
                                                data-ng-blur="(retail.isUpdate && skuRetailCtrl.saveMTOSkuRetailItem(retail_pg,retail,choice,0))">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div data-ng-include="'./application/modules/item/sku/retails/panel.sku.retail.create.retail.html'"></div>
    <div data-ng-include="'./application/modules/item/sku/retails/modal.sku.detail.view.html'"></div>
    <!-- <div data-ng-include="'./application/modules/item/sku/retails/panel.sku.retail.copy.retail.html'"></div> -->
    <div data-ng-include="'./application/modules/item/sku/retails/retail.create.set.form.html'"></div>
    <!-- <div ng-include="'./application/modules/item/sku/retails/panel.sku.rounding.rules.html'"> -->
</div>
